<template>
	<view class="task" style="background: #FFFFFF;">
		<view class="category">
			<view class="box">
				<swiper class="swiper" duration="300" :style="{ height: categoryHeight }" @change="categoryChange">
					<swiper-item v-for="(nav, index5) in bannerButtonList" :key="index5">
						<view class="category-list">
							<view class="icon" v-for="(item,ind) in nav" :key="ind"
								@tap='toNavList(item.url,item.name,ind)'>
								<image mode="widthFix" :src="item.imageUrl"
									style="height: 90upx;width: 90upx;border-radius: 50upx;"></image>
								<view :style="ind == selecIndex ? 'margin-top: 5upx;color: #ef5b05;' : 'margin-top: 5upx;'">{{ item.name }}</view>
							</view>
						</view>
					</swiper-item>
				</swiper>
				<view class="dots">
					<view v-for="(page, pageindex) in bannerButtonList" :key="pageindex"
						:class="{ active: pageindex == currentPageindex }"></view>
				</view>
			</view>
		</view>

		<view class="task-content">
			<view>
				<uni-list v-if="taskList.length > 0">
					<uni-list-item :show-arrow="false" v-for="(item, index) in taskList" :key="index">
						<view style="width: 100%;display: flex;" @click="taskItem(item.id)">
							<view style="width:76%;display: flex;">
								<image :src="item.label"
									style="border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;">
								</image>
								<view style="width: 75%;margin-left: 20upx;">
									<view style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
										{{ item.title }}
									</view>
									<view style="width: 100%;font-size: 26upx;margin-top: 10upx;color: #999999;">
										ID:{{item.id}} <text
											style="margin-left: 20upx;">{{ item.endNum }}人已接，剩余{{ item.taskNum - item.endNum }}个</text>
									</view>
									<view v-if="item.tag"
										style="font-size: 24upx;background: #fff5f4;padding: 5upx;width: max-content;margin-top: 5upx;color: #ef5b05;">
										{{item.tag}}
									</view>
								</view>
							</view>
							<view style="width: 24%;text-align: right;">
								<view
									style="text-align: right;margin-left: 10upx;margin-top: 10upx;font-size: 38upx;color: #ef5b05;font-weight: 600;">
									<text style="font-size: 28upx;height: 50upx;">+</text> {{ item.taskOriginalPrice }}元
								</view>
								<image src="https://renwu.xiansqx.com/img/20210813/39a7900471464f38896bce855e4bce81.png"
									v-if='item.isTop == 1'
									style="margin-left: 10upx;width: 40upx;height: 30upx;font-size: 20upx;;border-radius: 10upx;margin-right: 10upx;color: #FFFFFF;padding-left: 10upx;margin-top: 30upx;">
								</image>
							</view>
						</view>
					</uni-list-item>
				</uni-list>

			</view>
			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']"
				style="bottom: 56px;"><text class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="taskList.length > 0">
				<load-more :loadingType="loadingType" :contentText="contentText"></load-more>
			</view>
			<!-- 加载更多提示 -->
			<empty v-if="taskList.length === 0" des="暂无数据" show="false"></empty>
		</view>
	</view>
	</view>
</template>

<script>
	import tuiIcon from '@/components/icon/icon';
	import tuiTag from '@/components/tag/tag';
	import uniList from '@/components/uni-list/uni-list.vue';
	import uniListItem from '@/components/uni-list-item/uni-list-item.vue';
	import tuiListCell from '@/components/list-cell/list-cell';
	import tuiLoadmore from '@/components/loadmore/loadmore';
	import tuiNomore from '@/components/nomore/nomore';
	import tuiTips from '@/components/tips/tips';
	import tNewsItem from '@/components/views/t-news-item/t-news-item.nvue';
	import tRtPopup from '@/components/views/t-rt-popup/t-rt-popup';
	import tuiButton from '@/components/thorui/tui-button/tui-button.vue';

	export default {
		components: {
			uniList,
			uniListItem,
			tuiIcon,
			tuiTag,
			tuiListCell,
			tuiLoadmore,
			tuiNomore,
			tuiTips,
			tNewsItem,
			tuiButton,
			tRtPopup
		},
		data() {
			return {
				currentPageindex: 0,
				selecIndex:-1,
				categoryHeight: '300rpx',
				bannerButtonList: [],
				taskList: [],
				rate: [],
				userState: '',
				classifyId: 0,
				tabSort: 0,
				page: 1,
				size: 10,
				cid: 0,
				type: 1,
				loadingType: 0,
				scrollTop: false,
				contentText: {
					contentdown: '上拉显示更多',
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了'
				}
			};
		},
		onShow() {
			let userId = this.$queue.getData('userId');
			if (userId) {
				this.getUserInfo(userId);
				this.selectTask('');
			}
			this.getSelectBanner();
		},
		onLoad: function(options) {
			this.classifyId = options.id;
			if(options.selecIndex){
				this.selecIndex = options.selecIndex;
			}
			if (options.name) {
				uni.setNavigationBarTitle({
					title: options.name
				})
			}
		},
		methods: {
			/**
			 * @param {Object} url
			 */
			toNavList: function(url, name,index) {
				if (!url) return;
				this.selecIndex = index;
				let token = this.$queue.getData('token');
				if (token) {
					if (url.indexOf('/pages/') !== -1) {
						if (url.indexOf('/pages/index/classIfyItemTask') !== -1) {
							if (name) {
								uni.setNavigationBarTitle({
									title: name
								})
							}
							this.classifyId = url.split('?id=')[1].split('&')[0];
							this.page = 1;
							this.selectTask('');
						} else {
							uni.navigateTo({
								url
							});
						}
					} else {
						//#ifndef H5
						uni.navigateTo({
							url: '/pages/member/webview?url=' + url
						});
						//#endif
						//#ifdef H5
						window.location.href = url;
						//#endif
					}
				} else {
					this.goLoginInfo();
				}
			},
			//更新分类指示器
			categoryChange(event) {
				this.currentPageindex = event.detail.current;
			},
			// 传进数组和指定个数，进行拆分
			chunk: function(array, size) {
				//获取数组的长度，如果你传入的不是数组，那么获取到的就是undefined
				const length = array.length
				//判断不是数组，或者size没有设置，size小于1，就返回空数组
				if (!length || !size || size < 1) {
					return []
				}
				//核心部分
				let index = 0 //用来表示切割元素的范围start
				let resIndex = 0 //用来递增表示输出数组的下标

				//根据length和size算出输出数组的长度，并且创建它。
				let result = new Array(Math.ceil(length / size))
				//进行循环
				while (index < length) {
					//循环过程中设置result[0]和result[1]的值。该值根据array.slice切割得到。
					result[resIndex++] = array.slice(index, (index += size))
				}
				//输出新数组
				return result
			},
			getSelectBanner() {
				this.$Request.getT('/banner/selectBannerList?classify=2&state=1').then(res => {
					var datanew = this.chunk(res.data, 10)
					this.bannerButtonList = datanew;
					if (res.data.length > 5) {
						this.categoryHeight = "300rpx"
					} else {
						this.categoryHeight = "150rpx"
					}
				});
			},
			getUserInfo(userId) {
				this.$Request.postJson('/app/selectUserById?userId=' + userId).then(res => {
					if (res.code === 0) {
						this.userState = res.data.member;
					} else {
						uni.showModal({
							showCancel: false,
							title: '登录失败',
							content: res.msg
						});
						this.$queue.logout();
					}
					uni.hideLoading();
				});
			},
			selectTask(type) {
				this.loadingType = 1;
				uni.showLoading({
					title: '加载中...'
				});
				var userStateByMoney = 1;
				let userId = this.$queue.getData('userId');
				this.$Request.getJ('/helpClassify/selectHelpTaskByClassify?page=' + this.page + '&limit=' + this.size +
						'&classifyDetailsId=' + this.classifyId + '&userId=' + userId)
					.then(res => {
						if (res.code === 0) {
							if (this.page === 1) {
								this.taskList = [];
							}
							for (var i = 0; i < res.data.pageUtils.list.length; i++) {
								var jiaqian = res.data.pageUtils.list[i].taskOriginalPrice;
								var ping = res.data.ping.rate;
								var zhishu = res.data.zhishu.rate;
								var feizhishu = res.data.feizhishu.rate;
								res.data.pageUtils.list[i].taskOriginalPrice = this.numFilter(jiaqian - (jiaqian *
									ping +
									jiaqian * zhishu + jiaqian *
									feizhishu));
								this.taskList.push(res.data.pageUtils.list[i]);
							}

							if (res.data.pageUtils.list.length === this.size) {
								this.loadingType = 0;
							} else {
								this.loadingType = 3;
							}
						} else {
							this.loadingType = 2;
						}
						uni.hideLoading();
						if (type === 'Refresh') {
							uni.stopPullDownRefresh(); // 停止刷新
						}
					});
			},
			numFilter(value) {
				// 截取当前数据到小数点后三位
				let tempVal = parseFloat(value).toFixed(3)
				let realVal = tempVal.substring(0, tempVal.length - 1)
				return realVal
			},
			taskItem(id) {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/taskItem?id=' + id
					});
				} else {
					this.goLoginInfo();
				}
			},
			//统一登录跳转
			goLoginInfo() {
				this.$queue.setData('href', '/pages/task/index');
				uni.navigateTo({
					url: '/pages/public/login'
				});
			},
			topScrollTap: function() {
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				});
			}
		},
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop > 200;
		},
		onReachBottom: function() {
			this.page = this.page + 1;
			this.selectTask('');
		},
		onPullDownRefresh: function() {
			this.page = 1;
			this.selectTask('Refresh');
		}
	};
</script>

<style lang="less">
	@import '../../static/less/index.less';
	@import '../../static/css/index.css';

	page {
		background: #ffffff;
	}

	.category {
		width: 100%;

		.box {
			width: 100%;
			border-radius: 20upx;
			background-color: #ffffff;

			.dots {
				display: flex;
				justify-content: center;
				height: 15upx;
				width: 100%;

				view {
					width: 30upx;
					height: 5upx;
					background-color: rgba(0, 0, 0, 0.2);

					&.active {
						background-color: #ff570a;
					}
				}
			}

			.swiper {
				width: 100%;
				padding: 10upx 0;

				.uni-swiper-dot {
					width: 20upx;
				}

				.category-list {
					width: 100%;
					height: auto;
					display: flex;
					justify-content: flex-start;
					flex-flow: wrap;

					.icon {
						width: 20%;
						display: flex;
						flex-flow: wrap;
						justify-content: center;
						font-size: 22upx;
						color: #666;
						margin-bottom: 20upx;

						image {
							width: 70%;
							height: 13.3vw;
						}

						view {
							width: 100%;
							display: flex;
							justify-content: center;
						}
					}
				}
			}
		}
	}
</style>
