<template>
	<view>
		<view class="category-list">
			<!-- 左侧分类导航 -->
			<scroll-view scroll-y="true" class="left">
				<view
					class="row"
					v-for="(category, index) in categoryList"
					:key="category.cid"
					:class="[category.cid == showCategoryIndex ? 'on' : '']"
					@click="showCategory(category.cid)"
				>
					<view class="text">
						<view class="block"></view>
						{{ category.main_name }}
					</view>
				</view>
			</scroll-view>
			<!-- 右侧子导航 -->
			<scroll-view scroll-y="true" class="right">
				<view class="category" v-for="(category, index) in categoryList" :key="index" v-if="category.cid == showCategoryIndex">
					<view v-for="(box, i) in category.data" :key="i">
						<view style="text-align: center">
							<text style="color: gainsboro">—</text>
							<text style="color: #000000;margin-right: 8px;margin-left: 8px">{{ box.next_name }}</text>
							<text style="color: gainsboro">—</text>
						</view>
						<view class="list" v-if="box.info.length > 0">
							<view class="box" v-for="(item, i1) in box.info" :key="i1">
								<image @click="toCategory(item.son_name)" :src="item.imgurl" lazy-load="true" fade-show="true"></image>
								<view class="text">{{ item.son_name }}</view>
							</view>
						</view>
					</view>
				</view>
			</scroll-view>
		</view>
	</view>
</template>
<script>
//高德SDK
export default {
	data() {
		return {
			showCategoryIndex: 1,
			headerPosition: 'fixed',
			categoryList: [
				{
					cid: 1,
					main_name: '女装',
					data: [
						{
							next_name: '裙装',
							info: [
								{
									son_name: '连衣裙',
									imgurl: 'http://img.haodanku.com/89937f347f81f5c5539f9da9b35b7a62-600'
								},
								{
									son_name: '雪纺裙',
									imgurl: 'http://img.haodanku.com/3deb054da8cb2f4b1b5a07ab530e7e41-600'
								},
								{
									son_name: '半身裙',
									imgurl: 'http://img.haodanku.com/b68bc66ab1a81db336110b7c1196b5a9-600'
								},
								{
									son_name: '印花裙',
									imgurl: 'http://img.haodanku.com/3ce7249ba847286308c82bed97f7817d-600'
								},
								{
									son_name: '吊带裙',
									imgurl: 'http://img.haodanku.com/0716abc13652355b130dc3c83d39a7dc-600'
								},
								{
									son_name: '纯色裙',
									imgurl: 'http://img.haodanku.com/de464503dab5d20a5d6505573f1624bd-600'
								}
							]
						},
						{
							next_name: '套装',
							info: [
								{
									son_name: '两件套',
									imgurl: 'http://img.haodanku.com/dcabee1a81b9c631bbc903597fad52a2-600'
								},
								{
									son_name: '夏季套装',
									imgurl: 'http://img.haodanku.com/fcf45b47afad11fe7ac05c179de174c1-600'
								},
								{
									son_name: '大码女装',
									imgurl: 'http://img.haodanku.com/005f603379aa285718b3f7c99c1ca88a-600'
								},
								{
									son_name: '妈妈装',
									imgurl: 'http://img.haodanku.com/cf445d5d9ddad49a38c0e542be22b565-600'
								},
								{
									son_name: '婚纱',
									imgurl: 'http://img.haodanku.com/d40c79df78c0a0cfbbb05605891950db-600'
								},
								{
									son_name: '小香风',
									imgurl: 'http://img.haodanku.com/2907a1a4faf78674c4ff422ce9ca16eb-600'
								},
								{
									son_name: '运动套装',
									imgurl: 'http://img.haodanku.com/97340565f9420afafc7a37966095da75-600'
								},
								{
									son_name: '雪纺套装',
									imgurl: 'http://img.haodanku.com/233b900fde6dc193a0c4b8886d121002-600'
								}
							]
						},
						{
							next_name: 'T恤',
							info: [
								{
									son_name: 'T恤',
									imgurl: 'http://img.haodanku.com/397fc31d9f3abdef5177ab1ec82a254c-600'
								},
								{
									son_name: '一字肩',
									imgurl: 'http://img.haodanku.com/f4ca5e271d74fd5c29d051c7b1106f04-600'
								},
								{
									son_name: '印花雪纺',
									imgurl: 'http://img.haodanku.com/60e743e4a53b475f2b01a606b61ab217-600'
								},
								{
									son_name: '吊带T恤',
									imgurl: 'http://img.haodanku.com/7aad5119d9e8d49c74ab97e31944ba63-600'
								},
								{
									son_name: '娃娃衫',
									imgurl: 'http://img.haodanku.com/9a596fb1d0c7008cdfad30e5562b3b3f-600'
								},
								{
									son_name: '情侣T恤',
									imgurl: 'http://img.haodanku.com/9880baf8c939776a65a64c6ec6b37621-600'
								},
								{
									son_name: '白衬衣',
									imgurl: 'http://img.haodanku.com/1c60edccb596c5f3496d883be75869c5-600'
								},
								{
									son_name: '短袖T恤',
									imgurl: 'http://img.haodanku.com/81ee9efd599bcfb76668e0ab3d08df6d-600'
								},
								{
									son_name: '纯色T恤',
									imgurl: 'http://img.haodanku.com/44d365c3c459a4a04185f1fa947e7353-600'
								},
								{
									son_name: '蕾丝拼接',
									imgurl: 'http://img.haodanku.com/f77f58f4f0f67b4c3cd830954354462a-600'
								},
								{
									son_name: '蕾丝衫',
									imgurl: 'http://img.haodanku.com/fe7c5357cb05b2128bf95c014c402092-600'
								},
								{
									son_name: '防晒衫',
									imgurl: 'http://img.haodanku.com/99d63b5ef04f0599ef94a71b1a247fef-600'
								},
								{
									son_name: '露肩上衣',
									imgurl: 'http://img.haodanku.com/a39d41be029747367e3889ea195043b1-600'
								},
								{
									son_name: '长袖T恤',
									imgurl: 'http://img.haodanku.com/d0ae23ec9b6d46e16bd2e0e924b2bd83-600'
								}
							]
						},
						{
							next_name: '内搭',
							info: [
								{
									son_name: '喇叭袖',
									imgurl: 'http://img.haodanku.com/6d8739d3e2aba86cfe98c3d8c631cb18-600'
								},
								{
									son_name: '开衫',
									imgurl: 'http://img.haodanku.com/051f12a2106ca222a4a651ef556419b2-600'
								},
								{
									son_name: '打底毛衣',
									imgurl: 'http://img.haodanku.com/d93f276b06e1aa4d9f5a7c4718ca675d-600'
								},
								{
									son_name: '毛衣',
									imgurl: 'http://img.haodanku.com/5ae75e2e972aec9126ac7ef6e44bd279-600'
								},
								{
									son_name: '针织衫',
									imgurl: 'http://img.haodanku.com/d989f5485e411a23b53d903787e9e8ae-600'
								},
								{
									son_name: '高领',
									imgurl: 'http://img.haodanku.com/226f1370ec92bd4804621851e4a45cd4-600'
								}
							]
						},
						{
							next_name: '外套',
							info: [
								{
									son_name: '卫衣',
									imgurl: 'http://img.haodanku.com/2329f94b4030aa27e819e159d64969c4-600'
								},
								{
									son_name: '夹克',
									imgurl: 'http://img.haodanku.com/ab499244178c525025d8a3e1ff4ed36e-600'
								},
								{
									son_name: '棉服',
									imgurl: 'http://img.haodanku.com/6d3898d409060a49ebc6a80c150d15b2-600'
								},
								{
									son_name: '毛呢',
									imgurl: 'http://img.haodanku.com/5b397df30169b79af64c569606b7e0af-600'
								},
								{
									son_name: '牛仔',
									imgurl: 'http://img.haodanku.com/38a001153e2f30933f3cae16f2b2a171-600'
								},
								{
									son_name: '皮衣',
									imgurl: 'http://img.haodanku.com/78c7fcecea8eaf4b329002b3308b3545-600'
								},
								{
									son_name: '短外套',
									imgurl: 'http://img.haodanku.com/26a08a44cce036a5cf49a3322e4cbf37-600'
								},
								{
									son_name: '羽绒',
									imgurl: 'http://img.haodanku.com/8b319845442d1ca43866388b3cdc9008-600'
								},
								{
									son_name: '西装',
									imgurl: 'http://img.haodanku.com/8760d56b968fff5f4542cba45398f911-600'
								},
								{
									son_name: '风衣',
									imgurl: 'http://img.haodanku.com/fce2eacae26fdd2be1e56319570db29e-600'
								},
								{
									son_name: '马甲',
									imgurl: 'http://img.haodanku.com/72c6ef4b40de18dddb9ae5dd38a9a051-600'
								}
							]
						},
						{
							next_name: '裤子',
							info: [
								{
									son_name: '休闲裤',
									imgurl: 'http://img.haodanku.com/047d30183d119f6805767a2649e05047-600'
								},
								{
									son_name: '哈伦裤',
									imgurl: 'http://img.haodanku.com/a1711789779fbd5c921fe1672619879f-600'
								},
								{
									son_name: '棉麻裤',
									imgurl: 'http://img.haodanku.com/a3e99f528f0cf163b96b0f6090226364-600'
								},
								{
									son_name: '牛仔裤',
									imgurl: 'http://img.haodanku.com/d1c7bf2b3a3d52047bf2bba87527ce2c-600'
								},
								{
									son_name: '短裤',
									imgurl: 'http://img.haodanku.com/d370086ea3d2a9c4ba569cfb8daf0d8e-600'
								},
								{
									son_name: '破洞牛仔裤',
									imgurl: 'http://img.haodanku.com/82462d589beb34111e9fccf66c170c7d-600'
								},
								{
									son_name: '裤子',
									imgurl: 'http://img.haodanku.com/049ea9c85a7b917eb9f0844df3910d4b-600'
								},
								{
									son_name: '阔腿裤',
									imgurl: 'http://img.haodanku.com/d59ec97908e5f2a3af232cbb23c54f31-600'
								}
							]
						}
					]
				},
				{
					cid: 2,
					main_name: '男装',
					data: [
						{
							next_name: '内搭',
							info: [
								{
									son_name: '长袖T恤',
									imgurl: 'http://img.haodanku.com/0cd092e3914e60ed74954bbba638d093-600'
								},
								{
									son_name: 'polo衫',
									imgurl: 'http://img.haodanku.com/0503477c4c5d9618b5be5dc3f7712dcf-600'
								},
								{
									son_name: 'T恤',
									imgurl: 'http://img.haodanku.com/439ba8ee07892f939714783e5f5fa49d-600'
								},
								{
									son_name: '卫衣',
									imgurl: 'http://img.haodanku.com/fa31cffcb202ac6523853af99810afb9-600'
								},
								{
									son_name: '短袖T恤',
									imgurl: 'http://img.haodanku.com/c12f373877a7a4b9e4856d552c91e3b3-600'
								},
								{
									son_name: '衬衣',
									imgurl: 'http://img.haodanku.com/9d792370897c7f393059514b17a0cb14-600'
								}
							]
						},
						{
							next_name: '外套',
							info: [
								{
									son_name: '马甲',
									imgurl: 'http://img.haodanku.com/325254ca7f6e1f03c438d818cb4c67cb-600'
								},
								{
									son_name: '呢大衣',
									imgurl: 'http://img.haodanku.com/f3c0fd52abf5945b5d253a64f8fce62d-600'
								},
								{
									son_name: '夹克',
									imgurl: 'http://img.haodanku.com/250eefdd7acef0934e9f0fafffa75c88-600'
								},
								{
									son_name: '棉衣',
									imgurl: 'http://img.haodanku.com/6b5cd4e0f1c6f346b552651209cf78a3-600'
								},
								{
									son_name: '棒球服',
									imgurl: 'http://img.haodanku.com/2c296a0d7e6600da4b5f572c1c1878e4-600'
								},
								{
									son_name: '牛仔外套',
									imgurl: 'http://img.haodanku.com/d55f8511d3916346c8a808dbe5b0868a-600'
								},
								{
									son_name: '皮衣',
									imgurl: 'http://img.haodanku.com/14f79fee301aa6bb5a69318d9d95a2ef-600'
								},
								{
									son_name: '羽绒服',
									imgurl: 'http://img.haodanku.com/51ee457f0c7b8c2ddb6f4e5e9dd9818e-600'
								},
								{
									son_name: '西装',
									imgurl: 'http://img.haodanku.com/09290b9079002c5d957b245bf8d5dc22-600'
								},
								{
									son_name: '风衣',
									imgurl: 'http://img.haodanku.com/16a6f06b799c96f30289e124ee084f9a-600'
								}
							]
						},
						{
							next_name: '下装',
							info: [
								{
									son_name: '七分裤',
									imgurl: 'http://img.haodanku.com/cc410e901bbb46c0ccb39de7d834186d-600'
								},
								{
									son_name: '九分裤',
									imgurl: 'http://img.haodanku.com/fae33cdacda6852a7628c206f9cc3691-600'
								},
								{
									son_name: '休闲裤',
									imgurl: 'http://img.haodanku.com/28261afc8638e81810396e804be7bb4e-600'
								},
								{
									son_name: '哈伦裤',
									imgurl: 'http://img.haodanku.com/87ee360c875520d8df6d1fc326fceebf-600'
								},
								{
									son_name: '工装裤',
									imgurl: 'http://img.haodanku.com/de243065fe1031a3b673911ca3f5d554-600'
								},
								{
									son_name: '沙滩裤',
									imgurl: 'http://img.haodanku.com/890d879df68a83fc884af2ac40590f9f-600'
								},
								{
									son_name: '牛仔裤',
									imgurl: 'http://img.haodanku.com/f7aed5f42224b34532e92e57d667fb35-600'
								},
								{
									son_name: '短裤',
									imgurl: 'http://img.haodanku.com/957ec585e9c7af6b740b28e03e94484d-600'
								},
								{
									son_name: '西裤',
									imgurl: 'http://img.haodanku.com/883c7c0972e09d96ee7ba2df0990de48-600'
								},
								{
									son_name: '运动裤',
									imgurl: 'http://img.haodanku.com/11f8a9fe9f1c81a720870c65c3d95347-600'
								}
							]
						},
						{
							next_name: '针织衫',
							info: [
								{
									son_name: '套头',
									imgurl: 'http://img.haodanku.com/fad26efeddcbb8b28b31365f0e3ebdcf-600'
								},
								{
									son_name: '开衫',
									imgurl: 'http://img.haodanku.com/9a1297fddeb4ec33d63e1a353975fef9-600'
								},
								{
									son_name: '毛衣',
									imgurl: 'http://img.haodanku.com/4f488cd57da11a19dc5dc0f6a1d48eff-600'
								},
								{
									son_name: '羊毛衫',
									imgurl: 'http://img.haodanku.com/469ad3c34a07e7296bd52a6e49e3e7cc-600'
								},
								{
									son_name: '针织衫',
									imgurl: 'http://img.haodanku.com/79967f9058dd6b94dbc43714b652b090-600'
								},
								{
									son_name: '高领',
									imgurl: 'http://img.haodanku.com/0edca60c499cd86fe5d9ad2afb85e9c7-600'
								}
							]
						}
					]
				},
				{
					cid: 3,
					main_name: '内衣',
					data: [
						{
							next_name: '内衣',
							info: [
								{
									son_name: '保暖背心',
									imgurl: 'http://img.haodanku.com/e093297d8e26e30a3d5aac4a613ec4f3-600'
								},
								{
									son_name: '内衣套装',
									imgurl: 'http://img.haodanku.com/8f0f258453126d0eba37806e99d61f3c-600'
								},
								{
									son_name: '内裤女',
									imgurl: 'http://img.haodanku.com/8fb1969ae13d3854a019176068cb19fd-600'
								},
								{
									son_name: '内裤男',
									imgurl: 'http://img.haodanku.com/bd263e2ae6f0b6d55f58aa45e98f8d5a-600'
								},
								{
									son_name: '打底裤',
									imgurl: 'http://img.haodanku.com/48ecf13aa01d4df986d08f807f5bde8a-600'
								},
								{
									son_name: '文胸',
									imgurl: 'http://img.haodanku.com/5515534e4b57c437ff99823194af9efa-600'
								},
								{
									son_name: '塑身衣',
									imgurl: 'http://img.haodanku.com/d4e8eb149c618aa91d74e2ea98c54bab-600'
								},
								{
									son_name: '秋裤',
									imgurl: 'http://img.haodanku.com/df2ce30731a1f5328163f02315cbcdf6-600'
								}
							]
						},
						{
							next_name: '睡衣',
							info: [
								{
									son_name: '保暖睡衣',
									imgurl: 'http://img.haodanku.com/4d20bb96196142cd1789ffb9608e0e6c-600'
								},
								{
									son_name: '卡通睡衣',
									imgurl: 'http://img.haodanku.com/8972e51a91b6564fdad5efd05dac9f8a-600'
								},
								{
									son_name: '夹棉睡衣',
									imgurl: 'http://img.haodanku.com/b2c95bf4420cd9ae947a715da3713625-600'
								},
								{
									son_name: '女士睡衣',
									imgurl: 'http://img.haodanku.com/9e1cbba89c247ed6df0a0db7267bf964-600'
								},
								{
									son_name: '情侣睡衣',
									imgurl: 'http://img.haodanku.com/8b005a55b45644839498aa75f4ee3e56-600'
								},
								{
									son_name: '珊瑚绒',
									imgurl: 'http://img.haodanku.com/079c725c7efe42cd8a005ea47542d939-600'
								},
								{
									son_name: '男士睡衣',
									imgurl: 'http://img.haodanku.com/c34cc2e6422f7493edac577c4b403146-600'
								},
								{
									son_name: '睡袍',
									imgurl: 'http://img.haodanku.com/7e5f5f97ab66f4d6c7b9fcf972e30e55-600'
								},
								{
									son_name: '睡裙',
									imgurl: 'http://img.haodanku.com/9348b8b75ef49b82e6cca3ef9d05bcf8-600'
								},
								{
									son_name: '短袖睡衣',
									imgurl: 'http://img.haodanku.com/360d6c896363e0158be255278923a900-600'
								},
								{
									son_name: '长袖睡衣',
									imgurl: 'http://img.haodanku.com/3c2a90a42396671688c5aaed75ee2b2a-600'
								}
							]
						},
						{
							next_name: '袜子',
							info: [
								{
									son_name: '女袜',
									imgurl: 'http://img.haodanku.com/5721a24e445fcd88ae8afa4b31432a0f-600'
								},
								{
									son_name: '棉袜',
									imgurl: 'http://img.haodanku.com/b08b0ad37e100ddef347205270bbc260-600'
								},
								{
									son_name: '男袜',
									imgurl: 'http://img.haodanku.com/1866e702f375974facb979e2a87e95df-600'
								},
								{
									son_name: '裤袜',
									imgurl: 'http://img.haodanku.com/95a4cd9d01b7ca5c544afeb5a35969f9-600'
								},
								{
									son_name: '长筒袜',
									imgurl: 'http://img.haodanku.com/edf2befbb6c1abd0fa67fbee47cb0ae9-600'
								}
							]
						}
					]
				},
				{
					cid: 4,
					main_name: '美妆',
					data: [
						{
							next_name: '个人护理',
							info: [
								{
									son_name: '头发造型',
									imgurl: 'http://img.haodanku.com/d07c4bf91101a3b6a0a8a340bf068ac4-600'
								},
								{
									son_name: '护发素',
									imgurl: 'http://img.haodanku.com/a9e63479e7edc40aedde33cca15f03f7-600'
								},
								{
									son_name: '染发膏',
									imgurl: 'http://img.haodanku.com/1b8e6a4cd2961a1d468557b4d766eca6-600'
								},
								{
									son_name: '沐浴露',
									imgurl: 'http://img.haodanku.com/14bfdb8fc38493aa985d310d390aad19-600'
								},
								{
									son_name: '洗发水',
									imgurl: 'http://img.haodanku.com/162652a65fc931cf7aba34436a5882cd-600'
								},
								{
									son_name: '清洁剂',
									imgurl: 'http://img.haodanku.com/cc34507e016b01cc6005d028b55aa1cc-600'
								},
								{
									son_name: '刷子',
									imgurl: 'http://img.haodanku.com/529884a59eb3a2ed7cad27cc215f042c-600'
								},
								{
									son_name: '私处护理',
									imgurl: 'http://img.haodanku.com/28ca7a798ebef550b71616c0158f5a3f-600'
								},
								{
									son_name: '足浴',
									imgurl: 'http://img.haodanku.com/14291c443185a267818e2d434d8a3342-600'
								},
								{
									son_name: '足贴',
									imgurl: 'http://img.haodanku.com/cb2b79782adeff70c42b6a77d9ee7fbc-600'
								},
								{
									son_name: '香薰',
									imgurl: 'http://img.haodanku.com/d4e749698878f0318254e2844a2ab4b1-600'
								}
							]
						},
						{
							next_name: '美妆',
							info: [
								{
									son_name: 'BB霜',
									imgurl: 'http://img.haodanku.com/489dc81a627234b735e508ea3c5a30d6-600'
								},
								{
									son_name: '乳液',
									imgurl: 'http://img.haodanku.com/2da72ef1545f4e6e729daca73469daa7-600'
								},
								{
									son_name: '卸妆',
									imgurl: 'http://img.haodanku.com/11f4c31e57040ca6578e395764685f9d-600'
								},
								{
									son_name: '唇膏',
									imgurl: 'http://img.haodanku.com/73dce1ba7e1e6c2f087a82e6e2daaf0f-600'
								},
								{
									son_name: '彩妆品盘',
									imgurl: 'http://img.haodanku.com/885defc8e1c9263ff87a2bc661118c63-600'
								},
								{
									son_name: '洁面仪',
									imgurl: 'http://img.haodanku.com/e7a50ccfa072697de187a8257a63938e-600'
								},
								{
									son_name: '洗面奶',
									imgurl: 'http://img.haodanku.com/0390ae3565930d395244524603d38605-600'
								},
								{
									son_name: '爽肤水',
									imgurl: 'http://img.haodanku.com/5dc1013d4ed73422d9963e03d24ca8f2-600'
								},
								{
									son_name: '男士护理',
									imgurl: 'http://img.haodanku.com/0821d27e39fffa2bc6cb2372800d33b3-600'
								},
								{
									son_name: '眼线',
									imgurl: 'http://img.haodanku.com/4216c4cdc29f8e9bce9722bf2329f4d4-600'
								},
								{
									son_name: '眼霜',
									imgurl: 'http://img.haodanku.com/9bcc8b7e61d0958a4cf24efa92d8d7d9-600'
								},
								{
									son_name: '睫毛膏',
									imgurl: 'http://img.haodanku.com/917ca505a2916d4308258c1df00aa6bc-600'
								},
								{
									son_name: '粉底液',
									imgurl: 'http://img.haodanku.com/b8c50f1f046846de3a22b68b681799d0-600'
								},
								{
									son_name: '精华',
									imgurl: 'http://img.haodanku.com/c236b1acfcf8aeaffef5b01ab73e5608-600'
								},
								{
									son_name: '精油',
									imgurl: 'http://img.haodanku.com/c57b417129f661124f5b7f863fc2a5ed-600'
								},
								{
									son_name: '纤体',
									imgurl: 'http://img.haodanku.com/900cbfe080fcea90a276c9b0367252ef-600'
								},
								{
									son_name: '脱毛',
									imgurl: 'http://img.haodanku.com/bd495c3062c688f6c1a00a6f02a57655-600'
								},
								{
									son_name: '腮红',
									imgurl: 'http://img.haodanku.com/1305d219f6095577b2d4930531a1b3ee-600'
								},
								{
									son_name: '身体护理',
									imgurl: 'http://img.haodanku.com/31610649476cc77a474959eb39f1b929-600'
								},
								{
									son_name: '防晒',
									imgurl: 'http://img.haodanku.com/1d23fffba3e6ed348369ecf8fdab6659-600'
								},
								{
									son_name: '隔离霜',
									imgurl: 'http://img.haodanku.com/76c233634b9d2eb0ba2353d1c834a070-600'
								},
								{
									son_name: '面膜',
									imgurl: 'http://img.haodanku.com/f9ddb9d89e9bfd8312056b02c4081bcd-600'
								},
								{
									son_name: '面霜',
									imgurl: 'http://img.haodanku.com/e57cb97f45eacb673b10d4179ce54079-600'
								},
								{
									son_name: '香水',
									imgurl: 'http://img.haodanku.com/04e330d7bfe0dca66883d8a52286552c-600'
								}
							]
						},
						{
							next_name: '营养保健',
							info: [
								{
									son_name: 'B族维生素',
									imgurl: 'http://img.haodanku.com/1f59496fee3c1610426c711c3d1d4ec4-600'
								},
								{
									son_name: '大豆异黄酮',
									imgurl: 'http://img.haodanku.com/12c9c22137b4bcba282fd3df6f0fa01e-600'
								},
								{
									son_name: '左旋',
									imgurl: 'http://img.haodanku.com/dd4e18688356aa319c81ea718f50a447-600'
								},
								{
									son_name: '氨基葡萄糖',
									imgurl: 'http://img.haodanku.com/81b23d4f172a49b845757548992c9c86-600'
								},
								{
									son_name: '维生素',
									imgurl: 'http://img.haodanku.com/affa0845d378957e98cc2362b2c8fe78-600'
								},
								{
									son_name: '维生素C',
									imgurl: 'http://img.haodanku.com/815ca9b2b1af15cefe5254c15656a8ab-600'
								},
								{
									son_name: '胶原蛋白',
									imgurl: 'http://img.haodanku.com/1e22d5f3d6e3066d103cbb81d56aa413-600'
								},
								{
									son_name: '葡萄籽',
									imgurl: 'http://img.haodanku.com/d2d1641b79898540be56943a26e9fbf1-600'
								},
								{
									son_name: '螺旋藻',
									imgurl: 'http://img.haodanku.com/5e0f7000c10daed73047db311e9140bf-600'
								},
								{
									son_name: '褪黑素',
									imgurl: 'http://img.haodanku.com/69210ef9179d6f60456d8c35d953ef83-600'
								},
								{
									son_name: '软骨素',
									imgurl: 'http://img.haodanku.com/8598d5b6d46da97fc2e2bacc0ab6701a-600'
								},
								{
									son_name: '辅酶Q10',
									imgurl: 'http://img.haodanku.com/6d3244a7bc47008fec9c5776db5a4431-600'
								},
								{
									son_name: '酵素',
									imgurl: 'http://img.haodanku.com/6607fec9d51f603dd680aa56c8d367b7-600'
								},
								{
									son_name: 'B族维生素',
									imgurl: 'http://img.haodanku.com/1f59496fee3c1610426c711c3d1d4ec4-600'
								},
								{
									son_name: 'DHA',
									imgurl: 'http://img.haodanku.com/a9146cfb07408e86776b0f8e720302c8-600'
								},
								{
									son_name: '大豆异黄酮',
									imgurl: 'http://img.haodanku.com/12c9c22137b4bcba282fd3df6f0fa01e-600'
								},
								{
									son_name: '左旋',
									imgurl: 'http://img.haodanku.com/dd4e18688356aa319c81ea718f50a447-600'
								},
								{
									son_name: '月见草油',
									imgurl: 'http://img.haodanku.com/b7b3febf2ac9a51fc9ae956da2fa3de6-600'
								},
								{
									son_name: '氨基葡萄糖',
									imgurl: 'http://img.haodanku.com/81b23d4f172a49b845757548992c9c86-600'
								},
								{
									son_name: '玛咖',
									imgurl: 'http://img.haodanku.com/6eed576e355b970a83afafaa7e18ab1d-600'
								},
								{
									son_name: '益生菌',
									imgurl: 'http://img.haodanku.com/b12d21f28f7ec2bd4fd91bebe5ca9e63-600'
								},
								{
									son_name: '维生素',
									imgurl: 'http://img.haodanku.com/affa0845d378957e98cc2362b2c8fe78-600'
								},
								{
									son_name: '维生素C',
									imgurl: 'http://img.haodanku.com/815ca9b2b1af15cefe5254c15656a8ab-600'
								},
								{
									son_name: '胶原蛋白',
									imgurl: 'http://img.haodanku.com/1e22d5f3d6e3066d103cbb81d56aa413-600'
								},
								{
									son_name: '葡萄籽',
									imgurl: 'http://img.haodanku.com/d2d1641b79898540be56943a26e9fbf1-600'
								},
								{
									son_name: '螺旋藻',
									imgurl: 'http://img.haodanku.com/5e0f7000c10daed73047db311e9140bf-600'
								},
								{
									son_name: '褪黑素',
									imgurl: 'http://img.haodanku.com/69210ef9179d6f60456d8c35d953ef83-600'
								},
								{
									son_name: '软骨素',
									imgurl: 'http://img.haodanku.com/8598d5b6d46da97fc2e2bacc0ab6701a-600'
								},
								{
									son_name: '辅酶Q10',
									imgurl: 'http://img.haodanku.com/6d3244a7bc47008fec9c5776db5a4431-600'
								},
								{
									son_name: '酵素',
									imgurl: 'http://img.haodanku.com/6607fec9d51f603dd680aa56c8d367b7-600'
								},
								{
									son_name: '钙',
									imgurl: 'http://img.haodanku.com/98d655571845e533cbcbab620db00f6b-600'
								},
								{
									son_name: '鱼油',
									imgurl: 'http://img.haodanku.com/5b041d1a105e86d3c5c7f2e3c4ad713f-600'
								}
							]
						}
					]
				},
				{
					cid: 5,
					main_name: '配饰',
					data: [
						{
							next_name: '帽子',
							info: [
								{
									son_name: '套头帽',
									imgurl: 'http://img.haodanku.com/125f6e478053e17b2c0ba682bd0a5a39-600'
								},
								{
									son_name: '毛线帽',
									imgurl: 'http://img.haodanku.com/e1187ddf4721580e67efb50dac464dab-600'
								},
								{
									son_name: '渔夫帽',
									imgurl: 'http://img.haodanku.com/b3828f4435ede4fa3463e55dde914b40-600'
								},
								{
									son_name: '爵士帽',
									imgurl: 'http://img.haodanku.com/980c97dd05f40ed47ac16a79612dd167-600'
								},
								{
									son_name: '盆帽',
									imgurl: 'http://img.haodanku.com/676817946cacdbe83c377d9cc9860aa9-600'
								},
								{
									son_name: '礼帽',
									imgurl: 'http://img.haodanku.com/cc142d12454557ef22b4ceb3ce4fe6ec-600'
								},
								{
									son_name: '贝雷帽',
									imgurl: 'http://img.haodanku.com/6d5eebc640a964a4b55fb03046a2f8fb-600'
								},
								{
									son_name: '针织帽',
									imgurl: 'http://img.haodanku.com/0b376d73ab661bbab0c83d8aefc50aca-600'
								},
								{
									son_name: '鸭舌帽',
									imgurl: 'http://img.haodanku.com/1de98e064ef1e8dd92d4e95eda311105-600'
								}
							]
						},
						{
							next_name: '配饰',
							info: [
								{
									son_name: '半指手套',
									imgurl: 'http://img.haodanku.com/2439ed86402cb2d8eff39995ef1fc4e4-600'
								},
								{
									son_name: '手套',
									imgurl: 'http://img.haodanku.com/e5183b8d3236027d4c0cd2fe923f7d34-600'
								},
								{
									son_name: '真皮腰带',
									imgurl: 'http://img.haodanku.com/cd8ad3794ee3fbb1a8c8bce8f88f7ef1-600'
								},
								{
									son_name: '腰带',
									imgurl: 'http://img.haodanku.com/7586c7f14be6334d52ea6f862048ce3a-600'
								},
								{
									son_name: '触屏手套',
									imgurl: 'http://img.haodanku.com/a69d879b523d78d0203fe4879109486f-600'
								},
								{
									son_name: '雨伞',
									imgurl: 'http://img.haodanku.com/eb9cb749ec8237a84227614d356bfd0f-600'
								}
							]
						},
						{
							next_name: '围巾',
							info: [
								{
									son_name: '披肩围巾',
									imgurl: 'http://img.haodanku.com/e7a8efb7077e6e0e71f038582f7a6ba8-600'
								},
								{
									son_name: '棉麻围巾',
									imgurl: 'http://img.haodanku.com/ac5962ed20036929d9d533e467a85fd0-600'
								},
								{
									son_name: '真丝围巾',
									imgurl: 'http://img.haodanku.com/c371383e6e2f9b234f30d32c0a1295ef-600'
								},
								{
									son_name: '羊毛围巾',
									imgurl: 'http://img.haodanku.com/2959aea355069c58f07a5bd4312c0750-600'
								},
								{
									son_name: '羊绒围巾',
									imgurl: 'http://img.haodanku.com/9870a6e83a4e97ce9f8b8d2bf2fe057e-600'
								}
							]
						}
					]
				},
				{
					cid: 6,
					main_name: '鞋品',
					data: [
						{
							next_name: '男鞋',
							info: [
								{
									son_name: '乐福鞋',
									imgurl: 'http://img.haodanku.com/9843bf86c735fca4495b93cbb9371b56-600'
								},
								{
									son_name: '休闲鞋',
									imgurl: 'http://img.haodanku.com/52ac4c99b933215aa4767dfbcf1ee459-600'
								},
								{
									son_name: '凉鞋',
									imgurl: 'http://img.haodanku.com/6f80f7d856fef73155d88ac0ec633d93-600'
								},
								{
									son_name: '增高鞋',
									imgurl: 'http://img.haodanku.com/5dfbd1e8047e1fa4bc9424fc44a81037-600'
								},
								{
									son_name: '帆布鞋',
									imgurl: 'http://img.haodanku.com/b1ec5218812aac9249071123cc9ff37d-600'
								},
								{
									son_name: '板鞋',
									imgurl: 'http://img.haodanku.com/c0ea8e1a9a0e9c486c2f3b571b495395-600'
								},
								{
									son_name: '网布鞋',
									imgurl: 'http://img.haodanku.com/acaf3517b2b374e568e512ea2c1c0334-600'
								},
								{
									son_name: '豆豆鞋',
									imgurl: 'http://img.haodanku.com/6f74d2cd0dc9de9ea1b746ab78ba6b66-600'
								},
								{
									son_name: '运动鞋',
									imgurl: 'http://img.haodanku.com/7b3bc2187dfeaf64dbb61ad6d3eb358f-600'
								}
							]
						},
						{
							next_name: '女鞋',
							info: [
								{
									son_name: '中跟鞋',
									imgurl: 'http://img.haodanku.com/5a52d7f0375aadd03558aab5a2489a81-600'
								},
								{
									son_name: '乐福鞋',
									imgurl: 'http://img.haodanku.com/8ebb992fc125df908039e1468b634c1f-600'
								},
								{
									son_name: '低跟鞋',
									imgurl: 'http://img.haodanku.com/19c7f3e00da194115690d71b5b0f6691-600'
								},
								{
									son_name: '妈妈鞋',
									imgurl: 'http://img.haodanku.com/6056eae45f0a96110f028f5f145a7c57-600'
								},
								{
									son_name: '小白鞋',
									imgurl: 'http://img.haodanku.com/c8bdc977c2f8b484f7066e82f9019417-600'
								},
								{
									son_name: '帆布鞋',
									imgurl: 'http://img.haodanku.com/70841a66d31d46050b053a7a559aad5c-600'
								},
								{
									son_name: '平底凉鞋',
									imgurl: 'http://img.haodanku.com/5c245c0d40166fad781505b47e952b81-600'
								},
								{
									son_name: '平底鞋',
									imgurl: 'http://img.haodanku.com/8773b3b2620fbbc9d33cee40cbeff145-600'
								},
								{
									son_name: '松糕厚底',
									imgurl: 'http://img.haodanku.com/f8eee922c6d05a17e9bee9dcda4811ac-600'
								},
								{
									son_name: '猫跟鞋',
									imgurl: 'http://img.haodanku.com/aac30a76edc144585e38c0a5a3560bcc-600'
								},
								{
									son_name: '玛丽珍鞋',
									imgurl: 'http://img.haodanku.com/b010a4fdd9bb85af6ca67c916c317929-600'
								},
								{
									son_name: '豆豆鞋',
									imgurl: 'http://img.haodanku.com/32f1673e6784389d2c9aa793c7b2abbe-600'
								},
								{
									son_name: '运动鞋',
									imgurl: 'http://img.haodanku.com/9449c2e63a06f058a48f788c82591d00-600'
								},
								{
									son_name: '高跟鞋',
									imgurl: 'http://img.haodanku.com/0ee8f1f3483c3faa69f5ef1f129cfac5-600'
								}
							]
						}
					]
				},
				{
					cid: 7,
					main_name: '箱包',
					data: [
						{
							next_name: '单肩包',
							info: [
								{
									son_name: '单肩包',
									imgurl: 'http://img.haodanku.com/4acda5f2e1ba8067820eb6a0b1517a48-600'
								},
								{
									son_name: '妈妈包',
									imgurl: 'http://img.haodanku.com/7746fc25b34ce7e7042009c5545f8e30-600'
								},
								{
									son_name: '宽肩带包',
									imgurl: 'http://img.haodanku.com/4779f85d1a64381bc858a8354ef2e67f-600'
								},
								{
									son_name: '小方包',
									imgurl: 'http://img.haodanku.com/d1f9ffe6b63d0100c573312981c293e9-600'
								},
								{
									son_name: '斜挎包',
									imgurl: 'http://img.haodanku.com/197be2a76a74db7a9d3fee2e513b1cf0-600'
								},
								{
									son_name: '水桶包',
									imgurl: 'http://img.haodanku.com/02f6b9bcb87488b3b2f538ed3bd901d9-600'
								},
								{
									son_name: '波士顿包',
									imgurl: 'http://img.haodanku.com/2db6a9dfe0323ab1aba9eb4d0c92b9f6-600'
								},
								{
									son_name: '贝壳包',
									imgurl: 'http://img.haodanku.com/d5c5a8c3afa64c58527a68cbd46c2234-600'
								}
							]
						},
						{
							next_name: '功能箱包',
							info: [
								{
									son_name: '手拿包',
									imgurl: 'http://img.haodanku.com/cd7d4d767e7b392a0109a5d1bad81dc2-600'
								},
								{
									son_name: '手提包',
									imgurl: 'http://img.haodanku.com/5e2d18ca3f9f2863b7e02f88e1cd5895-600'
								},
								{
									son_name: '旅行箱',
									imgurl: 'http://img.haodanku.com/7e4ae55cefff14d819c8619566b85700-600'
								},
								{
									son_name: '腰包',
									imgurl: 'http://img.haodanku.com/c8f00becc7afcec20b205f1bf1bb11f5-600'
								},
								{
									son_name: '迷你包',
									imgurl: 'http://img.haodanku.com/7ec1ef44e7ce98826b4bf7b93c21c4f1-600'
								},
								{
									son_name: '钱包',
									imgurl: 'http://img.haodanku.com/fa179896a4e7ba6864c3a2b5c208c647-600'
								},
								{
									son_name: '链条包',
									imgurl: 'http://img.haodanku.com/c380f2a1cf2b3be8c38c73588929b53d-600'
								},
								{
									son_name: '零钱包',
									imgurl: 'http://img.haodanku.com/36c936ff82bd0b14b6ea7a7deb85e805-600'
								}
							]
						},
						{
							next_name: '双肩包',
							info: [
								{
									son_name: '双肩包',
									imgurl: 'http://img.haodanku.com/a410a8f08c112bb99e3f61ba46ee0b7a-600'
								}
							]
						}
					]
				},
				{
					cid: 8,
					main_name: '儿童',
					data: [
						{
							next_name: '其他',
							info: [
								{
									son_name: '描红本',
									imgurl: 'http://img.haodanku.com/89a1df77f661111da350ffb31b965683-600'
								},
								{
									son_name: '早教机',
									imgurl: 'http://img.haodanku.com/2ac050e8b1a787b9a1296a51edfa182a-600'
								},
								{
									son_name: '自行车',
									imgurl: 'http://img.haodanku.com/54baf388a5aacb482bffba872a8393e0-600'
								},
								{
									son_name: '学习用品',
									imgurl: 'http://img.haodanku.com/e1cdde128eaff4b464b02a6280128ab9-600'
								}
							]
						},
						{
							next_name: '玩具',
							info: [
								{
									son_name: '户外玩具',
									imgurl: 'http://img.haodanku.com/4b7d8b14035d7c42417d36037827df23-600'
								},
								{
									son_name: '积木',
									imgurl: 'http://img.haodanku.com/dfb898577d5b402ee78efdf77fc753b9-600'
								},
								{
									son_name: '亲子玩具',
									imgurl: 'http://img.haodanku.com/5a1f75dd01301762813b4c946f72c0bb-600'
								},
								{
									son_name: '玩具',
									imgurl: 'http://img.haodanku.com/89ac36736a405eac40bd34efc223edba-600'
								}
							]
						},
						{
							next_name: '服饰',
							info: [
								{
									son_name: '亲子装',
									imgurl: 'http://img.haodanku.com/e892274edc543dbd443f1e1ca011e8a0-600'
								},
								{
									son_name: '女童外套',
									imgurl: 'http://img.haodanku.com/3c4dbd196a8c86fd7aa7c0db67398427-600'
								},
								{
									son_name: '女童裤子',
									imgurl: 'http://img.haodanku.com/6872bec6d466cc288652249b1818cba9-600'
								},
								{
									son_name: '女童鞋',
									imgurl: 'http://img.haodanku.com/77a068892e5fa23a2497aeb2cf470873-600'
								},
								{
									son_name: '帽子',
									imgurl: 'http://img.haodanku.com/ebdd66e1819b84f9902809e576059d16-600'
								},
								{
									son_name: '打底裤',
									imgurl: 'http://img.haodanku.com/6e39772aa331f967ab375723c89112bc-600'
								},
								{
									son_name: '演出服',
									imgurl: 'http://img.haodanku.com/ad713e81e8e308407396dc9d5d17fce5-600'
								},
								{
									son_name: '男童外套',
									imgurl: 'http://img.haodanku.com/ca9c3eeb18c949e4f6fa022ac41e403e-600'
								},
								{
									son_name: '男童裤子',
									imgurl: 'http://img.haodanku.com/8c566f3f49b03376c6807117e6df47d1-600'
								},
								{
									son_name: '男童鞋',
									imgurl: 'http://img.haodanku.com/db38929f7df3ae50dc0a58cf9e6914cc-600'
								},
								{
									son_name: '连衣裙',
									imgurl: 'http://img.haodanku.com/a76ed95f6004778512e5a0a9d1e09852-600'
								}
							]
						}
					]
				},
				{
					cid: 9,
					main_name: '母婴',
					data: [
						{
							next_name: '婴儿用品',
							info: [
								{
									son_name: '体温计',
									imgurl: 'http://img.haodanku.com/f2afc0a5ef3947e300d68cd6d70cabef-600'
								},
								{
									son_name: '奶嘴',
									imgurl: 'http://img.haodanku.com/dc498440b8169d4f411a2d303ce85c7d-600'
								},
								{
									son_name: '奶瓶',
									imgurl: 'http://img.haodanku.com/b9d99fb2308fec3063560d1a442c51e6-600'
								},
								{
									son_name: '婴儿床',
									imgurl: 'http://img.haodanku.com/8d25d45a30d633f31af4e6f8ec9e3eb7-600'
								},
								{
									son_name: '婴儿抱被',
									imgurl: 'http://img.haodanku.com/e87f2636c6c571487bfe3e1b87c19f24-600'
								},
								{
									son_name: '学步车',
									imgurl: 'http://img.haodanku.com/4bc090e096ed0d3fc550d373b257ce83-600'
								},
								{
									son_name: '推车',
									imgurl: 'http://img.haodanku.com/192ba1c1901d19388a80ed93fe0dd532-600'
								},
								{
									son_name: '新生儿',
									imgurl: 'http://img.haodanku.com/8eb521c44d4cc5c2c606101321f6878f-600'
								},
								{
									son_name: '睡袋',
									imgurl: 'http://img.haodanku.com/2afc4fdac09e372274248fc6f421b8ef-600'
								},
								{
									son_name: '纸尿布',
									imgurl: 'http://img.haodanku.com/0d2df54a221fca7d23c888464edf17e3-600'
								},
								{
									son_name: '连体睡衣',
									imgurl: 'http://img.haodanku.com/e1fd4104171d365a3e76ada535e55c0b-600'
								},
								{
									son_name: '隔尿垫',
									imgurl: 'http://img.haodanku.com/31f138fa170e240a105ef4a9a9fc72f8-600'
								}
							]
						},
						{
							next_name: '孕妇用品',
							info: [
								{
									son_name: '吸奶器',
									imgurl: 'http://img.haodanku.com/89afa1dec1f1cc788bc9029efe639d92-600'
								},
								{
									son_name: '哺乳文胸',
									imgurl: 'http://img.haodanku.com/1995c36a2f9b91e16d4ff97bb3b23382-600'
								},
								{
									son_name: '孕妇内裤',
									imgurl: 'http://img.haodanku.com/46a9bb00fc2ad4155505c9d03d35de7c-600'
								},
								{
									son_name: '孕妇营养品',
									imgurl: 'http://img.haodanku.com/746bdf57d00ed1bd50c7cbc48c4efd1f-600'
								},
								{
									son_name: '孕妇裤',
									imgurl: 'http://img.haodanku.com/585fccf4db78e0f223db1f58c634ff77-600'
								},
								{
									son_name: '孕妇连衣裙',
									imgurl: 'http://img.haodanku.com/83c8a98c46c9556c0388a26c9c64de08-600'
								},
								{
									son_name: '待产包',
									imgurl: 'http://img.haodanku.com/5495707bd77ce757b7d8c10c3c0267f6-600'
								},
								{
									son_name: '月子服',
									imgurl: 'http://img.haodanku.com/8bb1ce0a0e396fc941c0ad266f0f90e7-600'
								},
								{
									son_name: '防溢乳垫',
									imgurl: 'http://img.haodanku.com/4c95a938d4f5b57aa1359d6e03a3a71a-600'
								},
								{
									son_name: '防辐射',
									imgurl: 'http://img.haodanku.com/f3dc47448272b00b2344f0f6e36e38e0-600'
								}
							]
						}
					]
				},
				{
					cid: 10,
					main_name: '居家',
					data: [
						{
							next_name: '布艺软饰',
							info: [
								{
									son_name: '十字绣',
									imgurl: 'http://img.haodanku.com/0fecff196dd513e5326df8ed42ecf62e-600'
								},
								{
									son_name: '墙贴',
									imgurl: 'http://img.haodanku.com/531cc9bb62279fdab5a5e842a07f1230-600'
								},
								{
									son_name: '挂钟',
									imgurl: 'http://img.haodanku.com/893d184e3e3aa27e65992699f08fd9fa-600'
								},
								{
									son_name: '沙发',
									imgurl: 'http://img.haodanku.com/15322826a058d003b9e2a5236ab31c8a-600'
								},
								{
									son_name: '沙发垫',
									imgurl: 'http://img.haodanku.com/5b8437e77f610d3cd61d7faed81f25b6-600'
								},
								{
									son_name: '浴室垫',
									imgurl: 'http://img.haodanku.com/db1ce3c8bbb4cf6619cbfe2113057605-600'
								},
								{
									son_name: '照片墙',
									imgurl: 'http://img.haodanku.com/a0ad5f27b98810683a19c5618f5e92ae-600'
								},
								{
									son_name: '盖巾',
									imgurl: 'http://img.haodanku.com/db1034bb8733c34bf75503f009ef7aa4-600'
								},
								{
									son_name: '相框',
									imgurl: 'http://img.haodanku.com/0f986268a6d992dd5ff522ce0f493daf-600'
								},
								{
									son_name: '缝纫机',
									imgurl: 'http://img.haodanku.com/382ddc7195e3387d6196b9f8ac2347d4-600'
								},
								{
									son_name: '花瓶',
									imgurl: 'http://img.haodanku.com/d6fb9e56555bea894483b3709e337659-600'
								},
								{
									son_name: '门垫',
									imgurl: 'http://img.haodanku.com/038a6376ada111e8eb629fe2fb3f80b3-600'
								},
								{
									son_name: '门帘',
									imgurl: 'http://img.haodanku.com/085de7b5e5a0faca6bc70d746ea2038d-600'
								},
								{
									son_name: '靠垫',
									imgurl: 'http://img.haodanku.com/4a72e73581129c9a3e27f42795c5fbf0-600'
								},
								{
									son_name: '香炉',
									imgurl: 'http://img.haodanku.com/650000d7dc039deb1bfa52146457c7db-600'
								}
							]
						},
						{
							next_name: '生活用品',
							info: [
								{
									son_name: '卫生巾',
									imgurl: 'http://img.haodanku.com/d4ad5258247d5cfcd397fed061c55332-600'
								},
								{
									son_name: '卷纸',
									imgurl: 'http://img.haodanku.com/1fa08dd194ae423de72af366e6fa319c-600'
								},
								{
									son_name: '厨房清洁',
									imgurl: 'http://img.haodanku.com/fb616d760b3abd67108643f997ba442a-600'
								},
								{
									son_name: '成人纸尿裤',
									imgurl: 'http://img.haodanku.com/69079daf83b530b2a519b44b21c5afa7-600'
								},
								{
									son_name: '抽纸',
									imgurl: 'http://img.haodanku.com/8b15fc81e69e7140bfdd6af51890a5f7-600'
								},
								{
									son_name: '洗手液',
									imgurl: 'http://img.haodanku.com/afa011f3b8e0757b5b9d67af74062fe6-600'
								},
								{
									son_name: '洗衣液',
									imgurl: 'http://img.haodanku.com/e068719387ea102d937ec3724598675c-600'
								},
								{
									son_name: '漱口水',
									imgurl: 'http://img.haodanku.com/ac10bd52475555b9009afa9be9c7665d-600'
								},
								{
									son_name: '牙膏',
									imgurl: 'http://img.haodanku.com/9d36678d53c9c83a1a6a7cd1e9637b65-600'
								},
								{
									son_name: '沐浴露',
									imgurl: 'http://img.haodanku.com/14bfdb8fc38493aa985d310d390aad19-600'
								},
								{
									son_name: '洗发水',
									imgurl: 'http://img.haodanku.com/162652a65fc931cf7aba34436a5882cd-600'
								},
								{
									son_name: '清洁剂',
									imgurl: 'http://img.haodanku.com/cc34507e016b01cc6005d028b55aa1cc-600'
								},
								{
									son_name: '牙刷',
									imgurl: 'http://img.haodanku.com/529884a59eb3a2ed7cad27cc215f042c-600'
								},
								{
									son_name: '私处护理',
									imgurl: 'http://img.haodanku.com/28ca7a798ebef550b71616c0158f5a3f-600'
								},
								{
									son_name: '足浴',
									imgurl: 'http://img.haodanku.com/14291c443185a267818e2d434d8a3342-600'
								},
								{
									son_name: '足贴',
									imgurl: 'http://img.haodanku.com/cb2b79782adeff70c42b6a77d9ee7fbc-600'
								}
							]
						},
						{
							next_name: '家纺',
							info: [
								{
									son_name: '乳胶枕',
									imgurl: 'http://img.haodanku.com/b858dfe64098c4b51c1af1bc286beb8e-600'
								},
								{
									son_name: '儿童床品',
									imgurl: 'http://img.haodanku.com/85288477aa5ed6d06669149455c1e9b7-600'
								},
								{
									son_name: '冬被',
									imgurl: 'http://img.haodanku.com/673dc1967cba96d3173586957f910692-600'
								},
								{
									son_name: '床四件套',
									imgurl: 'http://img.haodanku.com/092a7eef6e588183907808ed19515885-600'
								},
								{
									son_name: '枕头',
									imgurl: 'http://img.haodanku.com/e4e3a0d641ae8c12331fc5e91cc91c96-600'
								},
								{
									son_name: '毯子',
									imgurl: 'http://img.haodanku.com/fdd87b717a90651adc583953574b879e-600'
								},
								{
									son_name: '磨毛四件套',
									imgurl: 'http://img.haodanku.com/deb9d85ba6aa5daf02d8209a1e0774b0-600'
								},
								{
									son_name: '羽绒枕',
									imgurl: 'http://img.haodanku.com/d77eb273a865e1d05e96be70d00cccdc-600'
								},
								{
									son_name: '羽绒被',
									imgurl: 'http://img.haodanku.com/bc375dc2857a2700099ab1a2fce2924d-600'
								},
								{
									son_name: '蚕丝被',
									imgurl: 'http://img.haodanku.com/6b5d8901149b7ac1790006417a9e73b0-600'
								},
								{
									son_name: '被子',
									imgurl: 'http://img.haodanku.com/878343012349830a42dd4cb792f8d6bc-600'
								},
								{
									son_name: '记忆枕',
									imgurl: 'http://img.haodanku.com/8249bf77bbf1c711057e613f775d4e01-600'
								}
							]
						},
						{
							next_name: '家居',
							info: [
								{
									son_name: '书架',
									imgurl: 'http://img.haodanku.com/8bb141ee7eab9eba95cd7a267f76b702-600'
								},
								{
									son_name: '儿童床',
									imgurl: 'http://img.haodanku.com/502073b5d471690bf08ab6026bb3ac40-600'
								},
								{
									son_name: '床垫',
									imgurl: 'http://img.haodanku.com/5d5afc06b1689a04b741e54e89d14868-600'
								},
								{
									son_name: '收纳',
									imgurl: 'http://img.haodanku.com/c88fc1e23ef2e57d39273f211e289f7e-600'
								},
								{
									son_name: '椅子',
									imgurl: 'http://img.haodanku.com/26ffcda2128f54811876005b1bc7ce65-600'
								},
								{
									son_name: '沙发',
									imgurl: 'http://img.haodanku.com/306d6eb12d750bdb9b025d9c9702bb1d-600'
								},
								{
									son_name: '碗套装',
									imgurl: 'http://img.haodanku.com/3f1a38084236be0974574a1efeb6553c-600'
								},
								{
									son_name: '花架',
									imgurl: 'http://img.haodanku.com/a2eda497dbfc7b6258dd85a6f374bbff-600'
								},
								{
									son_name: '鞋柜',
									imgurl: 'http://img.haodanku.com/5680c3bb7e9b9c70ed253e4cb3e2a104-600'
								},
								{
									son_name: '高低床',
									imgurl: 'http://img.haodanku.com/03e8e43b52d1f72bf1d6abc55a3055f9-600'
								}
							]
						}
					]
				},
				{
					cid: 11,
					main_name: '美食',
					data: [
						{
							next_name: '零食',
							info: [
								{
									son_name: '干果',
									imgurl: 'http://img.haodanku.com/31695fbcfec8af7274b493698d5c1f5a-600'
								},
								{
									son_name: '干货',
									imgurl: 'http://img.haodanku.com/40693f1b39155f40843b4023d938a812-600'
								},
								{
									son_name: '月饼',
									imgurl: 'http://img.haodanku.com/8046e4bdcba514414f92dd9c83bca873-600'
								},
								{
									son_name: '速食',
									imgurl: 'http://img.haodanku.com/78ca01c1baddaed135f179cbf495d780-600'
								},
								{
									son_name: '零食',
									imgurl: 'http://img.haodanku.com/3bba49572000849457705fb6e7b25756-600'
								}
							]
						},
						{
							next_name: '饮品',
							info: [
								{
									son_name: '茶饮',
									imgurl: 'http://img.haodanku.com/7c8497e22d819da519e0bcb81b8fb870-600'
								},
								{
									son_name: '酒水',
									imgurl: 'http://img.haodanku.com/6b2095fa96eb10aef4cc968253a77e62-600'
								},
								{
									son_name: '饮料',
									imgurl: 'http://img.haodanku.com/e9ced92e2c3c5a9125bde206632923f8-600'
								}
							]
						},
						{
							next_name: '生鲜菜类',
							info: [
								{
									son_name: '土鸡蛋',
									imgurl: 'http://img.haodanku.com/011b54caa88d4ebf172312ad228e234c-600'
								},
								{
									son_name: '大米',
									imgurl: 'http://img.haodanku.com/be27573ccf52be1f42238f29167516da-600'
								},
								{
									son_name: '大闸蟹',
									imgurl: 'http://img.haodanku.com/ee9e645ee82d6ef1bad1a9c676122375-600'
								},
								{
									son_name: '新鲜水果',
									imgurl: 'http://img.haodanku.com/2ae6a731a71e6021383e808db628915d-600'
								},
								{
									son_name: '海鲜',
									imgurl: 'http://img.haodanku.com/90b748896e4575e2a6ed65bd181b6cd1-600'
								},
								{
									son_name: '燕窝',
									imgurl: 'http://img.haodanku.com/3a987aefb804562f6932ab3d00c9aa00-600'
								},
								{
									son_name: '米饭',
									imgurl: 'http://img.haodanku.com/645c45fff90a863a1222392d2414e14c-600'
								},
								{
									son_name: '肉类',
									imgurl: 'http://img.haodanku.com/eb7fefe4ca4a81dfc2749c992bf90c06-600'
								},
								{
									son_name: '食用油',
									imgurl: 'http://img.haodanku.com/e7eaa199fc4b01afec5c20e80bd89e30-600'
								},
								{
									son_name: '鸭蛋',
									imgurl: 'http://img.haodanku.com/73adfe3dc828b46f4e186bb5904febba-600'
								}
							]
						},
						{
							next_name: '营养保健',
							info: [
								{
									son_name: '酵素',
									imgurl: 'http://img.haodanku.com/6607fec9d51f603dd680aa56c8d367b7-600'
								},
								{
									son_name: 'DHA',
									imgurl: 'http://img.haodanku.com/a9146cfb07408e86776b0f8e720302c8-600'
								},
								{
									son_name: '月见草油',
									imgurl: 'http://img.haodanku.com/b7b3febf2ac9a51fc9ae956da2fa3de6-600'
								},
								{
									son_name: '玛咖',
									imgurl: 'http://img.haodanku.com/6eed576e355b970a83afafaa7e18ab1d-600'
								},
								{
									son_name: '益生菌',
									imgurl: 'http://img.haodanku.com/b12d21f28f7ec2bd4fd91bebe5ca9e63-600'
								},
								{
									son_name: '钙',
									imgurl: 'http://img.haodanku.com/98d655571845e533cbcbab620db00f6b-600'
								},
								{
									son_name: '鱼油',
									imgurl: 'http://img.haodanku.com/5b041d1a105e86d3c5c7f2e3c4ad713f-600'
								}
							]
						}
					]
				},
				{
					cid: 12,
					main_name: '数码',
					data: [
						{
							next_name: '配件',
							info: [
								{
									son_name: '保护壳',
									imgurl: 'http://img.haodanku.com/778ee5974fe396bc6fb46241462aebd1-600'
								},
								{
									son_name: '耳机',
									imgurl: 'http://img.haodanku.com/f34fd15e7a7775051a2c0f613eaa14f1-600'
								},
								{
									son_name: '苹果配件',
									imgurl: 'http://img.haodanku.com/c5f7f3b8324bbc7c9394bdd2af6e7651-600'
								},
								{
									son_name: '鼠标键盘',
									imgurl: 'http://img.haodanku.com/71e1a923a83a1a6ca44695c71b46bf7c-600'
								}
							]
						},
						{
							next_name: '设备',
							info: [
								{
									son_name: '无人机',
									imgurl: 'http://img.haodanku.com/c372feef0f96f90efe5d1c55cacf79c3-600'
								},
								{
									son_name: '电脑主机',
									imgurl: 'http://img.haodanku.com/d596eac2d096816c10881b97fbac02a9-600'
								},
								{
									son_name: '音响',
									imgurl: 'http://img.haodanku.com/81f08ba219e31194566d65363173fdcf-600'
								}
							]
						}
					]
				},
				{
					cid: 13,
					main_name: '家电',
					data: [
						{
							next_name: '个护健康',
							info: [
								{
									son_name: '剃须刀',
									imgurl: 'http://img.haodanku.com/0403690ec3566d182b21f6890b19c0b5-600'
								},
								{
									son_name: '卷发',
									imgurl: 'http://img.haodanku.com/66d34dc8ca5a6474a91900cf7fcf212c-600'
								},
								{
									son_name: '吹风机',
									imgurl: 'http://img.haodanku.com/a38397c2c270c2b46b67ab204ce3b1ec-600'
								},
								{
									son_name: '按摩器',
									imgurl: 'http://img.haodanku.com/f4b2ae83e4589bfe8d095ab786b2fa8b-600'
								},
								{
									son_name: '美容仪',
									imgurl: 'http://img.haodanku.com/1349197fdab1ff2d445c5e281f66c7c1-600'
								}
							]
						},
						{
							next_name: '生活电器',
							info: [
								{
									son_name: '加湿器',
									imgurl: 'http://img.haodanku.com/086080993e964a15594f81c94d509eb8-600'
								},
								{
									son_name: '取暖器',
									imgurl: 'http://img.haodanku.com/f5662ec4c72c3c7f81f8837f51255e4b-600'
								},
								{
									son_name: '吸尘器',
									imgurl: 'http://img.haodanku.com/ec822582bdb343a4fcf4aa7241e76f21-600'
								},
								{
									son_name: '扫地机器人',
									imgurl: 'http://img.haodanku.com/951a3f7ccf7390bbb332c697415bec48-600'
								},
								{
									son_name: '榨汁机',
									imgurl: 'http://img.haodanku.com/7878d1994d35916456406cff96bd333d-600'
								},
								{
									son_name: '烤箱',
									imgurl: 'http://img.haodanku.com/b1ee29313a733d944f80453a2cefa832-600'
								},
								{
									son_name: '电热毯',
									imgurl: 'http://img.haodanku.com/afa97d55c0121f8bcee9dc15bf99dd72-600'
								},
								{
									son_name: '电饭锅',
									imgurl: 'http://img.haodanku.com/529b946479dd79d3f86dd5d161095fad-600'
								},
								{
									son_name: '空气净化器',
									imgurl: 'http://img.haodanku.com/24fc6a453206afb6a7c26d52dc64a50c-600'
								},
								{
									son_name: '豆浆机',
									imgurl: 'http://img.haodanku.com/88e089532fc4b4c184ca1d596d0e3ab4-600'
								},
								{
									son_name: '足浴',
									imgurl: 'http://img.haodanku.com/c0af530b81acc58bc8d495b4ce5ad2ab-600'
								}
							]
						}
					]
				}
			]
		};
	},
	onPageScroll(e) {
		//兼容iOS端下拉时顶部漂移
		if (e.scrollTop >= 0) {
			this.headerPosition = 'fixed';
		} else {
			this.headerPosition = 'absolute';
		}
	},
	onLoad() {
		this.$queue.showLoading('加载中...');
		this.$Request.get('/api/super_classify/apikey/maxd').then(res => {
			if (res.code === 1) {
				this.categoryList = res.general_classify;
			}
			setTimeout(function() {
				uni.hideLoading();
			}, 2000);
		});
	},
	methods: {
		//分类切换显示
		showCategory(index) {
			this.showCategoryIndex = index;
		},
		toCategory(name) {
			uni.navigateTo({
				url: '/package/pages/categray/search?cid=' + this.showCategoryIndex + '&name=' + name
			});
		}
	}
};
</script>
<style lang="scss">
.status {
	width: 100%;
	height: 0;
	position: fixed;
	z-index: 10;
	background-color: #fff;
	top: 0;
	/*  #ifdef  APP-PLUS  */
	height: var(--status-bar-height); //覆盖样式
	/*  #endif  */
}

.header {
	width: 92%;
	padding: 0 4%;
	height: 100upx;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #fff;
	/*  #ifdef  APP-PLUS  */
	top: var(--status-bar-height);
	/*  #endif  */

	.addr {
		width: 120upx;
		height: 60upx;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		font-size: 28upx;

		.icon {
			height: 60upx;
			margin-right: 5upx;
			display: flex;
			align-items: center;
			font-size: 42upx;
			color: #ffc50a;
		}
	}

	.input-box {
		width: 100%;
		height: 60upx;
		background-color: #f5f5f5;
		border-radius: 30upx;
		position: relative;
		display: flex;
		align-items: center;

		.icon {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			width: 60upx;
			height: 60upx;
			font-size: 34upx;
			color: #c0c0c0;
		}

		input {
			padding-left: 28upx;
			height: 28upx;
			font-size: 28upx;
		}
	}

	.icon-btn {
		width: 60upx;
		height: 60upx;
		flex-shrink: 0;
		display: flex;

		.icon {
			width: 60upx;
			height: 60upx;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: 42upx;
		}
	}
}

.place {
	background-color: #ffffff;
	height: 100upx;
	/*  #ifdef  APP-PLUS  */
	margin-top: var(--status-bar-height);
	/*  #endif  */
}

.category-list {
	width: 100%;
	background-color: #fff;
	display: flex;

	.left,
	.right {
		top: 0upx;

		bottom: 0upx;
	}

	.left {
		position: fixed;
		width: 24%;
		left: 0upx;
		background-color: #f2f2f2;

		.row {
			width: 100%;
			height: 90upx;
			display: flex;
			align-items: center;

			.text {
				width: 100%;
				position: relative;
				font-size: 28upx;
				display: flex;
				justify-content: center;
				color: #3c3c3c;

				.block {
					position: absolute;
					width: 0upx;
					left: 0;
				}
			}

			&.on {
				height: 100upx;
				background-color: #fff;

				.text {
					font-size: 30upx;
					font-weight: 600;
					color: #2d2d2d;

					.block {
						width: 10upx;
						height: 80%;
						top: 10%;
						background-color: #f06c7a;
					}
				}
			}
		}
	}

	.right {
		margin-left: 24%;
		width: 76%;
		left: 24%;

		.category {
			width: 94%;
			padding: 20upx 3%;

			.banner {
				width: 100%;
				height: 24.262vw;
				border-radius: 10upx;
				overflow: hidden;
				box-shadow: 0upx 5upx 20upx rgba(0, 0, 0, 0.3);

				image {
					width: 100%;
					height: 24.262vw;
				}
			}

			.list {
				margin-top: 40upx;
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				.box {
					width: calc(65.44vw / 3);
					margin-bottom: 30upx;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;

					image {
						width: 60%;
						height: calc(71.44vw / 3 * 0.6);
					}

					.text {
						margin-top: 5upx;
						width: 100%;
						display: flex;
						justify-content: center;
						font-size: 26upx;
					}
				}
			}
		}
	}
}
</style>
