<template>
	<!-- #ifdef MP-WEIXIN -->
	<view style="margin-top: 300rpx;">
		<view>
			<view class="back-btn yticon icon-zuojiantou-up" @click="navBack"></view>
			<view class='headers'>
				<image src='../../static/logo2.jpg'></image>
			</view>
			<view class='content'>
				<view>申请获取以下权限</view>
				<text>获得你的公开信息(昵称，头像、地区等)</text>
			</view>
			
			<button v-if="weixinPhone" style="background: #E10A07;color: #FFFFFF;"
				class="bottom" open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">
				授权手机号
			</button>
			<button v-if="!weixinPhone" style="background: #E10A07;color: #FFFFFF;" class='bottom'
				bindtap="getUserProfile" @tap="wxGetUserInfo">
				授权登录
			</button>
			
			<!-- 底部信息 -->
			<view class="footer">
				<text @tap="isShowAgree" class="cuIcon" :class="showAgree?'cuIcon-radiobox':'cuIcon-round'">同意
				</text>
				<!-- 协议地址 -->
				<navigator url="/pages/member/mimi" open-type="navigate">《隐私政策》</navigator>和
				<navigator url="/pages/member/xieyi" open-type="navigate">《用户服务协议》</navigator>
			</view>
		</view>
	</view>
	<!-- #endif -->
	<!-- #ifndef MP-WEIXIN -->

	<view class="container">
		<image @click="navBack" src="https://renwu.xiansqx.com/img/20210813/1b038d2abc2e45038f3571e2e8b308f5.png" style="width: 32upx;height: 32upx;margin-left: 46upx;">
		</image>

		<view style="text-align: center;">
			<image style="width: 120upx;height: 120upx;margin-top: 140upx;border-radius:20upx"
				src="../../static/logo2.jpg"></image>
			<view style="font-size: 28upx;margin-top: 32upx">欢迎使用省钱兄任务平台</view>
			<!-- #ifdef APP-PLUS -->
			<button v-if="weixinLogin" class="confirm-btn" @click="weixinLo">微信登录</button>
			<button v-if="weixinLogin" class='confirm-btn-weixin' @click="register">手机号登录</button>
			<button v-if="!weixinLogin" class='confirm-btn' @click="register">手机号登录</button>
			<!-- #endif -->
			<!-- #ifdef H5 -->
			<button class="confirm-btn" @click="register">手机号登录</button>
			<!-- #endif -->

			<!-- 底部信息 -->
			<view class="footer">
				<text>登录即代表同意</text>
				<!-- 协议地址 -->
				<navigator url="/pages/member/mimi" open-type="navigate">《隐私政策》</navigator>
				和
				<navigator url="/pages/member/xieyi" open-type="navigate">《用户服务协议》</navigator>
			</view>
		</view>
	</view>
	<!-- #endif -->
</template>
<script>
	export default {
		data() {
			return {
				mobile: '',
				code: '',
				sessionkey: '',
				flag: '1',
				showAgree: false, //协议是否选择
				weixinPhone: false,
				sending: false,
				sendDataList: {},
				phone: '',
				sendTime: '获取验证码',
				count: 60
			};
		},
		onLoad(e) {
			if (e.invitation) {
				this.$queue.setData('relation', e.invitation);
			}
			//微信登录开启
			this.$Request.getT('/common/type/53').then(res => {
				if (res.code == 0) {
					if (res.data && res.data.value && res.data.value == '是') {
						this.weixinLogin = true;
					}
				}
			});
		},
		methods: {
			//小程序微信登录后获取手机号
			getPhoneNumber: function(e) {
				console.log(e);
				if (e.detail.errMsg == 'getPhoneNumber:fail user deny') {
					console.log('用户拒绝提供手机号');
				} else {
					console.log('用户同意提供手机号');
					this.setPhoneByInsert(e.detail.encryptedData, e.detail.iv);
				}
			},
			//小程序微信登录后获取手机号
			setPhoneByInsert(decryptData, iv) {
				this.$queue.showLoading('登录中...');
			
				let data = {
					decryptData: decryptData,
					key: this.sessionkey,
					iv: iv
				};
				this.$Request.postT('/appLogin/selectPhone', data).then(res => {
					if (res.code === 0) {
						uni.hideLoading();
						this.phone = res.data.phoneNumber;
						this.getWeixinInfo(this.sendDataList);
					} else {
						uni.hideLoading();
						this.$queue.showToast(res.msg);
					}
				});
			},
			isShowAgree() {
				//是否选择协议
				this.showAgree = !this.showAgree;
			},
			//第一授权获取用户信息===》按钮触发
			wxGetUserInfo(e) {
				if (this.showAgree == false) {
					uni.showToast({
						icon: 'none',
						position: 'bottom',
						title: '请先同意《协议》'
					});
					return false;
				}
				let that = this;
				wx.getUserProfile({
					desc: '业务需要',
					success: infoRes => {
						console.log("infoRes.encryptedData__________:" + JSON.stringify(infoRes.userInfo))
						let nickName = infoRes.userInfo.nickName; //昵称
						let avatarUrl = infoRes.userInfo.avatarUrl; //头像
						let sex = infoRes.userInfo.gender; //头像
						try {
							that.login(nickName, avatarUrl, sex);
						} catch (e) {}
					}
				})
			}, //登录
			getWeixinInfo(sendData) {
				console.log(sendData);
				let that = this;
				let url = '/user/mp/update';
				uni.showLoading({
					title: '登录中...'
				});
				var postData = {
					wxId: sendData.openid, //小程序openid
					unionid: sendData.unionid, //unionId
					nickName: sendData.nickName, //微信名称
					imageUrl: sendData.imageUrl, //头像
					sex: sendData.gender, //性别
					phone: that.phone,
					invitationCode: sendData.invitation
				};
				console.log(postData);
			
				that.$Request.postJson('/appLogin/insertWxUser', postData).then(res => {
					console.log(res);
					if (res.code === 0) {
						uni.hideLoading();
						that.$queue.setData('token', res.token);
						that.$queue.setData('userId', res.user.userId);
			
						that.$queue.setData("avatar", res.user.imageUrl ? res.user.imageUrl :
							'/static/img/logo.png');
						that.$queue.setData("nickName", res.user.nickName ? res.user.nickName : res.user.phone);
						that.$queue.setData("mobile", res.user.phone);
						that.$queue.setData("invitationCode", res.user.invitationCode);
						that.$queue.setData("relation_id", res.user.relationId);
						that.$queue.setData("member", res.user.member);
						that.$queue.setData("relation", res.user.invitationCode);
						that.$queue.setData("grade", res.user.grade);
						that.$queue.setData("isInvitation", res.user.isInvitation);
						that.$queue.setData("gender", parseInt(res.user.gender));
						that.$queue.setData("sex", res.user.sex);
						that.$queue.setData("campus", res.user.campus);
						that.$queue.setData("campusName", res.user.campusName);
			
						uni.navigateBack();
						// that.initUserInfo(res.user.userId, res.token);
					} else {
						uni.hideLoading();
						uni.showModal({
							showCancel: false,
							title: '登录失败',
							content: res.msg
						});
					}
				});
			},
			
			login(nickName, avatarUrl, sex) {
				let that = this;
				let url = '/wx/mp/login';
				uni.showLoading({
					title: '登录中...'
				});
				// 1.wx获取登录用户code
				uni.login({
					provider: 'weixin',
					success: function(loginRes) {
						var getParams = {
							code: loginRes.code
						};
						that.$Request.getT('/appLogin/wxLogin', getParams).then(res => {
							console.log(res);
							if (res.code == 0) {
								that.$queue.setData('openid', res.data.open_id);
								that.$queue.setData('unionid', res.data.unionid);
								that.sessionkey = res.data.session_key;
								that.flag = res.data.flag;
								console.log(res.data.unionid, res.data.open_id);
								uni.hideLoading();
								//非第一次授权获取用户信息
								//获取用户信息后向调用信息更新方法
								
								var userByinvitationId = that.$queue.getData('invitation');
								if(userByinvitationId){
									that.userByinvitationId = userByinvitationId;
								}else{
									that.userByinvitationId = that.$queue.getInvitation();
								}
								var sendData = {
									openid: that.$queue.getData('openid'),
									unionid: that.$queue.getData('unionid'),
									nickName: nickName,
									imageUrl: avatarUrl,
									gender: sex, //性别
									invitation: that.userByinvitationId //别人登录进来携带你的邀请码
								};
								that.sendDataList = sendData;
								if (that.flag === '1') {
									that.weixinPhone = true;
								} else {
									that.getWeixinInfo(sendData);
								}
							}
						});
					}
				});
			},
			weixinLo() {
				let that = this;
				uni.login({
					provider: 'weixin',
					success: function(loginRes) {
						that.$queue.showLoading('正在登录中...');
						console.error(loginRes.authResult);
						that.$queue.setData('weixinToken', loginRes.authResult.access_token);
						that.$queue.setData('unionid', loginRes.authResult.unionid);
						that.$queue.setData('weixinOpenid', loginRes.authResult.openid);
						that.$Request
							.postJson('/appLogin/loginApp', {
								token: loginRes.authResult.access_token,
								unionid: loginRes.authResult.unionid,
								openid: loginRes.authResult.openid
							})
							.then(res => {
								console.log(JSON.stringify(res))
								if (res.code === 0) {
									if (uni.getSystemInfoSync().platform == "android") {
										let clientid = plus.push.getClientInfo().clientid;
										that.$Request.postT('/appLogin/updateClientId?clientId=' +
											clientid + '&userId=' + res.userId).then(res => {

										});
									}
									that.$queue.setData("token", res.token);
									that.$queue.setData("userId", res.userId);
									that.getUserInfo(res.userId, res.token);
								} else {
									uni.hideLoading();
									uni.navigateTo({
										url: '/pages/public/wxmobile'
									});
								}
							});


					}
				});
			},

			forget() {
				uni.navigateTo({
					url: '/pages/public/pwd'
				});
			},
			register() {
				uni.navigateTo({
					url: '/pages/public/loginphone'
				});
			},
			inputChange(e) {
				const key = e.currentTarget.dataset.key;
				this[key] = e.detail.value;
			},
			navBack() {
				uni.navigateBack();
			},

			getUserInfo(userId, token) {
				this.$Request.postJson('/app/selectUserById?userId=' + userId).then(res => {
					if (res.code === 0) {
						this.$queue.setData("image_url", res.data.image_url ? res.data.image_url :
							'/static/logo2.jpg');
						this.$queue.setData("relation_id", res.data.relationId);
						this.$queue.setData("relation", res.data.invitation);
						this.$queue.setData("grade", res.data.grade);
						this.$queue.setData('pddpid', res.data.pdd);
						this.$queue.setData('jdpid', res.data.jd);
						this.$queue.setData("isInvitation", res.data.isInvitation);
						this.$queue.setData("nickName", res.data.nickName ? res.data.nickName : res.data.phone);
						this.$queue.setData("gender", parseInt(res.data.gender));
						uni.switchTab({
							url: '/pages/index/index'
						});
					} else {
						uni.showModal({
							showCancel: false,
							title: '登录失败',
							content: res.msg
						});
						this.$queue.logout();
					}
					uni.hideLoading();
				});
			}
		}
	};
</script>

<style lang="scss">
	.footer {
		justify-content: center;
		margin-top: 32upx;
		font-size: 24upx;
		color: #666666;
		text-align: center;
		display: flex;
	}

	
	.headers {
	
		margin: 90rpx 0 90rpx 50rpx;
		border-bottom: 1px solid #ccc;
		text-align: center;
		width: 650rpx;
		height: 300rpx;
		line-height: 450rpx;
	}
	
	.headers image {
		border-radius: 100upx;
		width: 200rpx;
		height: 200rpx;
	}
	
	
	.back-btn {
		position: absolute;
		left: 20px;
		z-index: 9999;
		padding-top: var(--status-bar-height);
		top: 20px;
		font-size: 20px;
		opacity: 0.8;
		color: $font-color-dark;
	}
	
	.content {
		margin-left: 50rpx;
		margin-bottom: 90rpx;
	}
	
	.content text {
		display: block;
		color: #9d9d9d;
		margin-top: 40rpx;
	}
	
	.bottom {
		line-height: 80upx;
		border-radius: 80upx;
		margin: 70rpx 50rpx;
		height: 80upx;
		font-size: 35rpx;
	}

	page {
		background: #fff;
	}

	.send-msg {
		border-radius: 30px;
		color: black;
		background: white;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
	}

	.container {
		top: 0;
		padding-top: 50px;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #fff;
	}

	.wrapper {
		position: relative;
		z-index: 90;
		background: #fff;
		padding-bottom: 20px;
	}

	.back-btn {
		position: absolute;
		left: 20px;
		z-index: 9999;
		padding-top: var(--status-bar-height);
		top: 20px;
		font-size: 20px;
		color: $font-color-dark;
	}

	.left-top-sign {
		font-size: 80px;
		color: $page-color-base;
		position: relative;
	}

	.right-top-sign {
		position: absolute;
		top: 40px;
		right: -15px;
		z-index: 95;

		&:before,
		&:after {
			display: block;
			content: '';
			width: 20px;
			height: 40px;
			background: #e10a07;
		}

		&:before {
			transform: rotate(50deg);
			border-radius: 0 50px 0 0;
		}

		&:after {
			position: absolute;
			right: -198px;
			top: 0;
			transform: rotate(-50deg);
			border-radius: 50px 0 0 0;
			/* background: pink; */
		}
	}

	.left-bottom-sign {
		position: absolute;
		left: -270px;
		bottom: -320px;
		/*border: 100upx solid #d0d1fd;*/
		border-radius: 50%;
		padding: 90px;
	}

	.welcome {
		position: relative;
		left: 30px;
		top: -55px;
		font-size: 28px;
		color: #555;
		text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
	}

	.input-content {
		padding: 0 20px;
	}

	.input-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0 30px;
		background: $page-color-light;
		height: 64px;
		border-radius: 4px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		.tit {
			height: 30px;
			line-height: 28px;
			font-size: $font-sm + 2upx;
			color: $font-color-base;
		}

		input {
			height: 40px;
			font-size: $font-base + 2upx;
			color: $font-color-dark;
			width: 100%;
		}
	}

	.confirm-btn-weixin {
		width: 200px;
		height: 42px;
		line-height: 42px;
		border-radius: 30px;
		margin-top: 40upx;
		background: -moz-linear-gradient(left, #f15b6c, #e10a07 100%);
		background: -webkit-gradient(linear, left top, left right, color-stop(0, #f15b6c), color-stop(100%, #e10a07));
		background: -webkit-linear-gradient(left, #f15b6c 0, #e10a07 100%);
		background: -o-linear-gradient(left, #f15b6c 0, #e10a07 100%);
		background: -ms-linear-gradient(left, #f15b6c 0, #e10a07 100%);
		background: linear-gradient(to left, #f15b6c 0, #e10a07 100%);
		color: #fff;
		font-size: $font-lg;

		&:after {
			border-radius: 60px;
		}
	}

	.confirm-btn {
		width: 200px;
		height: 42px;
		line-height: 42px;
		border-radius: 30px;
		margin-top: 300upx;
		background: -moz-linear-gradient(left, #f15b6c, #e10a07 100%);
		background: -webkit-gradient(linear, left top, left right, color-stop(0, #f15b6c), color-stop(100%, #e10a07));
		background: -webkit-linear-gradient(left, #f15b6c 0, #e10a07 100%);
		background: -o-linear-gradient(left, #f15b6c 0, #e10a07 100%);
		background: -ms-linear-gradient(left, #f15b6c 0, #e10a07 100%);
		background: linear-gradient(to left, #f15b6c 0, #e10a07 100%);
		color: #fff;
		font-size: $font-lg;

		&:after {
			border-radius: 60px;
		}
	}

	.confirm-btn1 {
		width: 300px;
		height: 42px;
		line-height: 42px;
		border-radius: 30px;
		margin-top: 40px;
		background: whitesmoke;
		color: grey;
		font-size: $font-lg;

		&:after {
			border-radius: 60px;
		}
	}

	.forget-section {
		font-size: $font-sm + 2upx;
		color: $font-color-spec;
		text-align: center;
		margin-top: 40px;
	}

	.register-section {
		left: 0;
		margin-top: 30px;
		bottom: 30px;
		width: 100%;
		font-size: $font-sm + 2upx;
		color: $font-color-base;
		text-align: center;

		text {
			color: $font-color-spec;
			margin-left: 10px;
		}
	}
</style>
