<template>
	<view class="content" style="color: #F2F2F2;margin-bottom: 50upx;">
		<view class="view1" style="background:url(https://renwu.xiansqx.com/img/20210813/c34c2128d415435fb39c1386f8968e00.png); width: 100%; height: 350upx;">
			<view class="login-view">
				<view style="display: flex;flex-direction: row;width: 75%;">
					<image :src="image_url"
						style="border-radius: 100upx;width: 100upx;height: 100upx;margin-left: 30upx;"
						@click="uploadImg()"></image>
					<view class="login-view-text1" style="margin-left: 30upx; margin-top: 10upx;width: 45%;">
						<!-- #ifdef MP-WEIXIN -->
						<view style="color: #FFFFFF;">{{ mobile ? mobile : '游客' }}</view>
						<!-- #endif -->
						<!-- #ifndef MP-WEIXIN -->
						<view style="color: #FFFFFF;" @click="goUpdataNickName">{{ mobile ? mobile : '游客' }}</view>
						<!-- #endif -->
						<view v-if="isInvitation" style="color: #FFFFFF; font-size: 12px;margin-top: 10upx;"
							@tap='copyHref(isInvitation)'>邀请码:{{ isInvitation }}</view>
					</view>

					<view v-if="member"
						style="width:20%;margin-left: 30upx;height: 35upx;display: block;text-align: center;background: #FFFFFF;border-radius: 100upx;margin-top: 10upx;">
						<view style="color: red; margin-top: 3upx; font-size: 22upx;text-align: center;"
							@tap="invitati()">{{ member }}</view>
					</view>
				</view>
				<image src="https://renwu.xiansqx.com/img/20210813/695df818250c416194a6f592f85aa51c.png"
					style="width: 40upx;height: 40upx;margin-left: 10%;margin-top: 20upx;" @tap="goMessage"></image>
			</view>
			<view class="order-view">
				<view style="display: flex;	flex-direction: row;">
					<view class="order-view-view" @tap="goMyTask">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/04d1dcbe5ecbf287a2debdff09479fde.png" class="order-view-image"></image>
						<view class="order-view-text">接单列表</view>
					</view>
					<view class="order-view-view" @tap="goPrestige">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/cd15eee270e8e897a9ad11096d32f97a.png" class="order-view-image"></image>
						<view class="order-view-text">我的信誉</view>
					</view>
					<view class="order-view-view" @tap="goRights">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/75b0593ce68ea078461a7021ae6323f0.png" class="order-view-image"></image>
						<view class="order-view-text">我的维权</view>
					</view>
					<view class="order-view-view" @tap="goHistroy">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/aa3f01915e5fe5f19fc504ef6597fcda.png" class="order-view-image"></image>
						<view class="order-view-text">历史浏览</view>
					</view>
				</view>
				
				<view style="display: flex;	flex-direction: row;">
					<view class="order-view-view" @tap="goDispatchTask">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/644317ec1609442d3120ffb2cf296665.png" class="order-view-image"></image>
						<view class="order-view-text">发单列表</view>
					</view>
					<view class="order-view-view" @tap="goAuditTask">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/a68b155a5603f40c13a80ac40b2ebc0e.png" class="order-view-image"></image>
						<view class="order-view-text">发单审核</view>
					</view>
					<view class="order-view-view" @tap="goRight">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/08f7afe17432bc70e05eeab9f640fdfa.png" class="order-view-image"></image>
						<view class="order-view-text">发单维权</view>
					</view>
					<view class="order-view-view" @tap="goMyJiangjin">
						<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/0f405a28df73588854e4f2796b8f14b9.png" class="order-view-image"></image>
						<view class="order-view-text">我的奖金</view>
					</view>
				</view>
			</view>
		</view>

		<view class="view2" style="height: 350upx;">
			<view @tap="goRanking" class="view2-view">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/bdf99fdc8aca8c2721d296b8a65247be.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">排行中心</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
			<view @tap="goWallet" class="view2-view">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/f05ffe7ab18d2565bd7bafdb7ab91978.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">我的钱包</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
			<view class="view2-view" @tap="invitati()">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/44b16ec01ea7f1f31a048f1838967974.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">分享好友</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
			<view class="view2-view" @tap="goMyFollow()">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/752cba776bddfcfe5e9a74595aec7d92.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">我的关注</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
		</view>

		<view class="view3"
			style="background-color: #FFFFFF; width: 100%; height: max-content;margin-top: 20upx;padding-bottom: 20upx;">
			<view class="view2-view" style="padding-top: 20upx;" @tap="goJiFen()">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/54f5b0cfe6602bfb5ff5772e1cb2ac65.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">我的积分</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
			<view class="view2-view" style="padding-top: 20upx;" @tap="goCustomer()">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/9011f36da6c8c1c8074edb45ef8bfd34.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">联系客服</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
			<view class="view2-view" style="padding-top: 20upx;" @tap="goSetting()">
				<image src="https://rwshop.xianmxkj.com/file/uploadPath/2021/08/24/e926a3cc1545d28ef3c3b33186573eb0.png" class="view2-view-image"></image>
				<view class="view2-view1">
					<view class="view2-view-text">系统设置</view>
					<image src="https://renwu.xiansqx.com/img/20210813/c6fbb650f8cd4e81bf93d8a64d9b3b8a.png" class="view2-view-image-right"></image>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import tRtPopup from '@/components/views/t-rt-popup/t-rt-popup';
	import tuiButton from '@/components/thorui/tui-button/tui-button.vue';
	import configdata from '../../common/config.js';
	export default {
		components: {
			tuiButton,
			tRtPopup
		},
		data() {
			return {
				grade: '',
				phone: '',
				isInvitation: '',
				mobile: '',
				member: '',
				image_url: '/static/logo2.jpg',
				itemList: [{
						title: '发布任务',
						icon: 'new',
						path: 'new'
					},
					{
						title: '我的派单',
						icon: 'my',
						path: 'myList'
					},
					{
						title: '需要审核',
						icon: 'examine',
						path: 'examine'
					},
					{
						title: '派单维权',
						icon: 'rights',
						path: 'rights'
					}
				]
			};
		},
		onShow() {
			let mobile = this.$queue.getData('nickName');
			this.phone = this.$queue.getData('mobile');
			let image_url = this.$queue.getData('image_url');
			let gender = this.$queue.getData('gender');
			let isInvitation = this.$queue.getData('isInvitation');
			let member = this.$queue.getData('member');
			if (mobile && mobile !== 'undefined') {
				this.mobile = mobile;
			} else {
				this.mobile = '';
			}
			if (image_url && image_url !== 'undefined') {
				this.image_url = image_url;
			} else {
				this.image_url = '/static/logo2.jpg';
			}
			if (isInvitation && isInvitation !== 'undefined') {
				this.isInvitation = isInvitation;
			} else {
				this.isInvitation = '';
			}
			if (member && member !== 'undefined') {
				if (member === 1) {
					//未激活
					this.member = '未激活';
				} else if (member === 2) {
					//未激活
					this.member = '初级会员';
				} else if (member === 3) {
					//未激活
					this.member = '中级会员';
				} else if (member === 4) {
					//未激活
					this.member = '高级会员';
				}
			} else {
				this.member = '';
			}
			if (gender) {
				this.gender = gender;
			}

			let userId = this.$queue.getData('userId');
			if (userId) {
				this.getUserInfo(userId);
			}
		},
		onNavigationBarButtonTap(e) {
			if (e.index === 0) {
				this.$refs.rtBubble.toggle();
			}
		},
		methods: {
			goMyJiangjin(){
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/pages/invitation/invitationDetial'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goDispatchTask() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/myList'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goAuditTask() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/examine'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goRight() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/rights'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goJiFen() {
				uni.navigateTo({
					url: '/pages/member/jifen'
				})
			},
			goMyFollow() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/myfollow'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goUpdataNickName() {
				let token = this.$queue.getData('token');
				if (token) {
					// #ifdef MP-WEIXIN
					return;
					// #endif
					uni.navigateTo({
						url: './updataNickName'
					});
				} else {
					this.goLoginInfo();
				}
			},
			uploadImg() {
				let token = this.$queue.getData('token');
				if (!token) {
					this.goLoginInfo();
					return;
				}
				// #ifdef MP-WEIXIN
				return;
				// #endif
				let that = this;
				var url = null;
				let userId = this.$queue.getData('userId');
				uni.showActionSheet({
					// itemList按钮的文字接受的是数组
					itemList: ["查看头像", "从相册选择图片"],
					success(e) {
						var index = e.tapIndex
						if (index === 0) {
							// 用户点击了预览当前图片
							// 可以自己实现当前头像链接的读取
							let url = that.image_url;
							let arr = []
							arr.push(url)
							uni.previewImage({
								// 预览功能图片也必须是数组的
								urls: arr
							})
						} else if (index === 1) {
							uni.chooseImage({
								count: 1, //默认9
								sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
								sourceType: ['album'], //从相册选择
								success: function(res) {
									uni.showLoading({
										title: '上传中...'
									});
									let token = uni.getStorageSync('token');
									uni.uploadFile({
										url: that.config("APIHOST1") +
										'/alioss/uploadUniApp', //仅为示例，非真实的接口地址
										filePath: res.tempFilePaths[0],
										header: {
											token: token
										},
										name: 'file',
										success: uploadFileRes => {
											url = uploadFileRes.data;
											that.$Request.postJson(
												'/app/updateUser?userId=' + userId +
												'&imageUrl=' + url).then(res => {
												uni.hideLoading();
												if (res.code === 0) {
													that.$queue.showToast("更新成功");
													that.getUserInfo(userId);
												}
											});
										}
									});
								}
							});
						}
					}
				})
			},
			config: function(name) {
				var info = null;
				if (name) {
					var name2 = name.split("."); //字符分割
					if (name2.length > 1) {
						info = configdata[name2[0]][name2[1]] || null;
					} else {
						info = configdata[name] || null;
					}
					if (info == null) {
						let web_config = cache.get("web_config");
						if (web_config) {
							if (name2.length > 1) {
								info = web_config[name2[0]][name2[1]] || null;
							} else {
								info = web_config[name] || null;
							}
						}
					}
				}
				return info;
			},
			/**
			 * 复制链接
			 */
			copyHref(name) {
				uni.setClipboardData({
					data: name,
					success: r => {
						this.$queue.showToast('复制成功');
					}
				});
			},
			goLogin() {
				let token = this.$queue.getData('token');
				if (!token) {
					this.goLoginInfo();
				}
			},
			goSetting() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '../member/account'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goCustomer() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '../member/customer'
					});
				} else {
					this.goLoginInfo();
				}
			},
			rtBubble() {
				let token = this.$queue.getData('token');
				if (token) {
					this.$refs.rtBubble.toggle();
				} else {
					this.goLoginInfo();
				}
			},
			itemClick: function(e) {
				let text = ['new', 'myList', 'examine', 'rights'][e.index];
				uni.navigateTo({
					url: `/package/pages/task/${text}`
				});
			},
			invitati() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '../invitation/invitationUser'
					})
				} else {
					this.goLoginInfo();
				}
			},
			//获取用户信息
			getUserInfo(userId) {
				this.$Request.postJson('/app/selectUserById?userId=' + userId).then(res => {
					if (res.code === 0) {
						this.$queue.setData('image_url', res.data.imageUrl);
						this.$queue.setData('relation_id', res.data.relationId);
						this.$queue.setData('nickName', res.data.nickName);
						this.$queue.setData('member', res.data.member);
						this.$queue.setData('isInvitation', res.data.invitationCode);
						this.grade = res.data.grade;
						this.isInvitation = res.data.invitationCode;
						this.$queue.setData('relation', res.data.invitationCode);
						this.$queue.setData('gender', parseInt(res.data.gender));
						this.gender = parseInt(res.data.gender);
						if (res.data.imageUrl) {
							this.image_url = res.data.imageUrl;
						} else {
							this.image_url = '/static/logo2.jpg';
						}
						if (res.data.member) {
							if (res.data.member === 1) {
								//未激活
								this.member = '未激活';
							} else if (res.data.member === 2) {
								//未激活
								this.member = '初级会员';
							} else if (res.data.member === 3) {
								//未激活
								this.member = '中级会员';
							} else if (res.data.member === 4) {
								//未激活
								this.member = '高级会员';
							}
						} else {
							this.member = '';
						}
						if (res.data.nickName) {
							this.mobile = res.data.nickName;
						} else {
							this.mobile = res.data.phone;
						}
					} else {
						this.$queue.logout();
					}
				});
			},
			//统一登录跳转
			goLoginInfo() {
				this.$queue.setData('href', '/pages/my/index');
				uni.navigateTo({
					url: '/pages/public/login'
				});
			},
			goMessage: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/renwu'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goWallet: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/pages/my/wallet'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goRanking: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/pages/my/ranking'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goMyTask: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/myTask'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goHistroy: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/history'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goRights: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/myrights'
					});
				} else {
					this.goLoginInfo();
				}
			},
			goPrestige: function() {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: '/package/pages/task/prestige'
					});
				} else {
					this.goLoginInfo();
				}
			}
		}
	};
</script>

<style>
	.order-view {
		background-color: #ffffff;
		height: 320upx;
		margin-top: 40upx;
		border-top-left-radius: 40upx;
		border-top-right-radius: 40upx;
		padding-left: 15upx;
	}

	.order-view-image {
		width: 55upx;
		height: 55upx;
	}

	.order-view-view {
		text-align: center;
		padding: 30upx;
		width: 180upx;
	}

	.order-view-text {
		color: #000000;
		font-size: 12px;
		margin-top: 10upx;
		margin-left: 8upx;
	}

	.view2 {
		background-color: #FFFFFF;
		width: 100%;
		height: 275upx;
		padding-top: 10upx;
		/* #ifndef H5 */
		margin-top: 275upx;
		/* #endif */
		/* #ifdef H5 */
		margin-top: 250upx;
		/* #endif */
	}

	.login-view {
		display: flex;
		flex-direction: row;
		/* #ifdef H5 */
		padding-top: 120upx;
		/* #endif */
		/* #ifndef H5 */
		padding-top: 150upx;
		/* #endif */
	}

	.view2-view {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 85upx;
		align-items: center;
	}

	.view2-view1 {
		display: flex;
		flex-direction: row;
		width: 90%;
		align-items: center;
	}

	.view2-view-image {
		margin-left: 40upx;
		width: 35upx;
		height: 35upx;
	}

	.view2-view-text {
		font-size: 14px;
		color: #000000;
		margin-left: 20upx;
		width: 80%;
	}

	.view2-view-image-right {
		width: 12upx;
		height: 20upx;
		margin-left: 50upx;
	}
</style>
