<template>
	<view class="container">
		<view class="user-section">
			<view class="bg"></view>
			<view style="background-image: url(https://renwu.xiansqx.com/img/20210813/be77eaa3c60e4757aa79dac31b104526.png);background-size: 100%;">
				<view class="user-info-box">
					<view class="" style="display: flex;flex-direction: row;margin-top: 20px;padding: 40upx 0 0 20upx;">
						<view style="width: 24%;text-align: center;">
							<image class="portrait" :src="image_url"></image>
						</view>
						<view style="width: 45%;">
							<view style="text-align: left;width: 170px;position: relative;">
								<view class="info-box" style="margin-top: 16upx;margin-left: 10upx;">
									<text v-if="mobile" class="username" style="color: #000000">{{ mobile ? mobile : '游客' }}</text>
								</view>
								<view v-if="isTuan == 1 && isEnable != '否'" style="text-align: center;padding-top: 10upx;background-image: url(https://renwu.xiansqx.com/img/20210813/fcdd547baa4f433c8929311851748d41.png);background-size: 100%;width:150upx;height: 50upx;">
									<view style="font-size: 24upx;color: #cedbe3;">团长</view>
								</view>
							</view>
						</view>
						<view style="display: flex;flex-direction: row;align-items: center;margin-top: 40upx;">
							<image src="https://renwu.xiansqx.com/img/20210813/2b72f7c8a7084464a4e081d05b60103f.png" style="height: 30upx;width: 30upx;"></image>
							<view @click="navTo('/pages/platformtask/myTask')" style="font-size: 30upx;color: #000;margin-left: 10upx;">我的任务</view>
						</view>
					</view>
					<view style="display: flex;flex-direction: row;width: 100%; height: 50upx;">
						<view style="width: 60%;margin-left: 50upx;">
							<view style="display: flex;flex-direction: row;align-items: center;margin-top: 20upx;">
								<image src="https://renwu.xiansqx.com/img/20210813/be25a111702748879333264c7664e599.png" style="margin-top: 7upx;height: 20upx;width: 20upx;"></image>
								<view @click="navTo('/pages/platformtask/luckDetail')" style="font-size: 28upx;color: #999999;margin-left: 10upx;margin-top: 10upx;width: 75%;">
									幸运值 : {{ lucknumber }} / {{ asRequired }}
								</view>
							</view>
							<view style="height: 10upx;width: 350upx;background-color: #d8d8d8;"></view>
							<view style="margin-top: 10upx;font-size: 30upx;color: #8f705d;">累计派送红包{{ accruingAmounts }}元</view>
						</view>
						<view style="text-align: center;margin-top: 40upx;background: #fb2622;border-radius: 100upx;width:150upx;margin-left: 10upx;height: 40upx;">
							<view @click="navTo('/pages/platformtask/ranking')" style="font-size: 28upx;color: #FFFFFF;">红包榜</view>
						</view>
					</view>
				</view>
			</view>
		</view>

		<scroll-view scroll-x class="bg-white nav" scroll-with-animation :scroll-left="scrollLeft" style="border-bottom: 1px solid ghostwhite">
			<view class="navbar" style="background-color: #FFFFFF;text-align: center;width: 100%;" v-if="tab.length > 0">
				<view v-for="(item, index) in tab" :data-id="index" :key="index" class="nav-item" style="margin-left: 50upx;"
				 :class="{ current: index == TabCur }" @tap="tabSelect">
					{{ item.classifyName }}
				</view>
			</view>
		</scroll-view>
		<view>
			<view v-for="(item, index) in taskList" :key="index">
				<view class="view3" @tap="getTaskItem(item.id)" style="box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;;display: flex;flex-direction: row;border-radius: 20upx;background-color: #FFFFFF; height: 230upx; width: 97%;align-items: center;margin: 10upx; 0 0 10upx">
					<image :src="item.titlePicture" style="border-radius: 20upx;width: 200upx;height: 200upx;background-size: 100%;padding: 10upx 10upx 10upx 20upx;"></image>
					<view class="view" style="margin-left: 20upx;">
						<view style="display: flex;flex-direction: row;">
							<view style="text-align: center;background: #e10909;border-radius: 10upx;width:100upx;height: 40upx;padding-top: 5upx;">
								<view style="font-size: 24upx;color: #FFFFFF;">{{ item.classifyName }}</view>
							</view>
							<view style="margin-left: 10upx;width: 400upx;height: 130upx;padding-right: 10upx;">{{ item.title }}</view>
						</view>
						<view style=";display: flex;flex-direction: row;text-align: left;width: 200px;position: relative;align-items: center;">
							<image src="https://renwu.xiansqx.com/img/20210813/be25a111702748879333264c7664e599.png" style="margin-top: 7upx;height: 20upx;width: 20upx;"></image>
							<view style="font-size: 26upx;color: red;margin-left: 10upx;margin-top: 10upx;width: 75%;">幸运值 : {{ item.luckyValue }}</view>
						</view>
					</view>
				</view>
			</view>

			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']" style="bottom: 56px;"><text
				 class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="newsList.length > 0">
				<load-more :loadingType="contentText[loadingType]" :contentText="contentText"></load-more>
			</view>
			<!-- 加载更多提示 -->
			<empty v-if="taskList.length === 0" des="暂无数据" show="false" style="height:920rpx; position:unset;"></empty>
		</view>
	</view>
</template>

<script>
	export default {
		components: {},
		data() {
			return {
				isEnable: '否',
				mobile: '',
				lucknumber: '',
				image_url: '/static/logo.png',
				isTuan: 0,
				asRequired: '',
				accruingAmounts: 0,
				taskList: [],
				newsList: [],
				tabList: [{
						position: 'tg', //推广红包
						name: '推广红包'
					},
					{
						position: 'pg', //拼购红包
						name: '拼购红包'
					},
					{
						position: 'xx', //线下派送
						name: '线下派送'
					}
				],
				tab: [],
				tabData: [],
				TabCur: 0,
				TabCur1: 0,
				scrollLeft: 0,
				scrollTop: false,
				page: 1,
				size: 10,
				loadingType: 0,
				type: 1,
				contentText: {
					contentdown: '上拉显示更多',
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了'
				}
			};
		},
		onShow() {
			let a = this.$queue.getData('isEnable');
			if (a) {
				this.isEnable = a;
			}
			let userId = this.$queue.getData('userId');
			if (userId) {
				this.getUserInfo(userId);
				this.getLuckNumber(userId);
			} else {
				this.goLoginInfo();
			}
		},
		onLoad() {
			this.getTabList();
		},
		methods: {
			getTaskItem(id) {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url: './taskItem?id=' + id
					});
				} else {
					this.goLoginInfo();
				}
			},
			//统一登录跳转
			goLoginInfo() {
				this.$queue.setData('href', '/pages/platformtask/index');
				//#ifdef H5
				uni.navigateTo({
					url: '/pages/public/login'
				});
				//#endif
				//#ifndef H5
				uni.navigateTo({
					url: '/pages/public/login'
				});
				//#endif
			},
			getTabList() {
				this.$Request.getT('/platformClassify/selectClassifyList').then(res => {
					if (res.code === 0) {
						this.tab = [];
						this.tabData = [];
						this.TabCur1 = res.data[0].id;
						res.data.forEach(d => {
							this.tab.push(d);
							this.tabData.push(d);
						});
						this.getTaskList();
					}
				});
			},
			getLuckNumber(userId) {
				this.$Request.getT('/helpTaskPlatform/selectLuckyValue?userId=' + userId).then(res => {
					if (res.code === 0) {
						this.asRequired = res.data.asRequired;
						this.lucknumber = res.data.helpLuckyValue.luckyValue;
						this.accruingAmounts = res.data.helpLuckyValue.accruingAmounts;
					}
				});
			},
			getTaskList(type) {
				this.loadingType = 1;
				uni.showLoading({
					title: '加载中...'
				});
				this.$Request.getT('/helpTaskPlatform/selectHelpTaskPlatformListByClassifyId?page=' + this.page + '&limit=' + this.size +
					'&classifyId=' + this.TabCur1).then(res => {
					if (res.code === 0) {
						if (this.page === 1) {
							this.taskList = [];
						}
						res.data.list.forEach(d => {
							this.taskList.push(d);
						});
						this.loadingType = 0;
					} else {
						this.loadingType = 2;
					}
					uni.hideLoading();
					if (type === 'Refresh') {
						uni.stopPullDownRefresh(); // 停止刷新
					}
				});
			},
			tabSelect(e) {
				this.TabCur = e.currentTarget.dataset.id;
				this.TabCur1 = this.tab[e.currentTarget.dataset.id].id;
				this.scrollLeft = (e.currentTarget.dataset.id - 1) * 60;
				this.page = 1;
				this.getTaskList('');
				//#ifdef H5
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				});
				//#endif
			},
			topScrollTap: function() {
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				});
			},
			//获取用户信息
			getUserInfo(userId) {
				this.$Request.getT('/app/selectInvite?userId=' + userId).then(res => {
					if (res.code === 0) {
						if (res.data.isTuan) {
							this.isTuan = parseInt(res.data.isTuan);
						}
						if (res.data.user.imageUrl) {
							this.image_url = res.data.user.imageUrl;
						} else {
							this.image_url = '/static/logo2.jpg';
						}
						if (res.data.user.nickName) {
							this.mobile = res.data.user.nickName;
						} else {
							this.mobile = res.data.user.phone;
						}
					} else {
						this.$queue.logout();
						uni.showModal({
							title: '用户信息提示',
							content: '本地用户信息失效需要重新授权登录',
							showCancel: false,
							success: e => {
								//#ifdef H5
								if (e.confirm) {
									window.location.reload();
								} else {
									window.location.reload();
								}
								//#endif
								//#ifndef H5
								this.navTo('/pages/public/login');
								//#endif
							}
						});
					}
				});
			},
			/**
			 * 统一跳转接口,拦截未登录路由
			 * navigator标签现在默认没有转场动画，所以用view
			 */
			navTo(url) {
				let token = this.$queue.getData('token');
				if (token) {
					uni.navigateTo({
						url
					});
				} else {
					this.goLoginInfo();
				}
			},
			onPageScroll: function(e) {
				this.scrollTop = e.scrollTop > 200;
			},
			onReachBottom: function() {
				this.page = this.page + 1;
				this.getTaskList('');
			},
			onPullDownRefresh: function() {
				this.page = 1;
				this.getTaskList('Refresh');
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import '../../../static/css/index.css';

	page {
		background: #FFFFFF;
	}

	.user-section {
		margin-top: -30upx;
		height: 400upx;
		padding: 8upx 20upx 0 20upx;
		position: relative;

		.bg {
			background-color: #160d00;
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			filter: blur(1px);
		}
	}

	.user-info-box {
		width: 100%;
		height: 310upx;
		// display: flex;

		align-items: center;
		position: relative;
		z-index: 1;
		background-image: url(https://renwu.xiansqx.com/img/20210813/be77eaa3c60e4757aa79dac31b104526.png);
		background-size: 100%;

		.portrait {
			width: 100upx;
			height: 100upx;
			border-radius: 100upx;
		}

		.username {
			font-size: 32upx;
			color: #000000;
			margin-top: 16px;
		}
	}

	.navbar {
		display: flex;
		height: 80upx;
		padding: 0 5px;
		box-shadow: 0 2upx 10upx rgba(0, 0, 0, 0.06);
		position: relative;
		z-index: 10;

		.nav-item {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 32upx;
			color: $font-color-dark;
			position: relative;

			&.current {
				color: $base-color;
				font-size: 34upx;
				font-weight: bold;
				border-bottom-width: 6upx;
				text-align: center;

				&:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					width: 44px;
					height: 0;
					border-bottom: 4upx solid $base-color;
				}
			}
		}
	}

	.navbar1 {
		display: flex;
		height: 80upx;
		box-shadow: 0 2upx 10upx rgba(0, 0, 0, 0.06);
		position: relative;
		z-index: 10;

		.nav-item1 {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 32upx;
			color: #8f705d;
			position: relative;

			&.current1 {
				color: #8f705d;
				font-size: 34upx;
				font-weight: bold;
				border-bottom-width: 6upx;
				text-align: center;

				&:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					width: 44px;
					height: 0;
					border-bottom: 4upx solid $base-color;
				}
			}
		}
	}
</style>
