<template>
	<view class="content">
		<view class="view2" style="margin-top: 10upx;">
			<view style="display: flex;flex-direction: row;padding: 20upx;" v-if="list.length > 0">
				<view style="width: 20%;">序列</view>
				<view style="width: 50%;">用户ID</view>
				<view style="width: 30%;text-align: center;">幸运值</view>
			</view>
			<view style="display: flex;flex-direction: row;padding: 20upx;" v-for="(item, index) in list" :key="index">
				<view style="width: 20%;">
					<view style="font-size: 19px; color: #999999; margin-left: 15upx;">{{ index + 1 }}</view>
				</view>
				<view style="width: 50%;display: flex;flex-direction: row;align-items: center;">
					<image :src="item.image_url" style="width: 50upx; height: 50upx;"></image>
					<view style="font-size: 14px; color: #333333;width: 65%;margin-left: 10upx;">{{ item.nick_name }}</view>
				</view>
				<view style="width: 30%;margin-top: 10upx;text-align: center;">
					<view style="font-size: 16px;color: #FF580B;">{{ item.luckyValue }}</view>
				</view>
			</view>

			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']" style="bottom: 56px;"><text class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="list.length > 0"><load-more :loadingType="loadingType" :contentText="contentText"></load-more></view>
			<!-- 加载更多提示 -->
			<empty v-if="list.length === 0" des="暂无数据" show="false"></empty>
		</view>
	</view>
</template>

<script>
import uniListItem from '@/components/uni-list-item/uni-list-item.vue';

export default {
	components: {
		uniListItem
	},
	data() {
		return {
			list: [],
			page: 1,
			indexex: 0,
			size: 10,
			cid: 0,
			type: 1,
			isInvitation: 0,
			sort: 4,
			genderKey: 'gender',
			loadingType: 0,
			scrollTop: false,
			contentText: {
				contentdown: '上拉显示更多',
				contentrefresh: '正在加载...',
				contentnomore: '没有更多数据了'
			}
		};
	},
	onPageScroll: function(e) {
		this.scrollTop = e.scrollTop > 200;
	},
	onLoad: function(e) {
		this.loadList('');
	},
	methods: {
		topScrollTap: function() {
			uni.pageScrollTo({
				scrollTop: 0,
				duration: 300
			});
		},
		loadList: function(type) {
			this.loadingType = 1;
			uni.showLoading({
				title: '加载中...'
			});
			let userId = this.$queue.getData('userId');
			let data = {
				page: this.page,
				limit: this.size,
				userId: userId
			};
			this.$Request.getT('/helpTaskPlatform/selectLuckyQueueByUser', data).then(res => {
				if (res.code === 0) {
					if (this.page === 1) {
						this.list = [];
					}
					res.data.userList.list.forEach(d => {
						if (!d.image_url) {
							d.image_url = '/static/logo2.jpg';
						}
						this.list.push(d);
					});
					this.loadingType = 0;
				} else {
					this.loadingType = 2;
				}
				uni.hideLoading();
				if (type === 'Refresh') {
					uni.stopPullDownRefresh(); // 停止刷新
				}
			});
		}
	},
	onReachBottom: function() {
		this.page = this.page + 1;
		this.loadList('');
	},
	onPullDownRefresh: function() {
		this.page = 1;
		this.loadList('Refresh');
	}
};
</script>

<style lang="less" scoped>
@import '../../../static/css/index.css';
page{
	background: #FFFFFF;
}
.view2 {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}
.index-content {
	background-color: #FFFFFF;
	.list-item {
		background-color: #ffffff;

		.list-item-wrap {
			display: flex;
			flex-direction: column;

			.list-title {
				font-weight: bold;
			}
		}
	}
}
</style>
