<template>
	<!-- 我的任务 -->
	<view class="myTask">
		<view class="tui-tabs">
			<scroll-view
				id="tab-bar"
				scroll-with-animation
				class="tui-scroll-h"
				:scroll-x="true"
				:show-scrollbar="false"
				style="position: unset;border-bottom: 2upx solid #F8F8F8;"
			>
				<view style="display: flex;">
					<view :key='index' v-for="(tab, index) in tabBars" :id="tab.id" :data-current="index" @tap="tabClick(tab)">
						<view class="tui-tab-item-title" style="margin-left: 70upx;" :class="{ 'tui-tab-item-title-active': tabIndex == tab.id }">{{ tab.name }}</view>
					</view>
				</view>
			</scroll-view>
		</view>

		<view class="task-content" style="margin-top: 10upx;">
			<view v-for="(item, index) in newsList" :key="index">
				<view @tap="getTaskItem(item.id)" style="box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;display: flex;flex-direction: row;background-color: #FFFFFF; height: 150upx; width: 97%;align-items: center;margin: 10upx;">
					<image :src="item.titlePicture" style="margin-left: 20upx;border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;"></image>
					<view style="margin-left: 20upx; width: 60%;">
						<view class="">{{ item.title }}</view>
						<view style="display: flex;flex-direction: row;text-align: left;width: 200px;position: relative;align-items: center;">
							<image src="https://renwu.xiansqx.com/img/20210813/be25a111702748879333264c7664e599.png" style="margin-top: 7upx;height: 20upx;width: 20upx;"></image>
							<view style="font-size: 13px;color: red;margin-left: 10upx;margin-top: 10upx;width: 75%;">幸运值 : {{ item.luckyValue }}</view>
						</view>
					</view>
					<view v-if="item.state == '待审核'" style="color: #999999;font-size:26upx;margin-top:5upx;">{{ item.state }}</view>
					<view v-if="item.state == '已接单'" style="color: #999999;font-size:26upx;margin-top:5upx;">{{ item.state }}</view>
					<view v-if="item.state == '已通过'" style="color: green;font-size:26upx;margin-top:5upx;">{{ item.state }}</view>
					<view v-if="item.state == '已放弃'" style="color: red;font-size:26upx;margin-top:5upx;">{{ item.state }}</view>
					<view v-if="item.state == '已拒绝'" style="color: red;font-size:26upx;margin-top:5upx;">{{ item.state }}</view>
				</view>
			</view>
			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']" style="bottom: 56px;"><text class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="newsList.length > 0"><load-more :loadingType="loadingType" :contentText="contentText"></load-more></view>
			<!-- 加载更多提示 -->
			<empty style="margin-top:200upx;" v-if="newsList.length === 0" des="暂无数据" show="false"></empty>
			
		</view>
	</view>
</template>
<script>
import uniList from '@/components/uni-list/uni-list.vue';
import uniListItem from '@/components/uni-list-item/uni-list-item.vue';
import tuiListCell from '@/components/list-cell/list-cell';
import tuiLoadmore from '@/components/loadmore/loadmore';
import tuiNomore from '@/components/nomore/nomore';
import tuiTips from '@/components/tips/tips';

export default {
	components: {
		uniList,
		uniListItem,
		tuiListCell,
		tuiLoadmore,
		tuiNomore,
		tuiTips
	},
	data() {
		return {
			newsList: [],
			tabIndex: 'hot',
			tabBars: [
				{
					name: '全部',
					id: 'hot',
					state: '-1'
				},
				{
					name: '待审核',
					id: 'yule',
					state: '1'
				},
				{
					name: '通过',
					id: 'sports',
					state: '2'
				},
				{
					name: '未通过',
					id: 'domestic',
					state: '3'
				},
				{
					name: '放弃',
					id: 'finance',
					state: '4'
				}
			],
			page: 1,
			size: 10,
			tabState: '-1',
			cid: 0,
			type: 1,
			loadingType: 0,
			scrollTop: false,
			contentText: {
				contentdown: '上拉显示更多',
				contentrefresh: '正在加载...',
				contentnomore: '没有更多数据了'
			}
		};
	},
	onShow() {
		this.loadList(0, '-1');
	},
	onLoad() {
		this.loadList(0, '-1');
	},
	onPageScroll: function(e) {
		this.scrollTop = e.scrollTop > 200;
	},
	methods: {
		loadList: function(type, status) {
			this.loadingType = 1;
			uni.showLoading({
				title: '加载中...'
			});
			let userId = this.$queue.getData('userId');
			let data = {
				page: this.page,
				limit: this.size,
				state: status,
				userId: userId
			};
			this.$Request.getT('/helpTaskPlatform/selectHelpGetTaskListByUserId', data).then(res => {
				if (res.code === 0) {
					if (this.page === 1) {
						this.newsList = [];
					}
					for (var i = 0; i < res.data.list.length; i++) {
						this.newsList.push(res.data.list[i]);
						//0接单成功 1提交待审核 2审核成功 3拒绝 4维权 5放弃
						if (res.data.list[i].state === 0) {
							this.newsList[i].state = '已接单';
						} else if (res.data.list[i].state === 1) {
							this.newsList[i].state = '待审核';
						} else if (res.data.list[i].state === 2) {
							this.newsList[i].state = '已通过';
						} else if (res.data.list[i].state === 3) {
							this.newsList[i].state = '已拒绝';
						} else if (res.data.list[i].state === 4) {
							this.newsList[i].state = '已放弃';
						}
					}
					this.loadingType = 0;
				} else {
					this.loadingType = 2;
				}
				uni.hideLoading();
				if (type === 'Refresh') {
					uni.stopPullDownRefresh(); // 停止刷新
				}
			});
		},
		getTaskItem(id) {
			uni.navigateTo({
				url: './taskItem?id=' + id
			});
		},
		topScrollTap: function() {
			uni.pageScrollTo({
				scrollTop: 0,
				duration: 300
			});
		},
		tabClick(tab) {
			this.switchTab(tab.id, tab.state);
		},
		tabChange(e) {
			this.switchTab(tab.id, tab.state);
		},
		switchTab(index, state) {
			this.page = 1;
			this.tabState = state;
			this.tabIndex = index;
			this.newsList = [];
			this.loadList('switch', this.tabState);
		}
	},
	onReachBottom: function() {
		this.page = this.page + 1;
		this.loadList('', this.tabState);
	},
	onPullDownRefresh: function() {
		this.page = 1;
		this.loadList('Refresh', this.tabState);
	}
};
</script>

<style lang="less" scoped>
@import '../../../static/less/index.less';
@import '../../../static/css/index.css';
page{
	background: #FFFFFF;
}
.day {
	width: 110upx;
	height: 30upx;
	margin-top: 10upx;
	background-color: pink;
	color: red;
	font-size: 22upx;
	text-align: center;
	line-height: 30upx;
	border-radius: 10upx;
}
</style>
