<template>
	<view class="content">
		<view class="view1">
			<view style="height: 100upx; width: 100%;text-align: center;padding-top: 40upx;">
				<image :src="image_url" style="width: 120upx;height: 120upx;border-radius: 100upx;"></image>
				<view style="font-size: 14px;color: #999999;margin-top: 10upx;">{{ mobile ? mobile : '游客' }}</view>
			</view>
			<view style="display: flex;flex-direction: row;padding-top: 60upx;">
				<view class="userImage_buttom_view" @click="goQueueRecord">
					<view  class="userImage_buttom_view_text">{{ queueName }}</view>
					<view class="userImage_buttom_view_text1">队列</view>
				</view>
				<view class="userImage_buttom_view">
					<view  class="userImage_buttom_view_text">{{ rankNumber }}</view>
					<view class="userImage_buttom_view_text2">排名</view>
				</view>
				<view class="userImage_buttom_view" @click="goLuckDetail">
					<view  class="userImage_buttom_view_text">{{ lucknumber }}</view>
					<view class="userImage_buttom_view_text2">幸运值</view>
				</view>
				<view class="userImage_buttom_view" @click="goUserDetail">
					<view  class="userImage_buttom_view_text">{{ friendSum }}</view>
					<view class="userImage_buttom_view_text2">已邀请</view>
				</view>
			</view>
		</view>
		<view class="view2" v-if="list.length > 0">
			<view style="display: flex;flex-direction: row;padding: 20upx;">
				<view style="width: 20%;">排名</view>
				<view style="width: 50%;">用户ID</view>
				<view style="width: 30%;text-align: center;">幸运值</view>
			</view>
			<view v-if="flag == 2" style="display: flex;flex-direction: row;padding: 20upx;" v-for="(item, index) in list" :key="index">
				<view style="width: 20%;">
					<view v-if="flag == 2" style="font-size: 19px; color: #999999; margin-left: 15upx;">{{ item.rankNum }}</view>
				</view>
				<view style="width: 50%;display: flex;flex-direction: row;align-items: center;">
					<image :src="item.imageUrl" style="width: 50upx; height: 50upx;border-radius: 100upx;"></image>
					<view style="font-size: 14px; color: #333333;margin-left: 20upx; width: 65%;">{{ item.nickName }}</view>
				</view>
				<view style="width: 30%;margin-top: 10upx;text-align: center;">
					<view style="font-size: 16px;color: #FF580B;">{{ item.luckyValue }}</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			lucknumber: '0',
			mobile: '游客',
			image_url: '/static/logo2.jpg',
			flag: 1,
			friendSum: 0,
			rankNumber: 0,
			queueName: '无队列',
			list: []
		};
	},
	onLoad() {
		let userId = this.$queue.getData('userId');
		if (userId) {
			this.getSelectLuckQueryList(userId);
		}
	},
	onNavigationBarButtonTap() {
		this.gorule();
	},
	methods: {
		goQueueRecord() {
			uni.navigateTo({
				url: './queueRecord'
			});
		},
		getSelectLuckQueryList(userId) {
			uni.showLoading({
				title: '加载中...'
			});
			this.$Request.getT('/helpTaskPlatform/selectLuckyQueueDetails?userId=' + userId).then(res => {
				if (res.code === 0) {
					this.flag = res.flag;
					if (res.flag === 1) {
						if (res.luckyValue) {
							this.lucknumber = res.luckyValue;
						} else {
							this.lucknumber = '0';
						}
						
						if (res.user.nickName) {
							this.mobile = res.user.nickName;
						} else {
							this.mobile = '游客';
						}
						
						if (res.user.imageUrl) {
							this.image_url = res.user.imageUrl;
						} else {
							this.image_url = '/static/logo2.jpg';
						}
					} else {
						//user对象包含 rankNum 排行 nickName姓名 imageUrl头像 luckyValue幸运值 queueName所在队列名称
						this.lucknumber = res.user.luckyValue;
						this.mobile = res.user.nickName;
						this.image_url = res.user.imageUrl;
						this.rankNumber = res.user.rankNum;
						this.queueName = res.user.queueName;
						this.friendSum = res.user.friendSum;
						res.userList.forEach(d => {
							this.list.push(d);
						});
					}
					uni.hideLoading();
				}
			});
		},
		gorule() {
			uni.navigateTo({
				url: './rule'
			});
		},
		goUserDetail() {
			uni.navigateTo({
				url: './invitationUserDetail'
			});
		},
		goLuckDetail() {
			uni.navigateTo({
				url: './luckDetail'
			});
		}
	}
};
</script>

<style scoped>
page {
	background: #ffffff;
}

.userImage_buttom_view {
	margin: 80upx 0 0 20upx;
	height: 100upx;
	width: 150upx;
	text-align: center;
}

.userImage_buttom_view_text {
	font-size: 17px;
	color: #ff580b;
}

.userImage_buttom_view_text1 {
	font-size: 14px;
	color: #999999;
	margin-top: 10upx;
}

.userImage_buttom_view_text2 {
	font-size: 14px;
	color: #999999;
	margin-top: 15upx;
}

.view1 {
	background-color: #ffffff;
	width: 93%;
	height: 400upx;
	margin-left: 26upx;
	border-radius: 20upx;
	margin-top: 20upx;
	box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;
}

.view2 {
	background-color: #ffffff;
	width: 93%;
	height: 100%;
	margin-left: 26upx;
	border-radius: 20upx;
	margin-top: 20upx;
}
</style>
