<template>
	<view class="content">
		<scroll-view class="scroll-view_H" scroll-x="true" @scroll="scroll" scroll-left="120" style="display: flex;flex-direction: column;margin-top: 10upx;">
			<view style="display: flex;flex-direction: row;padding: 20upx;flex-wrap: nowrap;">
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">队列等级</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">队列名称</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">额度</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">推荐奖</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">所需人数</view>
				<view style="text-align: center;padding-top: 20upx;">队列开始所需人数</view>
				<view style="text-align: center;padding-top: 20upx;">队列间隔人数</view>
			</view>
			<view style="display: flex;flex-direction: row;padding: 20upx;" v-for="(item, index) in list" :key="item.id">
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.sort }}</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.name }}</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.luckyValue }}</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.recommendMoney }}</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.numberOfPeople }}</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.startPerson }}</view>
				<view style="width: 200upx;text-align: center;padding-top: 20upx;">{{ item.intervalPerson }}</view>
			</view>
		</scroll-view>
		<view style="background: #FFFFFF; width: 100%;padding: 20upx;margin-top: 20upx;">
			<view style="color: #000000;font-size: 18px;">规则详解：</view>
			<view style="margin-top: 10upx;">升级到一级只需要达到一级的积分（列如200积分）即可，邀请一个好友，好友达到一级时给一级的推荐奖（列如100元红包</view>
			<view style="margin-top: 10upx;">
				晋级到二级时直接奖励一级派送红包，晋级到二级所需条件如下（二级晋级三级以此类推）：需要达到二级晋级的额度（幸运值），邀请好友需要达到一级所需邀请人数（当二级晋级三级时需要邀请的好友也达到二级，以此类推），再根据当前位置进行晋级排队，当前排名位于13人之前时，队列总人数需要达到13人方可晋级，当位置大于13人时，每达到9人即可晋级（列如：当前位置20，当前队列总人数为20，即20-13=7，此时需要邀请或者等其他人晋级2人时即可晋级）
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			list: [],
			scrollTop: 0,
			scrollLeft: 0,
			old: {
				scrollTop: 0
			},
			tabList: [
				{
					name: '队列等级'
				},
				{
					name: '队列名称'
				},
				{
					name: '额度'
				},
				{
					name: '推荐奖'
				},
				{
					name: '所需人数'
				},
				{
					name: '队列开始所需人数'
				},
				{
					name: '队列间隔人数'
				}
			]
		};
	},
	onLoad() {
		this.getRuleList();
	},
	methods: {
		scroll: function(e) {
			console.log(e);
			this.old.scrollTop = e.detail.scrollTop;
		},
		goTop: function(e) {
			this.scrollTop = this.old.scrollTop;
			this.$nextTick(function() {
				this.scrollTop = 0;
			});
			uni.showToast({
				icon: 'none',
				title: '纵向滚动 scrollTop 值已被修改为 0'
			});
		},
		getRuleList() {
			this.$Request.getT('/lucky/selectLuckyQueueList').then(res => {
				if (res.code === 0) {
					res.data.forEach(d => {
						this.list.push(d);
					});
				}
			});
		}
	}
};
</script>

<style>
@import '../../../static/css/index.css';

.navbar {
	display: flex;
	height: 80upx;
	padding: 0 5px;
	background: #fff;
	box-shadow: 0 2upx 10upx rgba(0, 0, 0, 0.06);
	position: relative;
	z-index: 10;
}


.nav-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 200upx;
	font-size: 32upx;
	color: $font-color-dark;
	position: relative;
}

.nav-item1 {
	flex: 1;
	align-items: center;
	width: 200upx;
	font-size: 32upx;
	position: relative;
}

.content {
	background-color: #ffffff;
}
.rule {
	padding: 20upx;
	margin-top: 20upx;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}

.rule-text {
	font-size: 16px;
	margin-left: 20upx;
	color: #000000;
	margin-top: 20upx;
	margin-right: 5upx;
}
</style>
