<template>
	<view class="newTask">
		<!-- 第一部分 -->
		<view
			style="box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;border-radius: 20upx;display: flex; flex-direction: row;background-color: #FFFFFF;padding: 20upx 0upx 30upx 20upx; margin: 20upx;"
		>
			<image
				:src="list.titlePicture"
				@tap="previewImg(list.titlePicture)"
				style="margin-left: 20upx;border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;"
			></image>
			<view style="margin-left: 20upx;">
				<view class="">{{ list.title }}</view>
				<view style="display: flex;flex-direction: row;">
					<view style="display: flex;flex-direction: row;text-align: left;width: 200px;position: relative;align-items: center;">
						<image src="https://renwu.xiansqx.com/img/20210813/be25a111702748879333264c7664e599.png" style="margin-top: 20upx;height: 20upx;width: 20upx;"></image>
						<view style="font-size: 13px;color: red;margin-left: 10upx;margin-top: 20upx;width: 75%;">幸运值 : {{ list.luckyValue }}</view>
					</view>
					<view v-if="flag === 2 && state == '1'" style="width: 150upx;color: #999999;font-size:26upx;margin-top:5upx;">待审核</view>
					<view v-if="flag === 2 && state == '0'" style="color: #999999;font-size:26upx;margin-top:5upx;">已接单</view>
					<view v-if="flag === 2 && state == '2'" style="color: green;font-size:26upx;margin-top:5upx;">已通过</view>
					<view v-if="flag === 2 && state == '4'" style="color: red;font-size:26upx;margin-top:5upx;">已放弃</view>
					<view v-if="flag === 2 && state == '3'" style="color: red;font-size:26upx;margin-top:5upx;">已拒绝</view>
				</view>
			</view>
		</view>

		<!-- 第二部分 -->
		<view style="box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;border-radius: 20upx;margin: 0upx 20upx 20upx 20upx; padding: 20upx; background: #FFFFFF;">
			<u-parse :content="content" @navigate="navigate" style="padding: 10upx;color: #000000;font-size: 15px;"></u-parse>
		</view>

		<!-- 第三部分 -->
		<view style="box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;border-radius: 20upx;margin: 20upx; padding: 20upx; background: #FFFFFF;">
			<view style="font-size: 16px;color: #000000;">请拍摄照片(最多拍摄5张照片)</view>
			<view style="display: flex; flex-direction: row;flex-wrap: wrap;margin-top: 10upx;">
				<image
					:style="
						this.logo[0].picture === ''
							? 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;padding: 20upx;'
							: 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;'
					"
					:src="this.logo[0].picture === '' ? 'https://renwu.xiansqx.com/img/20210813/e534e02053c34322a7e119c70c047143.png' : this.logo[0].picture"
					@tap="logo[0].picture === '' ? uploadImg(0) : previewImg(logo[0].picture)"
				/>

				<image
					v-if="this.state == 0 ? this.logo[0].picture != '' : this.logo[1].picture != ''"
					:style="
						this.logo[1].picture === ''
							? 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;padding: 20upx;'
							: 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;'
					"
					:src="this.logo[1].picture === '' ? 'https://renwu.xiansqx.com/img/20210813/e534e02053c34322a7e119c70c047143.png' : this.logo[1].picture"
					@tap="logo[1].picture === '' ? uploadImg(1) : previewImg(logo[1].picture)"
				/>

				<image
					v-if="this.state == 0 ? this.logo[1].picture != '' : this.logo[2].picture != ''"
					:style="
						this.logo[2].picture === ''
							? 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;padding: 20upx;'
							: 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;'
					"
					:src="this.logo[2].picture === '' ? 'https://renwu.xiansqx.com/img/20210813/e534e02053c34322a7e119c70c047143.png' : this.logo[2].picture"
					@tap="logo[2].picture === '' ? uploadImg(2) : previewImg(logo[2].picture)"
				/>

				<image
					v-if="this.state == 0 ? this.logo[2].picture != '' : this.logo[3].picture != ''"
					:style="
						this.logo[3].picture === ''
							? 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;padding: 20upx;'
							: 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;'
					"
					:src="this.logo[3].picture === '' ? 'https://renwu.xiansqx.com/img/20210813/e534e02053c34322a7e119c70c047143.png' : this.logo[3].picture"
					@tap="logo[3].picture === '' ? uploadImg(3) : previewImg(logo[3].picture)"
				/>

				<image
					v-if="this.state == 0 ? this.logo[3].picture != '' : this.logo[4].picture != ''"
					:style="
						this.logo[4].picture === ''
							? 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;padding: 20upx;'
							: 'height: 110upx; width: 110upx;margin-left: 20upx;background: #F2F2F2;'
					"
					:src="this.logo[4].picture === '' ? 'https://renwu.xiansqx.com/img/20210813/e534e02053c34322a7e119c70c047143.png' : this.logo[4].picture"
					@tap="logo[4].picture === '' ? uploadImg(4) : previewImg(logo[4].picture)"
				/>
			</view>
		</view>

		<textarea
			id="textarea1"
			:disabled="this.state != 0 ? true : false"
			v-model="textValue"
			:placeholder="this.state === 0 ? '请输入内容' : ''"
			style="box-shadow: rgba(183, 183, 183, 0.3) 1px 1px 10px 1px;border-radius: 20upx;background-color: #FFFFFF;width: 95%;margin-left: 20upx;padding: 20upx;"
		/>
		<view v-if="this.state == 2 || this.state == 3" style="margin: 20upx; padding: 20upx; background: #FFFFFF;">
			<view style="font-size: 16px;color: #000000;font-weight: bold;">审核{{ this.state == 2 ? '通过' : '拒绝' }}:</view>
			<view style="margin-top: 20upx;margin-left: 40upx;font-size: 15px; color: #000000;">{{ this.auditContent }}</view>
		</view>

		<view v-if="this.flag == 1" class="tui-btn-box">
			<button class="tui-button-primary" hover-class="tui-button-hover" formType="submit" type="primary" style="color: #FFFFFF;background: #e62430;" @click="saveHelpTask">
				报名活动
			</button>
		</view>

		<view v-if="this.flag == 2 && this.state == 0" style="display: flex; flex-direction: row; margin-top: 20upx;">
			<button style="width: 49%;" type="default" @click="out">放弃任务</button>
			<button style="width: 49%;" type="warn" @click="save">提交任务</button>
		</view>
	</view>
</template>

<script>
import uParse from '@/components/u-parse/u-parse.vue';
import configdata from '../../../common/config.js';
export default {
	components: {
		uParse
	},
	data() {
		return {
			logo: [
				{
					picture: '',
					sort: ''
				},
				{
					picture: '',
					sort: ''
				},
				{
					picture: '',
					sort: ''
				},
				{
					picture: '',
					sort: ''
				},
				{
					picture: '',
					sort: ''
				}
			],
			id: '',
			Tid: '',
			name: '',
			textValue: '',
			relation_id: '',
			typeindex: 1,
			helpTaskPlatformId: '',
			content: '',
			state: 1,
			helpSendOrderId: '',
			flag: 2,
			auditContent: '',
			list: {}
		};
	},
	onLoad(params) {
		this.id = params.id;
		this.getListById(this.id);
	},
	methods: {
		previewImg(logourl) {
			let _this = this;
			let imgsArray = [];
			imgsArray[0] = logourl;
			uni.previewImage({
				current: 0,
				urls: imgsArray
			});
		},
		navigate(href, e) {
			// #ifdef H5
			window.location.href = href;
			//#endif

			//#ifdef APP-PLUS
			setTimeout(function() {
				plus.runtime.openURL(href);
			}, 500);
			// #endif
		},
		save() {
			uni.showLoading({
				title: '提交中...'
			});
			let picture = '';
			for (var i = 0; i < this.logo.length; i++) {
				if (this.logo[i].picture != '') {
					if (i == 0) {
						picture = this.logo[i].picture;
					} else {
						picture = picture + ',' + this.logo[i].picture;
					}
				}
			}
			if (picture === '') {
				uni.showToast({
					icon: 'none',
					title: '图片不能为空'
				});
				return;
			}
			if (this.textValue != undefined && this.textValue != '') {
			} else {
				uni.showToast({
					icon: 'none',
					title: '描述不能为空'
				});
				return;
			}
			let userId = this.$queue.getData('userId');
			let data = {
				id: this.Tid,
				userId: userId,
				picture: picture,
				content: this.textValue
			};
			this.$Request.postT('/helpTaskPlatform/updateHelpGetTask', data).then(res => {
				uni.hideLoading();
				uni.showToast({
					icon: 'none',
					title: '提交成功'
				});
				if (res.code === 0) {
					this.getListById(this.id);
				}
			});
		},
		out() {
			uni.showLoading({
				title: '提交中...'
			});
			let userId = this.$queue.getData('userId');
			let data = {
				id: this.Tid,
				userId: userId
			};
			//放弃任务
			this.$Request.postT('/helpTaskPlatform/giveUpHelpGetTask', data).then(res => {
				uni.showToast({
					icon: 'none',
					title: res.msg
				});
				if (res.code === 0) {
					this.getListById(this.id);
				}
			});
		},
		saveHelpTask() {
			uni.showLoading({
				title: '提交中...'
			});
			//参与活动
			let userId = this.$queue.getData('userId');
			let data = {
				helpTaskPlatformId: this.helpTaskPlatformId,
				userId: userId
			};
			this.$Request.postT('/helpTaskPlatform/insertHelpGetTask', data).then(res => {
				uni.hideLoading();
				if (res.code === 0) {
					uni.showToast({
						icon: 'none',
						title: '报名成功'
					});
					this.getListById(this.id);
				} else {
					uni.showToast({
						icon: 'none',
						title: res.msg
					});
				}
			});
		},
		/**
		 * 复制链接
		 */
		copyHref() {
			uni.setClipboardData({
				data: this.list.helpTask.openContent,
				success: r => {
					this.$queue.showToast('复制成功');
				}
			});
		},
		getListById(id) {
			uni.showLoading({
				title: '加载中...'
			});
			let userId = this.$queue.getData('userId');
			let data = {
				userId: userId,
				id: id
			};
			this.$Request.getT('/helpTaskPlatform/selectHelpGetTaskById', data).then(res => {
				if (res.code === 0) {
					this.list = res.data.data;
					this.helpTaskPlatformId = res.data.data.id;
					this.Tid = res.data.data.Tid;
					this.textValue = res.data.data.Tcontent;
					this.flag = res.data.flag;
					this.auditContent = res.data.data.auditContent;
					this.state = res.data.data.state;
					this.content = res.data.data.content;
					if (res.data.data.picture == null) {
						uni.hideLoading();
						return;
					}
					var address = res.data.data.picture;
					let addre = address.split(',');
					for (var i = 0; i < addre.length; i++) {
						this.logo[i].picture = addre[i];
						this.logo[i].sort = i + 1;
					}
				}
				uni.hideLoading();
			});
		},
		uploadImg(index) {
			let that = this;
			if (this.state === 0) {
				uni.chooseImage({
					count: 1, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album', 'camera'], //从相册选择
					success: function(res) {
						let token = uni.getStorageSync('token');
						uni.uploadFile({
							url: that.config('APIHOST1') + '/alioss/uploadUniApp', //仅为示例，非真实的接口地址
							filePath: res.tempFilePaths[0],
							header: {
								token: token
							},
							name: 'file',
							success: uploadFileRes => {
								that.logo[index].picture = uploadFileRes.data;
							}
						});
					}
				});
			}
		},
		config: function(name) {
			var info = null;
			if (name) {
				var name2 = name.split('.'); //字符分割
				if (name2.length > 1) {
					info = configdata[name2[0]][name2[1]] || null;
				} else {
					info = configdata[name] || null;
				}
				if (info == null) {
					let web_config = cache.get('web_config');
					if (web_config) {
						if (name2.length > 1) {
							info = web_config[name2[0]][name2[1]] || null;
						} else {
							info = web_config[name] || null;
						}
					}
				}
			}
			return info;
		},
		goBack() {
			uni.navigateBack();
		},
		toLogout() {
			var value = this.titile2 - text3.detail.value;
			uni.setClipboardData({
				data: value
			});
		}
	}
};
</script>

<style lang="less" scoped>
page {
	background: #ffffff;
}
.upload {
	background-color: #ffffff;
	padding: 10upx;

	.upload-image {
		height: 40upx;
		width: 50upx;
		margin-top: 10upx;
		margin-left: 10upx;
	}

	.upload-text {
		font-size: 17px;
		color: #000000;
		margin-left: 10upx;
	}
}

.tui-btn-box {
	padding: 40rpx 50rpx;
	box-sizing: border-box;
}
.header {
	height: 88upx;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding-top: 13%;

	.header-title {
		width: calc(100% - 72upx);
		text-align: center;
		color: #0f1930;
		font-size: 32upx;
		font-weight: bold;
	}

	.detail {
		font-size: 32rpx;
		width: 104rpx;
	}
}
.newTask {
	background-color: #ffffff;
	.titile1 {
		background-color: #ffffff;
		padding: 3%;
		display: flex;
		flex-direction: row;
		padding-top: 60upx;
		width: 100%;
	}

	.titile1-image {
		height: 100upx;
		width: 100upx;
	}

	.titile1-group1 {
		margin-left: 20upx;
		width: 200upx;

		.titile-group1-text1 {
			font-size: 15px;
			font-weight: bold;
			margin-top: 10upx;
		}

		.titile-group1-text2 {
			font-size: 12px;
			color: #7a7a7a;
			justify-content: right;
			margin-top: 20upx;
		}
	}

	.titile2-group {
		display: flex;
		flex-direction: range(start, end, step);
		font-size: 14px;
		padding: 2%;
		margin-top: 1upx;
		margin-top: 1upx;
		background-color: #ffffff;
	}

	.titile2-text {
		color: #7a7a7a;
		font-size: 14px;
	}

	.titile2-text1 {
		margin-left: 40upx;
		color: #000000;
		font-size: 14px;
	}

	.titile2-text3 {
		margin-left: 95upx;
		flex-wrap: wrap;
	}

	.titile2-group2 {
		padding-top: 20upx;
		padding-bottom: 20upx;
	}

	.confirm-btn {
		width: 150px;
		height: 30px;
		line-height: 32px;
		border-radius: 30px;
		background-color: #34c9f5;
		color: #fff;
		font-size: 14px;
	}
}
</style>
