<template>
	<view style="background: #F3F3F3;">
		<view class="tui-tabs">
			<scroll-view id="tab-bar" scroll-with-animation class="tui-scroll-h" :scroll-x="true" :show-scrollbar="false" style="border-bottom: 2upx solid #F8F8F8;">
				<view style="display: flex;">
					<view v-for="(tab, index) in tabBars" :id="tab.id" :data-current="index" @tap="tabClick(tab)">
						<view class="tui-tab-item-title" style="margin-left: 50upx;" :class="{ 'tui-tab-item-title-active': tabIndex == tab.id }">{{ tab.name }}</view>
					</view>
				</view>
			</scroll-view>
		</view>
		<!-- #ifdef H5 -->
		<view style="background: #F3F3F3;margin-top: 100upx;">
		<!-- #endif -->
		<!-- #ifdef APP-PLUS -->
		<view style="background: #F3F3F3;margin-top: 20upx;">
		<!-- #endif -->
			<view v-if="newsList.length > 0">
				<view :show-arrow="false" v-for="(item, index) in newsList" :key="index" style="margin: 20upx;background: #FFFFFF;padding: 10upx;height: 210upx;border-radius: 10upx;">
					<view style="width: 100%;display: flex;margin-top: 20upx;" @click="taskItem(item)">
						<image :src="item.label" style="border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;margin-left: 10upx;"></image>
						<view style="width:55%;margin-left: 20upx;margin-top: 10upx;">
							<view style="width: 95%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ item.title }}</view>
							<view style="display: flex; flex-direction: row;margin-top: 10upx;">
								<view style="color: orange;font-size: 30upx;">￥{{ item.taskPrice }}元</view>
							</view>
						</view>
						<image v-if="item.state === 0" src="https://renwu.xiansqx.com/img/20210813/b85ace0bc0f244d6ae3b7b2634f60852.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 1" src="https://renwu.xiansqx.com/img/20210813/516247f112a641b38857fc16a0b3d747.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 2" src="https://renwu.xiansqx.com/img/20210813/65dda634514f458296926c4505c7d3e1.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 3" src="https://renwu.xiansqx.com/img/20210813/842bb57e6452467fae08b66967be2952.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 4" src="https://renwu.xiansqx.com/img/20210813/8bfecd770d994d70ba83cc57ad902856.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 5" src="https://renwu.xiansqx.com/img/20210813/9e816a470e1840c681b9b9527fce243d.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 6" src="https://renwu.xiansqx.com/img/20210813/6201ef215d0140eb93f310788f455142.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state === 7" src="https://renwu.xiansqx.com/img/20210813/8252b84378924535ac7bb63024a5b67f.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
					</view>
					<view style="height: 1upx;background: #E6E6E6;margin-top: 20upx;"></view>
					<view style="display: flex;width: max-content;margin-top: 10upx;margin-left: 10upx;width: 100%;">
						<view style="font-size:26upx;margin-right: 30upx;margin-top:5upx;color: #999999;width: 80%;">截止:{{ item.endTime }}</view>
						<view v-if="item.state == '已通过'" class="desc" style="font-size: 24rpx;color: #666666;">{{ item.state }}</view>
					</view>
				</view>
			</view>
			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '','']" style="bottom: 56px;">
				<text class="iconfont icon-shangla"></text>
			</view>
			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="newsList.length > 0">
				<load-more :loadingType="loadingType" :contentText="contentText"></load-more>
			</view>
			<!-- 加载更多提示 -->
			<empty v-if="newsList.length === 0"  des="暂无数据" show="false">
			</empty>
		</view>

	</view>
</template>
<script>
	import uniList from '@/components/uni-list/uni-list.vue';
	import uniListItem from '@/components/uni-list-item/uni-list-item.vue';
	import tuiListCell from "@/components/list-cell/list-cell"
	import tuiLoadmore from "@/components/loadmore/loadmore"
	import tuiNomore from "@/components/nomore/nomore"
	import tuiTips from "@/components/tips/tips"

	export default {
		components: {
			uniList,
			uniListItem,
			tuiListCell,
			tuiLoadmore,
			tuiNomore,
			tuiTips
		},
		data() {
			return {
				newsList: [],
				tabIndex: '-1',
				tabBars: [{
						name: '全部',
						id: '-1'
					},
					{
						name: '待审核',
						id: '1'
					},
					{
						name: '已通过',
						id: '2'
					},
					{
						name: '已拒绝',
						id: '3'
					},
					{
						name: '已维权',
						id: '4'
					},
					{
						name: '已放弃',
						id: '5'
					},
					{
						name: '已超时',
						id: '7'
					},
				],
				page: 1,
				cid: 0,
				type: 1,
				size: 10,
				loadingType: 0,
				scrollTop: false,
				contentText: {
					contentdown: "上拉显示更多",
					contentrefresh: "正在加载...",
					contentnomore: "没有更多数据了"
				},
			};
		},
		onShow() {
			this.loadList('', this.tabIndex);
		},
		onLoad() {
			this.loadList('', -1);
		},
		onNavigationBarButtonTap() {
			uni.showModal({
				title: '请谨慎操作！',
				content: '点击“全部通过”后，所有待审核状态任务将被您通过！！！其他状态的不受影响。',
				showCancel: true,
				cancelText: '取消操作',
				confirmText: '全部通过',
				success: res => {
					if(res.confirm){
						this.piliang();
					}
				}
			});
		},
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop > 200;
		},
		methods: {
			piliang(){
				this.$queue.showLoading('处理中...');
				let userId = this.$queue.getData('userId');
				this.$Request.postT('/helpTask/updateHelpSendOrders/'+userId+'/2/1').then(res =>{
					if(res.code === 0){
						uni.hideLoading();
						this.page = 1;
						this.$queue.showToast('通过成功！');
						this.loadList('', this.tabIndex);
					}else{
						uni.hideLoading();
						this.$queue.showToast(res.msg);
					}
				});
			},
			topScrollTap: function() {
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				});
			},
			taskItem(item) {
				uni.navigateTo({
					url: './myExamine?id=' + item.id + '&userId=' + item.userId
				});
			},
			loadList: function(type, status) {
				this.loadingType = 1;
				let userId = this.$queue.getData('userId');
				uni.showLoading({
					title: '加载中...'
				});
				let data = {
					"page": this.page,
					"limit": this.size,
					"userId": userId,
					"state": status
				}
				this.$Request.getJ('/helpTask/selectAuditHelpTask', data).then(res => {
					if (res.code === 0) {
						if (this.page === 1) {
							this.newsList = [];
						}
						res.data.pageUtils.list.forEach(d => {
							this.newsList.push(d);
						});
						if (res.data.pageUtils.list.length === this.size) {
							this.loadingType = 0;
						} else {
							this.loadingType = 3;
						}
					} else {
						this.loadingType = 2;
					}
					uni.hideLoading();
					if (type === "Refresh") {
						uni.stopPullDownRefresh(); // 停止刷新
					}
				})
			},
			tabClick(tab) {
				this.switchTab(tab.id);
			},
			tabChange(e) {
				this.switchTab(tab.id);
			},
			switchTab(index) {
				this.page = 1;
				this.tabIndex = index;
				this.newsList = [];
				this.loadList("switch", index);
			},
		},
		onReachBottom: function() {
			this.page = this.page + 1;
			this.loadList('', this.tabIndex);
		},
		onPullDownRefresh: function() {
			this.page = 1;
			this.loadList("Refresh", this.tabIndex);
		}
	};
</script>

<style lang="less">
	@import "../../../static/less/index.less";
	@import '../../../static/css/index.css';

	page {
		background: #F3F3F3;
	}
</style>
