<template>
	<view>

		<view style="height: 150upx;background: #fc9c50;display: flex;">
			<view style="width: 75%;display: flex;">
				<image :src="imageUrl" style="margin: 30upx 30upx 30upx 40upx;width: 80upx;height: 80upx;border-radius: 50upx;"></image>
				<view style="margin-top: 35upx;color: #FFFFFF;">
					<view class="">{{nickName}}</view>
					<view style="margin-top: 10upx;">上架中{{totalCount}}个</view>
				</view>
			</view>
			<view @tap="saveGuanZhu" style="background: #FFFFFF;width: 120upx;height: 50upx;margin-top: 50upx;text-align: center;color: #fc9c50;border-radius: 5upx;line-height: 50upx;">
				<view class="">{{Guanzhu}}</view>
			</view>
		</view>

		<view class="task-content" style="margin-top: 20upx;">
			<view>
				<uni-list v-if="taskList.length > 0">
					<uni-list-item :show-arrow="false" v-for="(item, index) in taskList" :key="index">
						<view style="width: 100%;display: flex;" @click="taskItem(item.id)">
						<view style="width:76%;display: flex;">
							<image :src="item.label" style="border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;"></image>
							<view style="width: 75%;margin-left: 20upx;">
								<view style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ item.title }}</view>
								<view style="width: 100%;font-size: 26upx;margin-top: 10upx;color: #999999;">ID:{{item.id}} <text style="margin-left: 20upx;">{{ item.endNum }}人已接，剩余{{ item.taskNum - item.endNum }}个</text></view>
								<view v-if="item.tag" style="font-size: 24upx;background: #fff5f4;padding: 5upx;width: max-content;margin-top: 5upx;color: #ef5b05;">{{item.tag}}</view>
							</view>
						</view>
						<view style="text-align: right;width: 24%;margin-left: 10upx;margin-top: 10upx;font-size: 38upx;color: #ef5b05;font-weight: 600;"> <text style="font-size: 28upx;">+</text> {{ item.taskOriginalPrice }}元</view>
						</view>
					</uni-list-item>
				</uni-list>
			</view>
			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']" style="bottom: 56px;"><text
				 class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="taskList.length > 0">
				<load-more :loadingType="loadingType" :contentText="contentText"></load-more>
			</view>
			<!-- 加载更多提示 -->
			<empty v-if="taskList.length === 0" des="暂无任务数据" show="false"></empty>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: 1,
				size: 10,
				byUserId: 0,
				nickName: '',
				imageUrl: '',
				Guanzhu: '关注Ta',
				totalCount: '0',
				taskList: [],
				loadingType: 0,
				scrollTop: false,
				contentText: {
					contentdown: '上拉显示更多',
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了'
				}
			}
		},
		onLoad(d) {
			this.byUserId = d.userId;
			this.getList();
		},
		methods: {
			taskItem(id){
				uni.navigateTo({
					url: './taskItem?id=' + id
				});
			},
			saveGuanZhu() {
				let userId = this.$queue.getData('userId');
				this.$Request.getT('/helpTask/insertAttention?userId=' + userId + '&byUserId=' + this.byUserId).then(res => {
					if (res.code === 0) {
						if (res.data === 1) {
							this.Guanzhu = '取关Ta';
							this.$queue.showToast("关注成功！");
						} else {
							this.Guanzhu = '关注Ta';
							this.$queue.showToast("取关成功！");
						}
					} else {
						this.$queue.showToast(res.msg);
					}
				});
			},
			getList() {
				this.loadingType = 1;
				uni.showLoading({
					title: '加载中...'
				});
				let userId = this.$queue.getData('userId');
				this.$Request.getT('/helpTask/selectHelpTaskListByUserId?page=' + this.page + '&limit=' + this.size + '&userId=' +
					userId + '&byUserId=' + this.byUserId).then(res => {
					if (res.code === 0) {
						if (this.page === 1) {
							this.taskList = [];
						}
						this.nickName = res.data.nickName;
						this.imageUrl = res.data.imageUrl;
						this.Guanzhu = res.data.attention === 2 ? '关注Ta' : '取关Ta';
						this.totalCount = res.data.pageUtils.totalCount;

						for (var i = 0; i < res.data.pageUtils.list.length; i++) {
							
							if (res.data.pageUtils.list[i].classify === 1) {
								res.data.pageUtils.list[i].title = '【限安卓】' + res.data.pageUtils.list[i].title;
							} else if (res.data.pageUtils.list[i].classify === 2) {
								res.data.pageUtils.list[i].title = '【限苹果】' + res.data.pageUtils.list[i].title;
							}
							
							//价钱=价钱-(价钱*ping+价钱*zhishu +价钱*feizhishu)
							var jiaqian = res.data.pageUtils.list[i].taskOriginalPrice;
							var ping = res.data.ping.rate;
							var zhishu = res.data.zhishu.rate;
							var feizhishu = res.data.feizhishu.rate;
							res.data.pageUtils.list[i].taskOriginalPrice = this.numFilter(jiaqian - (jiaqian * ping + jiaqian * zhishu +
								jiaqian *
								feizhishu));
							this.taskList.push(res.data.pageUtils.list[i]);
						}

						if (res.data.pageUtils.list.length === this.size) {
							this.loadingType = 0;
						} else {
							this.loadingType = 3;
						}
					} else {
						this.loadingType = 2;
					}
					uni.hideLoading();
				});
			},
			numFilter(value) {
				// 截取当前数据到小数点后三位
				let tempVal = parseFloat(value).toFixed(3)
				let realVal = tempVal.substring(0, tempVal.length - 1)
				return realVal
			}
		}
	}
</script>

<style lang="less">
	@import '../../../static/less/index.less';
	@import '../../../static/css/index.css';

	page {
		background: #F8F8F8;
	}
</style>
