<template>
	<view>
		<view class="invite">
			<view class="first">
				<view class="box">
					<view style="font-size: 50rpx;font-weight: bold;">邀请6人</view>
					<view style="font-size: 50rpx;margin-top: 20rpx;">可免费激活会员</view>

					<view style="margin-top: 40rpx;">-当前已邀请0人，还差6人-</view>
					<view style="margin-top: 20rpx;">您也可以付费激活 <text style="color: #0055B8;margin-left: 20rpx;" @click="navToLogins('/pages/member/yao')">去付费</text></view>
				</view>

				<view class="tui-btn-box" style="margin-top: 80rpx;">
					<tui-button :size="30" class="tui-btn" @click="rtBubble">去邀请好友</tui-button>
				</view>
			</view>
			<view>
				<view class="title">邀请奖励-</view>
				<view class="second">
					<view style="font-size: 40rpx;color: rgba(1,1,1,.8);">
						邀请有礼：邀请好友注册柚子快报，好友成正式会员后，立得<text style="color: red;">6-10元红包</text>，红包可提现到支付宝
					</view>
					<view style="margin-top: 30rpx;">
						如果活动有变更，请以当前页面通知为准。如果当前页面没有邀请奖励，则表示活动已结束。
					</view>
				</view>
				<view class="title">邀请奖励二</view>
				<view class="second">
					好友在兼职栏目做任务是，你可获得赏金的<text style="color: red;">13.3%</text>奖励
				</view>
			</view>
		</view>
		<view class="third">
			<view class="fTitle">
				我的好友
			</view>
			<view class="oFlex">
				<view>
					<view class="number">0</view>
					<view class="desc">所有会员</view>
				</view>
				<view>
					<view class="number">0</view>
					<view class="desc">正式会员</view>
				</view>
			</view>
			
			<view class="tui-btn-box" style="margin-top: 80rpx;">
				<tui-button :size="30" class="tui-btn" @click="rtBubble">查看提现奖励</tui-button>
			</view>
		</view>
	</view>
</template>

<script>
	import tuiButton from '@/components/thorui/tui-button/tui-button.vue';

	export default {
		components: {
			tuiButton,
		},
		data() {
			return {

			}
		},
		methods: {
			rtBubble(){
				
			},
			navToLogins(url) {
				let token = this.$queue.getData('token');
				if (token) {
					let relation_id = this.$queue.getData('relation_id');
					if (relation_id) {
						uni.navigateTo({
							url
						});
					} else {
						uni.showModal({
							showCancel: true,
							title: '温馨提示',
							confirmColor:'#e10a07',
							cancelText:'#999999',
							cancelText: '关闭',
							confirmText: '开通会员',
							content: '此功能为会员专享功能\n申请成为会员后可使用',
							success: res => {
								if (res.confirm) {
									this.copyTklWenAn();
								}
							}
						});
					}
				} else {
					this.goLoginInfo();
				}
			},
			//会员申请弹框
			copyTklWenAn: function() {
				let relation_id = this.$queue.getData('relation_id');
				let token = this.$queue.getData('token');
				let userId = this.$queue.getData('userId');
				let gradle = this.$queue.getData('gradle');
				if (!token) {
					this.goLoginInfo();
				} else {
					if (!relation_id) {
						this.navTo('/pages/member/publisher?uid=' + userId + '&token=' + token);
					} else {
						uni.showModal({
							cancelText: '关闭',
							confirmColor:'#e10a07',
							cancelColor:'#999999',
							confirmText: '我要升级',
							showCancel: true,
							title: '我的特权',
							content:
								'1、享受 ' +
								this.dengji +
								'级返现！\n2、购买商品可享受省钱 +返现！\n3、分享商品给好友购买拿返现金额！\n4、邀好友加入享受永久粉丝提成！\n5、享受积分免费兑换商品;\n6、可生成专属商城推广链接;\n7、更多会员特权我们将陆续上线！\n注：VIP越高返现越高哦',
							success: res => {
								if (res.confirm) {
									this.shengJiMethod();
								}
							}
						});
					}
				}
			},
			/**
			 * 统一跳转接口,拦截未登录路由
			 * navigator标签现在默认没有转场动画，所以用view
			 */
			navTo(url) {
				if (url === '/pages/member/help') {
					//#ifdef H5
					window.location.href = this.$queue.publicYuMing() + '/help/custom.html';
					//#endif
					//#ifdef APP-PLUS
					uni.navigateTo({
						url: '/pages/member/webview?url=' + this.$queue.publicYuMing() + '/help/custom.html'
					});
					//#endif
				} else {
					uni.navigateTo({
						url
					});
				}
			},
			//升级规则弹框
			shengJiMethod() {
				uni.navigateTo({
					url: '/pages/member/yao'
				});
			},
			//统一登录跳转
			goLoginInfo() {
				this.$queue.setData('href', '/package/pages/task/invite');
				uni.navigateTo({
					url: '/pages/public/login'
				});
			}
		}
	}
</script>

<style lang="less">
	.invite {
		background: #FBD477;
		padding: 38rpx 40rpx;

		.first {
			background: #FFFFFF;
			padding: 60rpx 40rpx;

			.box {
				padding: 60rpx 50rpx;
				background: #FC532A;
				color: #FFFFFF;
				text-align: center;
			}

			.tui-btn {
				background: #FE301B !important;
				border-radius: 20rpx;
			}
		}

		.title {
			text-align: center;
			padding-top: 60rpx;
			font-size: 36rpx;
			color: red;
		}

		.second {
			background: #FFFFFF;
			padding: 40rpx 30rpx;
			margin-top: 40rpx;
			color: rgba(1, 1, 1, 0.6);
		}
	}

	.third {
		background: #FFFFFF;
		padding: 30rpx 40rpx;
		margin-top: 40rpx;

		.fTitle {
			text-align: center;
			font-size: 40rpx;
			color: rgba(1, 1, 1, 1);
		}

		.oFlex {
			display: flex;
			padding: 60rpx 40rpx x 40rpx;
			align-items: center;
			justify-content: space-between;
			text-align: center;

			.number {
				font-size: 36rpx;
				margin-bottom: 20rpx;
			}

			.desc {
				font-size: 36rpx;
				color: rgba(1, 1, 1, .6);
			}
		}
		
		.tui-btn {
			background: #FE301B !important;
		}

	}
</style>
