<template>
	<view>
		<view class="tui-tabs">
			<scroll-view id="tab-bar" scroll-with-animation class="tui-scroll-h" :scroll-x="true" :show-scrollbar="false" style="border-bottom: 2upx solid #F8F8F8;">
				<view style="display: flex;">
					<view v-for="(tab, index) in tabBars" :id="tab.id" :data-current="index" @tap="tabClick(tab)">
						<view class="tui-tab-item-title" style="margin-left: 200upx;" :class="{ 'tui-tab-item-title-active': tabIndex == tab.id }">{{ tab.name }}</view>
					</view>
				</view>
			</scroll-view>
		</view>
		<!-- #ifdef APP-PLUS -->
		<view class="task-content" style="margin-top: 10upx;">
		<!-- #endif -->
		<!-- #ifdef MP-WEIXIN -->
		<view class="task-content" style="margin-top: 10upx;">
		<!-- #endif -->
		<!-- #ifdef H5 -->
		<view class="task-content" style="margin-top: 90upx;">
		<!-- #endif -->
			<view v-if="tabIndex == 1">
				<!-- <uni-list v-show="taskList.length > 0">
					<uni-list-item :show-arrow="false" v-for="(item, index) in taskList" :key="index">
						<view style="display: flex;" @click="taskItem(item.id)">
							<view style="width:80%;display: flex;">
								<image :src="item.label" style="border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;"></image>
								<view style="width: 75%;">
									<view style="width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-left: 20upx;">{{ item.title }}</view>
									<view style="width: 100%;margin-left: 20upx;font-size: 26upx;margin-top: 10upx;color: #999999;">ID:{{item.id}}
										<text style="margin-left: 20upx;">{{ item.endNum }}人已接，剩余{{ item.taskNum - item.endNum }}个</text></view>
								</view>
							</view>
							<view style="margin-left: 10upx;margin-top: 10upx;font-size: 38upx;color: #ef5b05;font-weight: 600;"> <text
								 style="font-size: 28upx;">+</text> {{ item.taskOriginalPrice }}元</view>
						</view>
					</uni-list-item>
				</uni-list> -->
				
				<uni-list v-if="taskList.length > 0">
					<uni-list-item :show-arrow="false" v-for="(item, index) in taskList" :key="index">
						<view style="width: 100%;display: flex;" @click="taskItem(item.id)">
						<view style="width:76%;display: flex;">
							<image :src="item.label" style="border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;"></image>
							<view style="width: 75%;margin-left: 20upx;">
								<view style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ item.title }}</view>
								<view style="width: 100%;font-size: 26upx;margin-top: 10upx;color: #999999;">ID:{{item.id}} <text style="margin-left: 20upx;">{{ item.endNum }}人已接，剩余{{ item.taskNum - item.endNum }}个</text></view>
								<view v-if="item.tag" style="font-size: 24upx;background: #fff5f4;padding: 5upx;width: max-content;margin-top: 5upx;color: #ef5b05;">{{item.tag}}</view>
							</view>
						</view>
						<view style="text-align: right;width: 24%;margin-left: 10upx;margin-top: 10upx;font-size: 38upx;color: #ef5b05;font-weight: 600;"> <text style="font-size: 28upx;">+</text> {{ item.taskOriginalPrice }}元</view>
						</view>
					</uni-list-item>
				</uni-list>
				
			</view>
			<view v-if="tabIndex == 2">
				<uni-list v-if="taskList.length > 0">
					<uni-list-item :show-arrow="false" v-for="(item, index) in taskList" :key="index">
						<view style="display: flex;" @click="gofollwUser(item.userId)">
							<image :src="item.imageUrl" style="width: 80upx;height: 80upx;"></image>
							<view style="margin: 20upx ;">{{item.nickName}}</view>
						</view>
					</uni-list-item>
				</uni-list>
			</view>
			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']" style="bottom: 56px;"><text
				 class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="taskList.length > 0">
				<load-more :loadingType="loadingType" :contentText="contentText"></load-more>
			</view>
			<!-- 加载更多提示 -->
			<empty v-if="taskList.length === 0" des="暂无关注信息" show="false"></empty>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: 1,
				size: 10,
				tabIndex: '1',
				tabBars: [{
						name: '任务',
						id: '1'
					},
					{
						name: '派单人',
						id: '2'
					}
				],
				taskList: [],
				loadingType: 0,
				scrollTop: false,
				contentText: {
					contentdown: '上拉显示更多',
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了'
				}
			}
		},
		onLoad() {
			this.getListByIndex1();
		},
		methods: {
			gofollwUser(userId){
				uni.navigateTo({
					url: './followUser?userId=' + userId
				});
			},
			taskItem(id){
				uni.navigateTo({
					url: './taskItem?id=' + id
				});
			},
			tabClick(tab) {
				this.switchTab(tab.id);
			},
			getListByIndex1() {
				this.loadingType = 1;
				uni.showLoading({
					title: '加载中...'
				});
				let userId = this.$queue.getData('userId');
				this.$Request.getT('/helpTask/selectHelpTaskListByAttention?page=' + this.page + '&limit=' + this.size + '&userId=' +
					userId).then(res => {
					if (res.code === 0) {
						if (this.page === 1) {
							this.taskList = [];
						}

						for (var i = 0; i < res.data.pageUtils.list.length; i++) {
							
							if (res.data.pageUtils.list[i].classify === 1) {
								res.data.pageUtils.list[i].title = '【限安卓】' + res.data.pageUtils.list[i].title;
							} else if (res.data.pageUtils.list[i].classify === 2) {
								res.data.pageUtils.list[i].title = '【限苹果】' + res.data.pageUtils.list[i].title;
							}
							
							//价钱=价钱-(价钱*ping+价钱*zhishu +价钱*feizhishu)
							var jiaqian = res.data.pageUtils.list[i].taskOriginalPrice;
							var ping = res.data.ping.rate;
							var zhishu = res.data.zhishu.rate;
							var feizhishu = res.data.feizhishu.rate;
							res.data.pageUtils.list[i].taskOriginalPrice = this.numFilter(jiaqian - (jiaqian * ping + jiaqian * zhishu +
								jiaqian *
								feizhishu));
							this.taskList.push(res.data.pageUtils.list[i]);
						}


						if (res.data.pageUtils.list.length === this.size) {
							this.loadingType = 0;
						} else {
							this.loadingType = 3;
						}
					} else {
						this.loadingType = 2;
					}
					uni.hideLoading();
				});
			},
			getListByIndex2() {
				this.loadingType = 1;
				uni.showLoading({
					title: '加载中...'
				});
				let userId = this.$queue.getData('userId');
				this.$Request.getT('/helpTask/selectAttentionList?page=' + this.page + '&limit=' + this.size + '&userId=' +
					userId).then(res => {
					if (res.code === 0) {
						if (this.page === 1) {
							this.taskList = [];
						}

						res.data.list.forEach(d => {
							this.taskList.push(d);
						});

						// for (var i = 0; i < res.data.pageUtils.list.length; i++) {
						// 	//价钱=价钱-(价钱*ping+价钱*zhishu +价钱*feizhishu)
						// 	var jiaqian = res.data.pageUtils.list[i].taskOriginalPrice;
						// 	var ping = res.data.ping.rate;
						// 	var zhishu = res.data.zhishu.rate;
						// 	var feizhishu = res.data.feizhishu.rate;
						// 	res.data.pageUtils.list[i].taskOriginalPrice = this.numFilter(jiaqian - (jiaqian * ping + jiaqian * zhishu +
						// 		jiaqian *
						// 		feizhishu));
						// 	this.taskList.push(res.data.pageUtils.list[i]);
						// }


						if (res.data.list.length === this.size) {
							this.loadingType = 0;
						} else {
							this.loadingType = 3;
						}
					} else {
						this.loadingType = 2;
					}
					uni.hideLoading();
				});
			},
			numFilter(value) {
				// 截取当前数据到小数点后三位
				let tempVal = parseFloat(value).toFixed(3)
				let realVal = tempVal.substring(0, tempVal.length - 1)
				return realVal
			},
			switchTab(index) {
				this.tabIndex = index;
				this.taskList = [];
				this.page = 1;
				if (index == 1) {
					this.getListByIndex1();
				} else {
					this.getListByIndex2();
				}
			}
		}
	}
</script>

<style lang="less">
	@import '../../../static/less/index.less';
	@import '../../../static/css/index.css';

	page {
		background: #F3F3F3;
	}
</style>
