<template>
	<!-- 我的任务 -->
	<view style="background: #F3F3F3;">
		<view class="tui-tabs">
			<scroll-view id="tab-bar" scroll-with-animation class="tui-scroll-h" :scroll-x="true" :show-scrollbar="false" style="border-bottom: 2upx solid #F8F8F8;">
				<view style="display: flex;">
					<view :key='index' v-for="(tab, index) in tabBars" :id="tab.id" :data-current="index" @tap="tabClick(tab)">
						<view class="tui-tab-item-title" style="margin-left: 60upx;" :class="{ 'tui-tab-item-title-active': tabIndex == tab.id }">{{ tab.name }}</view>
					</view>
				</view>
			</scroll-view>
		</view>

		<!-- #ifdef H5 -->
		<view style="background: #F3F3F3;margin-top: 100upx;">
		<!-- #endif -->
		<!-- #ifdef APP-PLUS -->
		<view style="background: #F3F3F3;margin-top: 20upx;">
		<!-- #endif -->
			<view v-if="newsList.length > 0">
				<view :show-arrow="false" v-for="(item, index) in newsList" :key="index" style="margin: 20upx;background: #FFFFFF;padding: 10upx;height: 210upx;border-radius: 10upx;">
					<view style="width: 100%;display: flex;margin-top: 20upx;" @click="taskItem(item)">
						<image :src="item.label" style="border-radius: 100upx;width: 100upx;height: 100upx;background-size: 100%;margin-left: 10upx;"></image>
						<view style="width:55%;margin-left: 20upx;margin-top: 10upx;">
							<view style="width: 95%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ item.title }}</view>
							<view style="display: flex; flex-direction: row;margin-top: 10upx;" v-if="item.taskPrice">
								<view style="color: orange;font-size: 30upx;">￥{{ item.taskPrice }}元</view>
							</view>
						</view>
						<image v-if="item.state == '已接单'" src="https://renwu.xiansqx.com/img/20210813/b85ace0bc0f244d6ae3b7b2634f60852.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '已提交'" src="https://renwu.xiansqx.com/img/20210813/516247f112a641b38857fc16a0b3d747.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '已通过'" src="https://renwu.xiansqx.com/img/20210813/65dda634514f458296926c4505c7d3e1.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '已拒绝'" src="https://renwu.xiansqx.com/img/20210813/842bb57e6452467fae08b66967be2952.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '已维权'" src="https://renwu.xiansqx.com/img/20210813/8bfecd770d994d70ba83cc57ad902856.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '已放弃'" src="https://renwu.xiansqx.com/img/20210813/9e816a470e1840c681b9b9527fce243d.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '维权拒绝'" src="https://renwu.xiansqx.com/img/20210813/6201ef215d0140eb93f310788f455142.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
						<image v-if="item.state == '已超时'" src="https://renwu.xiansqx.com/img/20210813/8252b84378924535ac7bb63024a5b67f.png" style="width: 60upx;height: 60upx;margin-left: 90upx;margin-top: 20upx;"></image>
					</view>
					<view style="height: 1upx;background: #E6E6E6;margin-top: 20upx;"></view>
					<view style="display: flex;width: max-content;margin-top: 10upx;margin-left: 10upx;width: 100%;">
						<view style="font-size:26upx;margin-right: 30upx;margin-top:5upx;color: #999999;width: 80%;">截止:{{ item.endTime }}</view>
						<view v-if="item.state == '已通过'" class="desc" style="font-size: 24rpx;color: #666666;">{{ item.state }}</view>
					</view>
				</view>
			</view>
			<!-- 悬浮上拉 -->
			<view class="scroll_top" @tap="topScrollTap" v-bind:class="[scrollTop ? 'active' : '', '']" style="bottom: 56px;"><text
				 class="iconfont icon-shangla"></text></view>

			<!-- 加载更多提示 -->
			<view class="s-col is-col-24" v-if="newsList.length > 0">
				<load-more :loadingType="loadingType" :contentText="contentText"></load-more>
			</view>
			<!-- 加载更多提示 -->
			<empty v-if="newsList.length === 0" des="暂无数据" show="false"></empty>
		</view>
	</view>
</template>
<script>
	import uniList from '@/components/uni-list/uni-list.vue';
	import uniListItem from '@/components/uni-list-item/uni-list-item.vue';
	import tuiListCell from '@/components/list-cell/list-cell';
	import tuiLoadmore from '@/components/loadmore/loadmore';
	import tuiNomore from '@/components/nomore/nomore';
	import tuiTips from '@/components/tips/tips';

	export default {
		components: {
			uniList,
			uniListItem,
			tuiListCell,
			tuiLoadmore,
			tuiNomore,
			tuiTips
		},
		data() {
			return {
				newsList: [],
				tabIndex: 'hot',
				tabBars: [{
						name: '全部',
						id: 'hot',
						state: '-1'
					},
					{
						name: '待审核',
						id: 'yule',
						state: '1'
					},
					{
						name: '已通过',
						id: 'sports',
						state: '2'
					},
					{
						name: '未通过',
						id: 'domestic',
						state: '3'
					},
					{
						name: '维权',
						id: 'finance',
						state: '4'
					}
				],
				page: 1,
				size: 10,
				min_id: 1,
				tabState: '-1',
				cid: 0,
				type: 1,
				loadingType: 0,
				scrollTop: false,
				contentText: {
					contentdown: '上拉显示更多',
					contentrefresh: '正在加载...',
					contentnomore: '没有更多数据了'
				}
			};
		},
		onShow() {
			this.loadList(0, this.tabState);
		},
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop > 200;
		},
		methods: {
			topScrollTap: function() {
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 300
				});
			},
			loadList: function(type, status) {
				this.loadingType = 1;
				uni.showLoading({
					title: '加载中...'
				});
				let userId = this.$queue.getData('userId');
				let data = {
					page: this.page,
					limit: this.size,
					state: status,
					userId: userId
				};
				this.$Request.getT('/helpTask/selectParticipationHelpTask', data).then(res => {
					if (res.code === 0) {
						if (this.page === 1) {
							this.newsList = [];
						}
						this.min_id = res.min_id;
						for (var i = 0; i < res.data.list.length; i++) {
							//0接单成功 1提交待审核 2审核成功 3拒绝 4维权 5延期  6维权拒绝
							if (res.data.list[i].state === 0) {
								res.data.list[i].state = '已接单';
							} else if (res.data.list[i].state === 1) {
								res.data.list[i].state = '已提交';
							} else if (res.data.list[i].state === 2) {
								res.data.list[i].state = '已通过';
							} else if (res.data.list[i].state === 3) {
								res.data.list[i].state = '已拒绝';
							} else if (res.data.list[i].state === 4) {
								res.data.list[i].state = '已维权';
							} else if (res.data.list[i].state === 5) {
								res.data.list[i].state = '已放弃';
							} else if (res.data.list[i].state === 6) {
								res.data.list[i].state = '维权拒绝';
							} else if (res.data.list[i].state === 7) {
								res.data.list[i].state = '已超时';
							}
							this.newsList.push(res.data.list[i]);
						}
						if (res.data.list.length === this.size) {
							this.loadingType = 0;
						} else {
							this.loadingType = 3;
						}
					} else {
						this.loadingType = 2;
					}
					uni.hideLoading();
					if (type === 'Refresh') {
						uni.stopPullDownRefresh(); // 停止刷新
					}
				});
			},
			taskItem(item) {
				if (item.state === '已拒绝' || item.state === '已维权') {
					uni.navigateTo({
						url: './rightListItem?id=' + item.id
					});
				} else {
					uni.navigateTo({
						url: './taskItem?id=' + item.id
					});
				}
			},
			tabClick(tab) {
				this.switchTab(tab.id, tab.state);
			},
			tabChange(e) {
				this.switchTab(tab.id, tab.state);
			},
			switchTab(index, state) {
				this.page = 1;
				this.tabState = state;
				this.tabIndex = index;
				this.newsList = [];
				this.loadList('switch', this.tabState);
			}
		},
		onReachBottom: function() {
			this.page = this.page + 1;
			this.loadList('', this.tabState);
		},
		onPullDownRefresh: function() {
			this.page = 1;
			this.min_id = 1;
			this.loadList('Refresh', this.tabState);
		}
	};
</script>

<style lang="less">
	@import '../../../static/less/index.less';
	@import '../../../static/css/index.css';

	page {
		background: #F3F3F3;
	}
</style>
