<template>
	<view>
		<view style="width: 95%;height: 300upx;background: #FFFFFF;margin: 20upx;padding-top: 30upx;padding-left: 20upx;border-radius: 20upx;">
			<view style="font-size: 32upx;color: #000000;font-weight: bold;">设置刷新时长</view>
			<view style="display: flex;margin-top: 10upx;">
				<image src="https://renwu.xiansqx.com/img/20210813/a5f49ab792884f49b497b212f00fc5c5.png" style="width: 30upx;height: 30upx;"></image>
				<view style="font-size: 24upx;color: #636363;margin-left: 10upx;">刷新收费为{{numberMoney}}元/小时</view>
			</view>
			<!-- <view style="display: flex;margin-top: 40upx;padding: 10upx;border: 1upx solid #999999;width: 95%;border-radius: 10upx;">
				<view style="font-size: 34upx;color: #333333;">刷新</view>
				<input type="number" v-model="time" style="width: 77%;margin-left: 10upx;margin-right: 10upx;margin-top: 5upx;text-align: right;" />
				<view style="margin-top: 5upx;font-size: 32upx;color: #999999;">小时</view>
			</view> -->

			<view style="display: flex;margin-top: 40upx;">
				<view style="width: 300upx;height: 90upx;text-align: center;line-height: 90upx;margin: 20upx;background: #E6E6E6;color: #FFFFFF;border-radius: 50upx;"
				 @tap='goBack'>取消</view>
				<view style="width: 300upx;height: 90upx;text-align: center;line-height: 90upx;margin: 20upx;background: #ED3113;color: #FFFFFF;border-radius: 50upx;"
				 @tap='goTopHelpTask'>确认</view>
			</view>
		</view>

		<view style="width: 95%;height: max-content;background: #FFFFFF;margin: 20upx;padding-top: 30upx;padding-left: 20upx;border-radius: 20upx;padding-bottom: 20upx;">
			<view style="font-size: 30upx;color: #000000;font-weight: bold;">刷新是什么？</view>
			<view style="font-size: 26upx;color: #333333;padding: 10upx;">任务刷新是为用户提供的增值服务，对自己已经发布成功的任务，您可以通过付费进行刷新。刷新后该任务就会在该类别的列表页中长时间处在靠前的固定位置 。刷新信息会引起用户更多关注，不会因为有新的任务发布，而使您的任务被挤到后边，以至于无法被关注到。</view>
			<view style="font-size: 30upx;color: #000000;font-weight: bold;">刷新有什么好处？</view>
			<view style="font-size: 26upx;color: #333333;padding: 10upx;">任务刷新后，就能够很容易被更多的人关注到。因为网友在浏览任务时都会先浏览靠前的内容，这样您发布任务的有效性就得到了保障。同时，您还可以根据自己的需求灵活设置刷新任务，以最高效率达到您推广的目的。</view>
		</view>
	</view>
</template>

<script>
	export default {
		components: {},
		data() {
			return {
				helpTask: '',
				time: '',
				numberMoney: 0
			};
		},
		onLoad(d) {
			if (d.helpTaskId) {
				this.helpTaskId = d.helpTaskId;
			}
			this.$Request.getT('/common/type/105').then(res => {
				if (res.code == 0) {
					if (res.data && res.data.value) {
						this.numberMoney = res.data.value;
					}
				}
			})
		},
		onPageScroll: function(e) {
			this.scrollTop = e.scrollTop > 200;
		},
		methods: {
			goBack() {
				uni.navigateBack();
			},
			goTopHelpTask() {
				let userId = this.$queue.getData('userId');
				this.$Request.getT('/helpTask/refreshTaskMoney?userId=' + userId + '&helpTaskId=' + this.helpTaskId)
					.then(res => {
						if (res.code === 0) {
							this.$queue.showToast('刷新成功');
							setTimeout(() =>{
								uni.navigateBack();
							},1000);
						}else{
							if(res.msg == '账户金额不足，请充值！'){
								uni.showModal({
									title: '温馨提示',
									content: '您的账户余额不足，请充值后再来刷新任务',
									showCancel: true,
									cancelText: '取消',
									confirmText: '确认',
									success: res => {
										if(res.confirm){
											uni.navigateTo({
												url: './recharge'
											});
										}
									}
								});
							}else{
								this.$queue.showToast(res.msg);
							}
						}
					});
			}
		},
	}
</script>

<style scoped>
	page {
		background: #F5F5F5;
	}
</style>
