<template>
	<view class="content">
		<view class="view1" v-bind:style="{backgroundImage: 'url('+backgroundImage+')'}">
			<view style="display: flex; flex-direction: row; padding-top: 880upx;" @longpress="logoTime(userImageUrl)">
				<image :src="userImageUrl" style="border-radius: 100upx;width: 100upx;height: 100upx;margin-left: 30upx;"></image>
				<view class="login-view-text1" style="margin-left: 30upx;width: 59%;">
					<view style="color: #FFFFFF;font-size: 16px;">{{ nickName }}</view>
					<view style="color: #FFFFFF; font-size: 12px;margin-top: 20upx;">邀请码:{{invitationCode}}</view>
				</view>
				<canvas canvas-id="qrcode" style="width: 140upx;height: 130upx;" />
			</view>
		</view>
		<view style="display: flex;flex-direction: row;width: 100%; padding: 20upx; margin-top: 20upx;align-items: center;">
			<view style="font-size: 12px;color: #FF5808; width: 100upx;margin-left: 20upx;text-align: center;">长按海报 自动保存</view>
			<image src="https://renwu.xiansqx.com/img/20210813/8699962a1157487a9b7a51945f9b2a9c.png" style="width: 100upx;height: 50upx;margin-left: 40upx;"></image>
			<view style="font-size: 12px;color: #FF5808; width: 100upx;margin-left: 40upx;text-align: center;">发送微信 好友</view>
			<image src="https://renwu.xiansqx.com/img/20210813/8699962a1157487a9b7a51945f9b2a9c.png" style="width: 100upx;height: 50upx;margin-left: 40upx;"></image>
			<view style="font-size: 12px;color: #FF5808; width: 140upx;margin-left: 40upx;text-align: center;">好友注册并 成为正式会员</view>
		</view>
		<view style="display: flex;flex-direction: row; padding: 40upx;">
			<!-- #ifdef H5 -->
			<button @click="share()" type="default" style="background-color: #FFCB49;font-size: 16px;font-weight: bold;color: #FFFFFF; width: 50%;">分享邀请链接</button>
			<!-- #endif -->
			<!-- #ifdef APP-PLUS -->
			<button @click="shareWeiXin()" type="default" style="background-color: #FFCB49;font-size: 16px;font-weight: bold;color: #FFFFFF; width: 50%;">分享邀请链接</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN -->
			<button open-type='share' type="default" style="background-color: #FFCB49;font-size: 16px;font-weight: bold;color: #FFFFFF; width: 50%;">分享邀请好友</button>
			<!-- #endif -->
			<!-- #ifndef MP-WEIXIN -->
			<button @tap="showModal()" type="default" style="background-color: #FF5808;font-size: 16px;font-weight: bold;color: #FFFFFF; width: 50%; margin-left: 40upx;">生成海报邀请</button>
			<!-- #endif -->
			<!-- #ifdef MP-WEIXIN -->
			<button @tap="showModal()" type="default" style="background-color: #FF5808;font-size: 16px;font-weight: bold;color: #FFFFFF; width: 50%; margin-left: 40upx;">生成海报邀请</button>
			<!-- #endif -->

			<!-- 生成海报 -->
			<!-- 图片展示由自己实现 -->
			<view class="flex_row_c_c modalView" :class="qrShow?'show':''" @tap="hideQr()">
				<view class="flex_column">
					<view class="backgroundColor-white padding1vh border_radius_10px">
						<image :src="poster.finalPath || ''" mode="widthFix" class="posterImage"></image>
					</view>
					<view class="flex_row marginTop2vh">
						<!-- #ifdef H5 -->
						<button type="primary" size="mini" >长按上方图片保存</button>
						<!-- #endif -->
						<!-- #ifndef H5 -->
						<button type="primary" size="mini" @tap.prevent.stop="saveImage()">保存图片</button>
						<!-- #endif -->
					</view>
				</view>
			</view>
			<!-- 画布 -->
			<view class="hideCanvasView">
				<canvas class="hideCanvas" canvas-id="default_PosterCanvasId" :style="{width: (poster.width||10) + 'px', height: (poster.height||10) + 'px'}"></canvas>
			</view>
		</view>
		<tki-qrcode ref="qrcode" :val="url" :size="200" background="#fff" foreground="#000" pdground="#000" :onval="true"
		 :loadMake="true" @result="qrR" :show="false"></tki-qrcode>
		<!-- <view class="cu-modal" :class="modalName == 'Image' ? 'show' : ''" @tap="hideModal">
			<view class="cu-dialog" v-if="backgroundImage && erweimapath && haibaoShow" @tap="hideModal">
				<view class="bg-img">
					<wm-poster @success="posterSuccess" :imgSrc="backgroundImage" :Referrer="'我的邀请码:'+invitationCode" :QrSrc="erweimapath" Title="快来和我一起做任务赚零花钱吧!"
					 :LineType="false"></wm-poster>
				</view>
			</view>
		</view> -->
		
		<!-- #ifdef MP-WEIXIN -->
		<view class="cu-modal" :class="modalName == 'Image' ? 'show' : ''" @tap="hideModal">
			<view class="cu-dialog" v-if="backgroundImage && Qrerweima && haibaoShow" @tap="hideModal">
				<view class="bg-img">
					<wm-poster @success="posterSuccess" :imgSrc="backgroundImage" :Referrer="'我的邀请码:'+invitationCode" :QrSrc="Qrerweima" Title="快来和我一起做任务赚零花钱吧!"
					 :LineType="false"></wm-poster>
				</view>
			</view>
		</view>
		<!-- #endif -->
		<!-- #ifndef MP-WEIXIN -->
		<view class="cu-modal" :class="modalName == 'Image' ? 'show' : ''" @tap="hideModal">
			<view class="cu-dialog" v-if="backgroundImage && erweimapath && haibaoShow" @tap="hideModal">
				<view class="bg-img">
					<wm-poster @success="posterSuccess" :imgSrc="backgroundImage" :Referrer="'我的邀请码:'+invitationCode" :QrSrc="erweimapath" Title="快来和我一起做任务赚零花钱吧!"
					 :LineType="false"></wm-poster>
				</view>
			</view>
		</view>
		<!-- #endif -->
	</view>
</template>

<script>
	import tkiQrcode from '@/components/tki-qrcode/tki-qrcode.vue';
	import appShare from '@/utils/share.js';
	import wmPoster from '@/components/wm-poster/wm-posterorders.vue';
	import uQRCode from "@/js_sdk/Sansnn-uQRCode/uqrcode.js"
	import _app from '@/js_sdk/QuShe-SharerPoster/QS-SharePoster/app.js';
	// import getSharePoster from '@/js_sdk/QuShe-SharerPoster/QS-SharePoster/QS-SharePoster.js';
	export default {
		components: {
			tkiQrcode,
			wmPoster
			// getSharePoster
		},
		data() {
			return {
				erweimapath: '',
				poster: {},
				qrShow: false,
				haibaoImg: null,
				haibaoShow: false,
				modalName: '',
				canvasId: 'default_PosterCanvasId',
				imageUrl: '',
				userImageUrl: '',
				nickName: '',
				invitationCode: '',
				backgroundImage: '',
				tuiguang: '',
				url: '',
				posterShow: false, //海报模态框
				Qrerweima:'',//小程序码
				maxMoney: '0.7',
				minMoney:'0.3'
			};
		},
		onLoad() {
			this.goList();
			this.getBackImageList();
		},
		onShareAppMessage(res) {
			return {
				path: '/pages/index/index?invitation=' + this.invitationCode, //这是为了传参   onload(data){let id=data.id;} 
				title: this.tuiguang,
				imageUrl: this.backgroundImage
			}
		},
		methods: {
			// 创建海报
			createPoster() {
				return new Promise((resolve, reject) => {
					uni.showLoading({
						title: '海报生成中'
					});
					const ctx = uni.createCanvasContext('poster');
					ctx.fillRect(0, 0, 375, 673);
					ctx.setFillStyle("#FFF");
					ctx.fillRect(0, 0, 375, 673);
					uni.downloadFile({
						url: this.backgroundImage,
						success: (res) => {
							if (res.statusCode === 200) {
								ctx.drawImage(res.tempFilePath, 0, 0, 375, 375);
								uni.downloadFile({
									url: this.Qrerweima,
									success: (res2) => {
										if (res.statusCode === 200) {
											let textTop = 0;
											// 商品标题
											ctx.setFontSize(21);
											ctx.setFillStyle('#000');
											let drawtextList = this.$queue.drawtext(this.goods.itemtitle, 320);
											drawtextList.forEach((item, index) => {
												if (index < 2) {
													textTop = 380 + (index + 1) * 28;
													ctx.fillText(item.content, 17, textTop);
												}
											});
											// 淘乐购优选好物
											ctx.setFontSize(21);
											ctx.setFillStyle('#000');
											ctx.fillText(""+this.tuiguang, 17, textTop + 136);
											// 长按识别二维码访问
											ctx.setFontSize(12);
											ctx.setFillStyle('#999');
											ctx.fillText("长按或扫描二维码识别", 17, textTop + 166);
											// 二维码
											ctx.drawImage(res2.tempFilePath, 238, textTop + 88, 120, 120);
											ctx.draw(true, () => {
												// canvas画布转成图片并返回图片地址
												uni.canvasToTempFilePath({
													canvasId: 'poster',
													width: 375,
													height: 673,
													success: (res) => {
														console.log("海报制作成功！");
														resolve(res.tempFilePath);
													},
													fail: () => {
														uni.hideLoading();
														reject();
													}
												})
											});
										} else {
											uni.hideLoading();
											uni.showToast({
												title: '海报制作失败，图片下载失败',
												icon: 'none'
											});
										}
									},
									fail: err => {
										console.log(err)
										uni.hideLoading();
										uni.showToast({
											title: '海报制作失败，图片下载失败',
											icon: 'none'
										});
									}
								});
							} else {
								uni.hideLoading();
								uni.showToast({
									title: '海报制作失败，图片下载失败',
									icon: 'none'
								});
							}
						},
						fail: err => {
							uni.hideLoading();
							uni.showToast({
								title: '海报制作失败，图片下载失败',
								icon: 'none'
							});
						}
					});
				});
			},
			// 保存图片
			async onSaveImg() {
				let imgUrl = await this.createPoster();
				// #ifdef MP-WEIXIN
				uni.showLoading({
					title: '海报下载中'
				});
				if (settingWritePhotosAlbum) {
					uni.getSetting({
						success: res => {
							if (res.authSetting['scope.writePhotosAlbum']) {
								uni.saveImageToPhotosAlbum({
									filePath: imgUrl,
									success: () => {
										uni.hideLoading();
										uni.showToast({
											title: '保存成功'
										});
									}
								});
							} else {
								uni.showModal({
									title: '提示',
									content: '请先在设置页面打开“保存相册”使用权限',
									confirmText: '去设置',
									cancelText: '算了',
									success: data => {
										if (data.confirm) {
											uni.hideLoading();
											uni.openSetting();
										}
									}
								});
							}
						}
					});
				} else {
					uni.hideLoading();
					settingWritePhotosAlbum = true;
					uni.authorize({
						scope: 'scope.writePhotosAlbum',
						success: () => {
							uni.saveImageToPhotosAlbum({
								filePath: imgUrl,
								success: () => {
									uni.hideLoading();
									uni.showToast({
										title: '保存成功'
									});
								}
							});
						}
					});
				}
				// #endif
			},
			closePosterShow() {
				this.posterShow = false;
			},
			savePosterPath() {
				uni.showActionSheet({
					itemList: ['保存到本地'],
					success: (res) => {
						this.onSaveImg();
					}
				});
			},
			posterSuccess(haibaoImg) {
				this.haibaoImg = haibaoImg;
				this.modalName = 'Image';
			},
			showModal() {
				if (!this.haibaoImg) {
					this.haibaoShow = true;
					this.$queue.showLoading('海报生成中...');
				} else {
					this.modalName = 'Image';
				}
			},
			hideModal() {
				this.modalName = null;
			},
			qrR(path) {
				this.erweimapath = path;
			},
			getBackImageList() {
				this.$Request.getT('/banner/selectInvitationBackground').then(res => {
					if (res.code === 0) {
						this.backgroundImage = res.data.imageUrl;
						this.tuiguang = res.data.describes + '\n';
					}
				});
			},
			make() {
				uQRCode.make({
					canvasId: 'default_PosterCanvasId',
					componentInstance: this,
					text: this.url,
					size: 68,
					margin: 4,
					backgroundColor: '#ffffff',
					foregroundColor: '#000000',
					fileType: 'jpg',
					correctLevel: uQRCode.errorCorrectLevel.H,
					success: res => {
						console.log(res)
					}
				})
			},
			shareWeiXin() {
				let relationId = this.invitationCode;
				let shareData = {
					shareUrl: this.url,
					shareTitle: '邀请你加入省钱兄！做任务，邀好友，赚大钱！',
					shareContent: '邀请码：' + relationId + '，点击进入，在省钱兄中和我一起做任务赚大钱吧！',
					shareImg: this.$queue.publicYuMing() + '/logo.png',
					type: 0
				};
				appShare(shareData, res => {
					console.log('分享成功回调', res);
				});
			},
			share() {
				this.sharurl();
			},
			sharurl() {
				let that = this;
				// this.$queue.showLoading('加载中...');
				uni.showModal({
					title: '链接推广',
					content: this.tuiguang + this.url,
					showCancel: true,
					cancelText: '关闭',
					confirmText: '一键复制',
					success: res => {
						if (res.confirm) {
							uni.setClipboardData({
								data: this.tuiguang + this.url,
								success: function() {
									console.log('success');
									that.$queue.showToast('复制成功');
								}
							});
						}
					}
				});
			},
			logoTime(urlList) {
				uni.previewImage({
					current: 0,
					urls: urlList,
					loop: true,
					longPressActions: {
						itemList: ['收藏'],
						itemColor: "#007AFF"
					}
				})
			},
			goList() {
				let userId = this.$queue.getData('userId');
				this.$Request.getT('/invite/selectInviteAndPoster?userId=' + userId).then(res => {
					if (res.code === 0) {
						if (res.data.user.imageUrl) {
							this.userImageUrl = res.data.user.imageUrl;
						} else {
							this.userImageUrl = '/static/logo2.jpg';
						}

						if (res.data.user.nickName) {
							this.nickName = res.data.user.nickName;
						} else {
							this.nickName = res.data.user.phone;
						}
						this.invitationCode = res.data.user.invitationCode;
						this.imageUrl = res.data.url;
						// #ifdef APP-PLUS
						this.url = this.$queue.publicYuMing() + '/pages/member/download?invitation=' + this.invitationCode;
						//#endif
						// #ifdef H5
						this.url = this.$queue.publicYuMing() + '/?invitation=' + this.invitationCode;
						//#endif
						// #ifdef MP-WEIXIN
						this.Qrerweima = this.$queue.publicYuMing() + '/sqx_fast/user/mpCreateQr?invitation=' + this.invitationCode;
						// this.Qrerweima = 'http://192.168.1.17:8893/sqx_fast/user/mpCreateQr?invitationCode=' + this.invitationCode;
						// #endif
						this.make();
					}
				});
			},
			async shareFc() {
				let _this = this;
				try {
					const d = await getSharePoster({
						type: 'testShareType',
						backgroundImage: _this.backgroundImage,
						posterCanvasId: _this.canvasId, //canvasId
						delayTimeScale: 20, //延时系数
						drawArray: ({
							bgObj,
							type,
							bgScale
						}) => {
							const dx = bgObj.width * 0.3;
							const fontSize = bgObj.width * 0.045;
							const lineHeight = bgObj.height * 0.04;
							//可直接return数组，也可以return一个promise对象, 但最终resolve一个数组, 这样就可以方便实现后台可控绘制海报
							return new Promise((rs, rj) => {
								rs([{
										type: 'custom',
										setDraw(Context) {
											Context.setFillStyle('black');
											Context.setGlobalAlpha(0.3);
											Context.fillRect(0, bgObj.height - bgObj.height * 0.2, bgObj.width, bgObj.height * 0.2);
											Context.setGlobalAlpha(1);
										}
									},
									{
										type: 'text',
										fontStyle: 'italic',
										text: '邀请码:' + _this.invitationCode,
										size: fontSize,
										color: 'white',
										alpha: 1,
										textAlign: 'left',
										textBaseline: 'middle',
										infoCallBack(textLength) {
											return {
												dx: bgObj.width - textLength - fontSize,
												dy: bgObj.height - lineHeight * 3
											}
										},
										serialNum: 0,
										id: 'tag1' //自定义标识
									},
									{
										type: 'qrcode',
										text: _this.url,
										size: bgObj.width * 0.2,
										dx: bgObj.width * 0.05,
										dy: bgObj.height - bgObj.width * 0.25
									}
								]);
							})
						},
						setCanvasWH: ({
							bgObj,
							type,
							bgScale
						}) => { // 为动态设置画布宽高的方法，
							_this.poster = bgObj;
						}
					});
					//_app.log('海报生成成功, 时间:' + new Date() + '， 临时路径: ' + d.poster.tempFilePath)
					_this.poster.finalPath = d.poster.tempFilePath;
					_this.qrShow = true;
				} catch (e) {
					_app.hideLoading();
				}
			},
			saveImage() {
				uni.saveImageToPhotosAlbum({
					filePath: this.poster.finalPath,
					success(res) {
						_app.showToast('保存成功');
					}
				})
			},
			hideQr() {
				this.qrShow = false;
			}
		}
	}
</script>

<style scoped>
	page {
		background: #ffffff;
	}

	.view1 {
		background-size: 100%;
		width: 95%;
		height: 1000upx;
		margin: 20upx 20upx 0 20upx;
	}

	.hideCanvasView {
		position: relative;
	}

	.hideCanvas {
		position: fixed;
		top: -99999upx;
		left: -99999upx;
		z-index: -99999;
	}

	.flex_row_c_c {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.modalView {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		outline: 0;
		transform: scale(1.2);
		perspective: 2500upx;
		background: rgba(0, 0, 0, 0.6);
		transition: all .3s ease-in-out;
		pointer-events: none;
		backface-visibility: hidden;
		z-index: 999;
	}

	.modalView.show {
		opacity: 1;
		transform: scale(1);
		pointer-events: auto;
	}

	.flex_column {
		display: flex;
		flex-direction: column;
	}

	.backgroundColor-white {
		background-color: white;
	}

	.border_radius_10px {
		border-radius: 10px;
	}

	.padding1vh {
		padding: 1vh;
	}

	.posterImage {
		width: 60vw;
	}

	.flex_row {
		display: flex;
		flex-direction: row;
	}

	.marginTop2vh {
		margin-top: 2vh;
	}
	
	
</style>
